.tabs-icon-top {
  .message-on {
    background-image: url("../img/tabs/message-f@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px;
  }

  .message-off {
    background-image: url("../img/tabs/message-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px;
  }

  .tab-item.activated  {
    .message-off {
      background-image: url("../img/tabs/message-f@3x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 29px;
    }
    .application-off {
      background-image: url("../img/tabs/application-F@3x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
    }
    .contact-off {
      background-image: url("../img/tabs/contact-B@3x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
    }
    .mine-off {
      background-image: url("../img/tabs/mine-B@3x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 29px;
    }
  }

  .application-on {
    background-image: url("../img/tabs/application-F@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  .application-off {
    background-image: url("../img/tabs/application-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  .contact-on {
    background-image: url("../img/tabs/contact-B@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  .contact-off {
    background-image: url("../img/tabs/contact-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  .mine-on {
    background-image: url("../img/tabs/mine-B@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px;
  }

  .mine-off {
    background-image: url("../img/tabs/mine-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px;
  }
}
