<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': hideTabs}">
  <ion-tab title="消息" icon-off="message-off-new" icon-on="message-on-new" href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

  <ion-tab title="应用" icon-off="application-off-new" icon-on="application-on-new" href="#/tab/application">
    <ion-nav-view name="tab-application"></ion-nav-view>
  </ion-tab>

  <ion-tab title="通讯录" icon-off="contact-off-new" icon-on="contact-on-new" href="#/tab/contactCrm">
    <ion-nav-view name="tab-contactCrm"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-off="mine-off-new" icon-on="mine-on-new" href="#/tab/myInfo">
    <ion-nav-view name="tab-myInfo"></ion-nav-view>
  </ion-tab>
</ion-tabs>


<div class="application-guide" ng-if="showGuideFlag">
  <div style="height: 100%;width: 100%;background: none" ng-click="buttonTapped()"></div>
</div>
