<div ng-controller="OpportunityDetailBidbondCtrl" class="crm opportunity-detail-bidbond">
	<crm-loading ng-if="showLoading"></crm-loading>
	<ion-refresher pulling-text="正在刷新数据" pulling-icon="ion-ios-loop" on-refresh="doRefresh()">
	</ion-refresher>

	<!--保证金列表-->
	<div class="opportunity-item" style="background-position: top bottom;" ng-repeat="item in bidbond" ng-click="goEditBidbond(item)">
		<div class="item-header">
			{{'BIDBOND.APPLY_DATE'|T}}：{{item.applicationDate}}
			<span>{{item.workflowStatusName}}</span>
			
		</div>
		<div class="opportunity-info">

			<div class="opportunity-name">{{item.fullName}}</div>
			<div class="opportunity-belong">{{item.customerName}}</div>
			<div class="opportunity-belong" id="appid" ng-show="item.applicationId!=''">{{'BIDBOND.APPLICATIONID'|T}}：{{item.applicationId}}</div>

			<div class="more-bottom-margin">
				<span class="cost-title">{{'BIDBOND.APPLY_AMOUNT'|T}}</span>
				<span class="money">{{item.paymentAmount}} {{item.currencyName}}</span>
			</div>
		</div>
	</div>

	<ion-infinite-scroll   immediate-check="false" ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%">
	</ion-infinite-scroll>

</div>