<ion-view view-title="地图选择" class="carpooling-map-choose">
  <div class="carpooling-map-header-bar">
    <div class="platform-status-bar"></div>
    <ion-header-bar class="bar-ion-header"align-title="center" >
      <div class="buttons">
        <button class="button" ng-click="myCallback()" style="background: transparent;">
          <span class="create-back-button-text">确定</span>
        </button>
      </div>
      <h1 class="title header-title-color">选择地图</h1>
      <div ng-if="!showLocation">
        <ion-spinner icon="ripple" class="spinner spinner-ios" style=" position: absolute;right: 10px;margin-top: 3px;width: 20px;height: 20px;" ></ion-spinner>
      </div>
      <div class="buttons" ng-if="showLocation">
        <button class="button button-icon ion-location" >
          <span class="create-back-button-text">{{cityCode}}</span>
        </button>
      </div>
    </ion-header-bar>
    <div class="set-end row">
      <div class="carpooling-header-oval col-13">
        <div style="width: 8px;height: 61px;text-align: center;margin-left: 35px">
          <img src="build/img/application/carpooling/Oval@3x.png" class="oval-img">
          <div class="oval-line"></div>
          <img src="build/img/application/carpooling/Oval@3x.png" class="oval-img">
        </div>
      </div>
      <div class="carpooling-header-oval-fill-in col-65">
        <div  class="fill-in-set row" id="tips">
          <input type="text" id="departure" placeholder="请输入起点"  class="creater-oval-start-text" ng-click="inputStatus('departure')"/>
        </div>
        <div class="fill-in-line"></div>
        <div class="fill-in-end row">
          <input type="text" id="destination" placeholder="请输入终点"    class="creater-oval-end-text" ng-click="inputStatus('destination')"/>
        </div>

      </div>
      <div class="carpooling-header-oval-exchange col-21">
        <div style="text-align: center" ng-click="exchange()">
          <img src="build/img/application/carpooling/exchange@3x.png" class="img-exchange">
        </div>
      </div>
    </div>
  </div>
  <div id="mapContainer" style="position: absolute;top: 170px;"></div>
</ion-view>
