<ion-view view-title="创建拼车">
    <div class="carpooling-create-header-bar">
      <div class="platform-status-bar"></div>
      <ion-header-bar class="bar-ion-header"align-title="center" >
        <h1 class="title header-title-color">创建拼车</h1>
        <div class="buttons">
        <button class="button button-icon ion-location" ng-click="get_location()">
          <span class="create-back-button-text">上海</span>
        </button>
      </div>
      </ion-header-bar>
    <div class="set-end row">
      <div class="carpooling-header-oval col-13">
        <div style="width: 8px;height: 61px;text-align: center;margin-left: 35px">
          <img src="build/img/application/carpooling/Oval@3x.png" class="oval-img">
          <div class="oval-line"></div>
          <img src="build/img/application/carpooling/Oval@3x.png" class="oval-img">
        </div>
      </div>


      <div class="carpooling-header-oval-fill-in col-65">
        <div class="fill-in-set row" ng-click="goMap()">
          <input type="text" placeholder="请输入起点" class="creater-oval-start-text" readOnly="true">
        </div>
        <div class="fill-in-line"></div>
        <div class="fill-in-end row" ng-click = goMap()>
          <input type="text" placeholder="请输入终点" class="creater-oval-end-text" readOnly="true" >
        </div>
      </div>
      <div class="carpooling-header-oval-exchange col-21">
        <div style="text-align: center">
          <img src="build/img/application/carpooling/exchange@3x.png" class="img-exchange">
        </div>
      </div>
    </div>


      <div class="choose-car row">
        <div class="select-car col col-40 col-offset-5 col-center">
           <div class="create-back-color" id="createCarColor" ></div>
           <div class="createCarFour" ng-click="createCarFour()">
             <img on-click="createCarColor()" ng-src="{{fourSeatBg}}" style="width: 30px;height: 10px;;">
           </div>
          <div class="createCarSeven" ng-click="createCarSeven()">
            <img ng-src="{{servenSeatBg}}" style="width: 30px;height:10px;;">
          </div>
        </div>
        <div class="select-passenger col col-60 col-offset-64">
          <div class="circle-passenger">
            <span >{{carTypes}}人</span>
          </div>
        </div>
      </div>
    </div>
  <ion-content class="create-content" style="top: 208px;">
   <div class="create-detail" ng-style="{height:fourSeat?'440px':'520px'}">
        <div  class="rectangle71">
          <span style="font-size: 14px;">时间及同行</span>
        </div>
        <div class="detail-particular">
          <span style="color: #4a4a4a;font-size: 16px;">出发时间：</span>
          <div style="float: right;margin-right: 10px;" ng-click="selectTime()"><span style="color: #9b9b9b;">{{departureTime}}</span></div>
        </div>
        <div class="detail-particular">
         <span style="color: #4a4a4a;font-size: 16px;">时间偏好：</span>
         <div style="float: right;margin-right: 10px;" ng-click="openModal()"><span style="color: #9b9b9b;">{{timePreference}}</span></div>
       </div>

     <div class="create-detail-particular">
       <div  style="height:44px;">
         <div  style="margin-left: -5px;">
           <span style="color: #4a4a4a;font-size: 16px;">其他说明：</span>
         </div>
       </div>
       <div class="create-input ">
         <input type="text"  class="create-input-explain" placeholder="请输入其他说明" id="inputExplain"/>
       </div>
     </div>
     <div class="create-detail-particular">
       <div class="create-cost-up">
         <div class="create-cost-text" >
           <span class="create-cost-plan">费用计划：</span>
         </div>
         <div class="create-cost-perference" >
           <div class="cost-plan-text" style=" margin-left: 0px;" id="costFree" ng-click="choose('costFree',1)"><span>免费</span></div>
           <div class="cost-plan-text" id="costAA" ng-click="choose('costAA',2)"><span>&nbsp;AA&nbsp;</span></div>
           <div class="cost-plan-text" id="costOne" ng-click="choose('costOne',3)"><span>一口价</span></div>
         </div>
       </div>
       <div class="create-other-cost-plan">
         <input type="text" id="inputOther"  ng-model="inputOther"   class="create-other-cost-input" style="background:transparent;" placeholder="或输入其他费用计划">
       </div>
     </div>
     <div class="create-detail-particular" ng-style="{height:fourSeat?'130px':'220px'}">
       <div class="create-peer">
         <span class="create-peer-staff">同行人员：</span>
         <div class="create-img-add" ng-click="addContact()">
            <img src="build/img/application/carpooling/add@3x.png" style="width: 17px;height: 17px;">
         </div>
         <span class="create-peer-add-text">还可添加{{availableSeats}}位</span>
       </div>
      <div class="create-peer-list">
        <div class="create-peer-list-item">
          <img class="create-peer-icon" ng-src="{{carpoolingJoin[0].avatar}}">
          <span class="{{carpoolingJoin[0].empFont}}" >{{carpoolingJoin[0].empName}}</span>
        </div>

        <div class="create-peer-list-item">
          <img class="create-peer-icon" ng-src="{{carpoolingJoin[1].avatar}}">
          <div ng-if="carpoolingJoin[1].flag" ng-click="deleteContact(1)">
            <img class="create-delete-icon" src="build/img/application/carpooling/delete@3x.png" >
          </div>
          <span class="{{carpoolingJoin[1].empFont}}" >{{carpoolingJoin[1].empName}}</span>
          <div ng-click="goLock(1)" ng-if="!carpoolingJoin[1].flag">
            <img class="create-img-lock" ng-src="{{carpoolingJoin[1].lockIcon}}">
            <span class="{{carpoolingJoin[1].lockFont}}">{{carpoolingJoin[1].lock}}</span>
          </div>
        </div>

        <div class="create-peer-list-item">
          <img class="create-peer-icon" ng-src="{{carpoolingJoin[2].avatar}}">
          <div  ng-if="carpoolingJoin[2].flag" ng-click="deleteContact(2)">
            <img class="create-delete-icon" src="build/img/application/carpooling/delete@3x.png">
          </div>
          <span class="{{carpoolingJoin[2].empFont}}" >{{carpoolingJoin[2].empName}}</span>
          <div ng-click="goLock(2)" ng-if="!carpoolingJoin[2].flag">
            <img class="create-img-lock" ng-src="{{carpoolingJoin[2].lockIcon}}">
            <span class="{{carpoolingJoin[2].lockFont}}">{{carpoolingJoin[2].lock}}</span>
          </div>
        </div>
        <div class="create-peer-list-item">
          <img class="create-peer-icon" ng-src="{{carpoolingJoin[3].avatar}}">
          <div ng-if="carpoolingJoin[3].flag" ng-click="deleteContact(3)">
            <img class="create-delete-icon" src="build/img/application/carpooling/delete@3x.png" >
          </div>
          <span class="{{carpoolingJoin[3].empFont}}" >{{carpoolingJoin[3].empName}}</span>
          <div ng-click="goLock(3)" ng-if="!carpoolingJoin[3].flag">
            <img class="create-img-lock" ng-src="{{carpoolingJoin[3].lockIcon}}">
            <span class="{{carpoolingJoin[3].lockFont}}">{{carpoolingJoin[3].lock}}</span>
          </div>
        </div>

      </div>
       <!--七人座-->
       <div class="create-peer-list" ng-if="!fourSeat" style="margin-top: 30px">
         <div class="create-peer-list-item">
           <img class="create-peer-icon" ng-src="{{carpoolingJoin[4].avatar}}">
           <div ng-if="carpoolingJoin[4].flag" ng-click="deleteContact(4)">
             <img class="create-delete-icon" src="build/img/application/carpooling/delete@3x.png" >
           </div>
           <span class="{{carpoolingJoin[4].empFont}}" >{{carpoolingJoin[4].empName}}</span>
           <div ng-click="goLock(4)" ng-if="!carpoolingJoin[4].flag">
             <img class="create-img-lock" ng-src="{{carpoolingJoin[4].lockIcon}}">
             <span class="{{carpoolingJoin[4].lockFont}}">{{carpoolingJoin[4].lock}}</span>
           </div>
         </div>
         <div class="create-peer-list-item">
           <img class="create-peer-icon" ng-src="{{carpoolingJoin[5].avatar}}">
           <div ng-if="carpoolingJoin[5].flag" ng-click="deleteContact(5)">
             <img class="create-delete-icon" src="build/img/application/carpooling/delete@3x.png" >
           </div>
           <span class="{{carpoolingJoin[5].empFont}}" >{{carpoolingJoin[5].empName}}</span>
           <div ng-click="goLock(5)" ng-if="!carpoolingJoin[5].flag">
             <img class="create-img-lock" ng-src="{{carpoolingJoin[5].lockIcon}}">
             <span class="{{carpoolingJoin[5].lockFont}}">{{carpoolingJoin[5].lock}}</span>
           </div>
         </div>
         <div class="create-peer-list-item">
           <img class="create-peer-icon" ng-src="{{carpoolingJoin[6].avatar}}">
           <div ng-click="deleteContact(6)" ng-if="carpoolingJoin[6].flag">
             <img class="create-delete-icon" src="build/img/application/carpooling/delete@3x.png" >
           </div>
           <span class="{{carpoolingJoin[6].empFont}}" >{{carpoolingJoin[6].empName}}</span>
           <div ng-click="goLock(6)" ng-if="!carpoolingJoin[6].flag">
             <img class="create-img-lock" ng-src="{{carpoolingJoin[6].lockIcon}}">
             <span class="{{carpoolingJoin[6].lockFont}}">{{carpoolingJoin[6].lock}}</span>
           </div>
         </div>
       </div>

     </div>
     <div class="button-release">
       <button type="button" ng-click="createCarpooling()"  class="create-submit" >发布</button>
     </div>
   </div>
  </ion-content>
</ion-view>
