<ion-view view-title="审批详情">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="backButtonText">返回</span>
      </button>
    </div>
    <h1 class="title">审批详情</h1>

    <div class="buttons">
      <button class="button button-clear">
        <span class="barRightButton">取消</span>
      </button>
    </div>
  </ion-header-bar>
  <div class="aeDetailHead">
    <div class="aeDetailHeadContent">
      <div class="contentText">成志维　4040　上海　正式</div>
      <div class="contentText">汉得内部项目-移动内部开发-1</div>
    </div>
  </div>
  <ion-content class="hrms-pancel-corlor" scrollbar-y="false">
    <div class="ts-ae-detail-item">
      <div class="row aeItemsHead">
        <span class="itemWidth">差补</span>
        <span class="itemWidth">津贴</span>
        <span class="itemWidth">机票</span>
        <span class="itemWidth">计费</span>
        <span class="itemWidth" style="width: 28%">说明</span>
      </div>
      <div class="liner-ts-ae-detail"></div>
      <div class="ts-approve-detail-item" ng-repeat="i in ['1','2','3','4']">
        <div class="row aeItemHead">
          <span class="itemWidth">0</span>
          <span class="itemWidth">0</span>
          <span class="itemWidth noIcon"></span>
          <span class="itemWidth yesIcon"></span>
          <span class="itemWidth descripText">工作流自动填写</span>
        </div>
        <div class="item-date">
          2016-09-16 星期日
        </div>
        <div class="itemBottomliner"></div>
        <div class="selecetIcon"></div>
      </div>
    </div>
  </ion-content>
  <footer-select
    select-all-item="selectAllDetail()"
    pass-through="passThroughDetailItem()"
    refuse="refuseDetailItem()">
  </footer-select>
</ion-view>
