.offerDetail{
  * {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }
  .action-sheet .button {
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    border-radius: 0;
    border-color: #e5ecef;
    background-color: transparent;
    color: #d8d8d8!important;
    font-size: 21px;
  }
  .row{
    margin:0;
    padding:0
  }
  .col{
    margin:0;
    padding:0;
  }
  .calibration{
    width: 95%;
    border: 1px solid #FFC701;
    font-size: 13px;
    text-align: center;
    color: #FFC701;
    height: 18px;
    line-height: 18px;
  }
  .bid{
    width: 95%;
    border: 1px solid #3FD0AD;
    font-size: 13px;
    text-align: center;
    color: #3FD0AD;
    height: 18px;
    line-height: 18px;
  }
  .OFFER_STATUS_APPROVAL{
    color:#f5c313 ;
    text-align:right;
  }
  .OFFER_STATUS_BIDED{
    color:#9ed661 ;
    text-align:right;
  }
  .OFFER_STATUS_APPROVED{
    color:#9ed661 ;
    text-align:right;
  }
  .OFFER_STATUS_UNCOMMITTED{
    color:#fe6d4b ;
    text-align:right;
  }
  .OFFER_STATUS_INVALID{
    color: #ADB4BE;
    text-align:right;
  }
  .OFFER_STATUS_REFUSE{
    color: #FA3A3A;
    text-align:right;
  }
  .line-through{
    text-decoration:line-through;
  }
  .text-align-right{
    text-align: right;
  }
  .choose-opp{
    color:#1F8CEB;
    height: 50px;
    line-height: 50px;
    font-size:17px;
    text-align:center;
    margin-top:20px;
    background:#fff;
    margin-bottom:20px;
    img{
      width: 20px;
      position: relative;
      top: 3px;
      right: 6px;
    }
  }
  .blue-money{
    color: #1F8CEB;
    font-size: 18px;
  }
  .exchangeRate{
    font-size: 14px;
    margin-top:5px;
    color: #adb4be;
  }
  .head-offer{
    background:#fff;
    .header-item{
      padding:15px 15px 0 15px;
    }
    .header-name{
      font-size: 16px;
      display:block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    .header-name-item{
      color: #606771;
      padding:15px;
      font-size: 15px;
      border-bottom:1px solid rgba(221, 221, 221, 0.6);
    }
    .remark{
      color: #272e38;
      padding:15px;
      font-size: 15px;
      border-bottom:1px solid rgba(221, 221, 221, 0.6);
      div{
        color:#272e38;
        text-align:justify;
        text-justify: distribute-all-lines;
        text-align-last:justify;
      }
    }
    .header-money{
      padding: 15px;
      color: #858c96;
      font-size: 15px;
    }

    .add-row{
      color:#1F8CEB;
      padding:15px;
      font-size:16px;
      background:#fff;
      border-top:1px solid rgba(221, 221, 221, 0.6);
      img{
        width: 20px;
        position: relative;
        top: 0px;
      }
    }
  }
  .offer-body{
    background:#fff;margin-top:20px;
    .offer-body-header{
      padding: 15px;border-bottom:1px solid rgba(221, 221, 221, 0.6);
      img{
        width: 20px;
        position: absolute;
        right: 15px;
      }
      .offer-body-header-name{
        font-size:14px;
        color:#858c96;
      }
    }
    .offer-body-item{
      margin: 10px 15px 0 15px;
      border-bottom:1px solid rgba(221, 221, 221, 0.6);
      font-size:14px;
      padding-bottom: 5px;
      color:#272e38;
    }
    .offer-body-item-name{
      margin-bottom: 10px;
      img{
        width: 20px;
        position: absolute;
        right: 15px;
      }
    }
    .offer-body-item-content{
      color: #858c96;
    }
    .addDetail{
      color:#C9C8CA;
      padding:15px;
      font-size:16px;
      background:#fff;
      text-align: center;
      border-top:1px solid rgba(221, 221, 221, 0.6);
      img{
        width: 20px;
        position: relative;
        top: 0px;
      }
    }
    .item-sum{
      padding:5px 15px 5px 15px;text-align: right;color: #adb4be;border-top:1px solid rgba(221, 221, 221, 0.6);
    }
  }
}
