<ion-modal-view class="cities-select-modal">
  <ion-header-bar class="header-color">
    <h1 class="title title-color">请选择城市</h1>
  </ion-header-bar>
  <ion-content class="back-color">
    <div class="row list-row">
    <div class="col list-col">
     <ion-scroll delegate-handle="provinceScroll" diretion="y" scrollbar-y="false" class="height-percentage">
       <div class="list">
         <div ng-repeat="x in citiesInfo" class="item apply-item" ng-class="{'non-selected-font':!colorList[$index],'selected-font':colorList[$index]}" ng-click="finishChoosingProvince($index)">{{x.name}}</div>
       </div>
     </ion-scroll>
    </div>
    <div class="col list-col">
      <ion-scroll diretion="y" scrollbar-y="false" class="height-percentage">
        <div class="list">
          <div ng-repeat="y in citiesDetailInfo" class="item apply-item non-selected-font" ng-click="finishChoosingCity($index)">{{y.name}}</div>
        </div>
      </ion-scroll>
    </div>
    </div>
  </ion-content>
</ion-modal-view>
