<ion-modal-view class="flight-select-modal">
  <ion-header-bar class="header-color">
    <h1 class="title title-color">请选择flyback编号</h1>
  </ion-header-bar>
  <ion-content class="back-color">
    <ion-scroll diretion="y" scrollbar-y="false" class="height-percentage">
    <div class="list">
      <div ng-repeat="x in flybackList" class="item apply-item non-selected-font" ng-click="finishChoosingFlybackNumber($index)">{{x.flyback_number}}</div>
    </div>
    </ion-scroll>
  </ion-content>
</ion-modal-view>
