.bigPhotoList{
  .face-bar{
    position: absolute;
    bottom: 20px;
    left: 0;
    height:156px;
    width:100%;
    padding: 10px;
    background-color: transparent;
    z-index: 100;
  }
  .face-title{
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #d1d3d6;
    text-align: center;
    font-size: 0.875rem;
    color: #8f8f8f;
    padding-top: 16px;
  }
  //.face-title-text{
  //  font-size: 1rem;
  //  color: #8f8f8f;
  //  padding-top: 18px;
  //}
  .face-delete-button{
    width: 100%;
    height: 47px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 1rem;
    color: red;
    padding-top: 14px;
  }
  .face-cancel-button{
    width: 100%;
    height: 47px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    color: #000000;
    padding-top: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .face-delete-button.activated{
    opacity: 1;
    -webkit-transform: scale(0.95,0.95);
  }
  .face-cancel-button.activated{
    opacity: 1;
    -webkit-transform: scale(0.95,0.95);
  }
  .face-bar.ng-enter{
    -webkit-animation: fadeInUp .5s;
    animation: fadeInUp .5s
  }
  .face-bar.ng-leave{
    -webkit-animation: fadeOutDown .5s;
    animation:fadeOutDown .5s
  }
  .actionSheet{
    color: red;
    font-size: 16px;
  }
  background-color: black;
  .color{
    color: #FFF;
  }
  .head{

    background-image: none;
    background-color: black;
  }
  .bigPhotoList-content{
    .margin-top{
      height: 50px;
      width: 100%;
    }
    .bigPhoto{
      width: 100%;
    }
  }
  .foot{
    height: 50px;
    background-image: none;
   background-color: black;
    >div{
      width: 100%;
      height: auto;
      text-align: right;
      >div{
        display: inline-block;
        height: 40px;
        width: 40px;
        padding: 5px;
        margin-right: 15px;
        >img{
          height: 30px;
          width: 30px;
        }
      }

    }
  }
}
