<ion-modal-view class="">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="title">
      <div>项目地址列表</div>
    </div>
    <div class="buttons">
      <button class="button button-icon icon" ng-click="hideAddressModal()">
        <span class="back-text">取消</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="address-modal">
    <ion-list>
      <ion-item ng-repeat="address in addressList" ng-click="selectAddress(address)">
        {{address.address_name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
