<ion-modal-view class="project-modal">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="title">
      <div>项目列表</div>
    </div>
    <div class="buttons">
      <button class="button button-icon icon" ng-click="hideProjectModal()">
        <span class="back-text">取消</span>
      </button>
    </div>
  </ion-header-bar>
  <div class="bar bar-subheader project-type"  style="background-size: 100% 0px">
    <div class="row no-padding">
      <div class="col col-33 no-padding" ng-repeat="type in projectListType" style="text-align: center;height: 40px;line-height: 40px"
           ng-click="projectListModalHandle.selectProject(type)"
           ng-class="{true:'project-type-selected',false:''}[type.selected]">
        <div ng-bind="type.name"></div>
      </div>
    </div>
  </div>
  <ion-content class="has-subheader"  delegate-handle="projectModalHandle">
    <ion-list>
      <div class="filter-item-detail row no-padding" ng-repeat="project in currentProjectListCategory"
                ng-click="selectProject(project)">
        <div class="col no-padding col-90 filter-condition-item"
             ng-class="{true: 'selected', false: 'no-selected'}[item.selected]"
             ng-bind="project.project_name">
        </div>
        <div class="col no-padding col-10 col-center" ng-if="project.selected_flag == 'Y'" style="text-align: center">
          <i class="ion-checkmark checked"></i>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
