<ion-view title="申请明细" class="costDetail-view">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons"> 
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div> 
    <h1 class="title" >申请明细</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>

  <ion-content>
    <form name="detailForm">
      <ion-list>
        <ion-item class="item list-item-container">
          <div class="row">
            <div class="col col-10">
              <label>项目</label>
            </div>
            <div class="col col-90 col-offset-10" ng-click="openCostProjectItemList()">
              <input type="text" class="text-input--underbar width-full" required ng-readonly="true"
                     ng-change="valueChange()" ng-model="detailData.cost_project_name">
            </div>
          </div>
        </ion-item>
        <ion-item class="item list-item-container">
          <div class="row">
            <div class="col col-20">

              <label>费用类型</label>
            </div>
            <div class="col col-60" ng-click="openCostTypeItemList()">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true" ng-change="valueChange()"
                     required ng-model="detailData.cost_type_name">
            </div>
          </div>
        </ion-item>
        <ion-item class="item list-item-container">
          <div class="row">
            <div class="col col-20">
              <label>地点</label>
            </div>
            <div class="col col-60">
              <input type="text" class="text-input--underbar width-full" ng-readonly="!canEdit"
                     ng-change="valueChange()" required ng-model="detailData.cost_place">
            </div>
          </div>
        </ion-item>

        <ion-item class="item list-item-container">
          <div class="row">
            <div class="col col-20">

              <label>金额</label>
            </div>
            <div class="col col-60">
              <input type="number" class="text-input--underbar width-full" ng-readonly="!canEdit"
                     ng-change="valueChange()" ng-model="detailData.cost_amount">
            </div>
          </div>

        </ion-item>


        <ion-item class="item list-item-container xbr-f-a">
          <div class="row">
            <div class="col">
              <label>用途描述</label>
            </div>
          </div>
          <div class="row">
            <div class="col col-80 col-offset-10">
                            <textarea class="textarea textarea--transparent width-full"
                                      ng-readonly="!canEdit" ng-change="valueChange()"
                                      ng-model="detailData.description">
                            </textarea>
            </div>
          </div>
        </ion-item>

      </ion-list>


      <div class="button-area" ng-class="{invisible:!canEdit}">
        <div class="row">
          <div class="col-45 col-offset-3">

            <button class="button button-stable xbr-but-f-1" ng-show="true" ng-disabled="((canSubmit) || (!detailForm.$valid))"
                    ng-click="saveData()">保 存
            </button>

          </div>
          <div class="col-45 col-offset-5">
            <button class="button button-stable " ng-show="true" ng-disabled="!canSubmit "
                    ng-click="submitData()">提 交
            </button>
          </div>
        </div>
      </div>

      <div class="xbr-flag-p-wrapper" ng-class="{invisible:accountDetail.status!='UPLOADED'}">
        <p><strong>已上传</strong></p>
      </div>


      <div class="button-area" ng-class="{invisible:detailData.local_status!='UPLOADED'}">
        <div class="row">
          <div class="col-33 col-offset-20">

            <button class="button button-stable" ng-show="true" ng-disabled="false || (!detailForm.$valid)"
                    ng-click="submit()">提交
            </button>

          </div>
          <div class="col-33 col-offset-10">
            <button class="button button-stable " ng-show="true" ng-disabled="(!canUpload) || (!detailForm.$valid )"
                    ng-click="cancel()">取消
            </button>
          </div>
        </div>
      </div>

      <div  ng-class="{invisible:detailData.local_status!='SUBMITTED'}">
        <p class="xbr-f-p-1"><strong>已提交</strong></p>
      </div>

      <div ng-class="{invisible:detailData.local_status!='APPROVED'}">
        <p class="xbr-f-p-2"><strong>已审核</strong></p>
      </div>
    </form>
  </ion-content>
</ion-view>
