<style>
  .uploaded {
    color: red;
  }

  .new {
    color: green;
  }
</style>
<ion-view view-title="预报销费用">
  <ion-nav-title>
    <span>报销单列表</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon-left" ng-click="createCostApply()">
      <i class="icon ion-plus " style="color: #20CBD3;font-size: 5px;"></i>
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader" style="background-color: #20CBD3;">
    <div class="button-bar bar-light" style="width: 60%;margin: 1px auto;">
      <div id="noApprove" class="button approve-button"
           style="color: #20CBD3;background-color: #D1F4F6;border-bottom-left-radius: 5px;border-top-left-radius: 5px;"
           ng-click="changeTabButton('toSubmit')">未提交
      </div>
      <div id="alreadyApprove" class="button approve-button"
           style="color: white;background-color: #20CBD3;border-bottom-right-radius: 5px;border-top-right-radius: 5px;"
           ng-click="changeTabButton('submitted')">已提交
      </div>
    </div>
  </ion-header-bar>
 
  <ion-content id="timesheetapproveContent" class="has-header has-subheader" style="top: 110px;">
    <ion-list id="timesheetPeopleList">

      <ion-refresher on-refresh="doRefresh()"></ion-refresher>

      <ion-item modifier="chevron" class="plan list-item-container" ng-repeat="item in applyList "
                ng-click="openCostDetail(item.status,$index)">
        <div class="row">

          <div class="col plan-list">
            <div class="plan-info">
              <header>
                <span class="item-title" ng-bind="item.cost_type_name"></span>
                <span class="item-title" style="color: #007069">¥ {{item.cost_amount}}</span>
                <span class="item-label" ng-class="{'uploaded':item.status=='SUBMITTED','new':item.status=='NEW'}"
                      ng-bind="item.status"></span>
              </header>

              <p class="item-desc" ng-bind="item.cost_project_name"></p>

              <p class="item-desc" ng-bind="item.description"></p>
            </div>
          </div>

        </div>
      </ion-item>

    </ion-list>
  </ion-content>


</ion-view>

