<ion-modal-view class="crm crm-time-modal">
  <ion-content has-bouncing="false">
    <div class="scroll-header">
      <div class="left" ng-click="goBack()">关闭</div>
      <h2>{{year}}</h2>
      <div class="right">
        <span ng-click="thisWeek()" class="blue">本周</span>
        <span ng-click="selectWeek(nowIndex)">确定</span>
      </div>
    </div>
    <div class="scroll-container" on-drag="onDragScroll($event)" on-release="onReleaseScroll($event)">
      <div class="scroll-line"></div>
      <div class="stage" ng-style="stageRotate">
        <div class="scroll-item" ng-repeat="week in weeks track by $index" ng-style="rotates[$index]"
             ng-class="{true:'selected'}[nowIndex == $index]">{{getWeekString(week)}}
        </div>
      </div>
    </div>
    <!--<div class="select-week" ng-click="selectWeek(nowIndex)">确定</div>-->
  </ion-content>
</ion-modal-view>
