.crm-time-modal {
  top: calc(100vh - 280px);

  .crm-time-button{
    padding-left: 10px;
    font-size: 16px;
    position: absolute;
    color:#666666;
  }

  .scroll-container {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    perspective: 800px;
    perspective-origin: 50% 50%;
    overflow: hidden;
    .stage {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
      //overflow: hidden;
      .scroll-item {
        background: white;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        position: absolute;
        width: 50vw;
        height: 40px;
        left: 25vw;
        top: 75px;
        text-align: center;
        line-height: 40px;
        color: #d5d5d5;
        transition: color 1s;
        -webkit-transition: color 1s;
      }
      .scroll-item.selected {
        color: #333333;
      }
    }
  }

  .year {
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: 30vw;
    margin-left: 35vw;
    text-align: center;
    left: 0;
    height: 40px;
    line-height: 40px;
    top: 30px;
    font-size: 1.2em;
    border-bottom: 1px solid #959595;
  }

  .select-week {
    margin-top: 5vh;
    width: 30vw;
    margin-left: 35vw;
    border: none;
    box-shadow: 0 0 1px 1px #959595;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #959595;
    font-size: 1.2em;
    border-radius: 20px;
  }
}
