<ion-view title="选择费用" hide-tabs="true" class="expenseItemList-view">
     <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons"> 
          <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
            <span class="back-text">返回</span>
          </button>
        </div> 
        <h1 class="title">选择费用</h1>
        <div class="buttons">
        </div>
      </ion-header-bar>
    <ion-content>
        <div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input class="xbr-f-a" type="text" placeholder="输入费用" ng-model="query">
            </label>
        </div>

        <ion-list class="airport-list" >
            <ion-item class="airport list-item-container" modifier="tappable" ng-repeat="expenseItem in expenseItemList | filter:query" >
                <div class="row" expenseItemCode="{{expenseItem.expense_item_code}}"
                     expenseItemName="{{expenseItem.expense_item_desc}}"
                     expenseItemIndex="{{expenseItem.expense_item_index}}">

                    <div class="xbr-f-b" class="airport-name col"  expenseItemCode="{{expenseItem.expense_item_code}}"
                             expenseItemName="{{expenseItem.expense_item_desc}}"
                                expenseItemIndex="{{expenseItem.expense_item_index}}"
                         ng-click="selectExpenseItem($event)">
                        {{expenseItem.expense_item_desc}}
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>

