<ion-view title="{{title}}">
   <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons"> 
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div> 
    <h1 class="title" ng-bind="title"></h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <style>
    input {
      background: none;
    }
    .popup-container .popup {
      width: 85%;
    }
  </style>

  <form name="detailForm">
    <ion-content class="detail" style="background-color: #E5E5E5">

      <div class="item totolAmount">
        <div class="row">
          <div class="col" style="width: 95%; height: 30px; line-height: 5px; background-color: #5B93E8;">
            <label style="color: white;font-size: 15px;"><span>总金额：</span><span
              style="margin-left: 10px;margin-right: 5px;">CNY</span></label>
            <label style="color: white">{{detailData.amount.toFixed(2)}}</label>
          </div>
        </div>
      </div>

      <ion-list>
        <ion-item class="item list-item-container" style="margin-top: 3px; border: none">
          <div class="row" style="width: 94%; border-bottom: 1px solid #f0f0f0; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <div style="margin-top: 9px"><img src="build/img/application/expense/money.png"></div>
            </div>
            <div class="col col-40" style=" padding: 0 5px 0 5px">
              <input type="number" class="text-input--underbar width-full" ng-readonly="true"
                     ng-change="valueChange()" required ng-model="detailData.price"
                     style="background: none; font-size: 13px;" placeholder="金额">
            </div>
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <label>
                <div style="color: #AAAAAA; font-size: 13px">币种：</div>
              </label>
            </div>
            <div class="col col-40 " style=" padding: 0 5px 0 5px">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true" ng-change="valueChange()"
                     required ng-model="detailData.original_currency"
                     style="background: none; font-size: 13px; color: #AAAAAA; margin-left: 5px">
            </div>
          </div>
        </ion-item>

        <ion-item class="item list-item-container" style="border: none">
          <div class="row" style="width: 94%; border-bottom: 1px solid #f0f0f0; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <div style="margin-top: 10px"><img src="build/img/application/expense/amount.png"></div>
            </div>
            <div class="col col-40" style=" padding: 0 5px 0 5px">
              <input type="number" class="text-input--underbar width-full" ng-readonly="true"
                     ng-change="valueChange()" required ng-model="detailData.quantity"
                     style="background: none; font-size: 13px;" placeholder="数量">
            </div>
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <label>
                <div style="color: #AAAAAA; font-size: 13px">汇率：</div>
              </label>
            </div>
            <div class="col col-40" style=" padding: 0 5px 0 5px">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true" ng-change="valueChange()"
                     required ng-model="detailData.exchange_rate"
                     style="background: none; font-size: 13px; color: #AAAAAA; margin-left: 5px">
            </div>
          </div>
        </ion-item>

        <ion-item class="item list-item-container" style="border: none">
          <div class="row" style="width: 94%; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <div style="margin-top: 9px"><img src="build/img/application/expense/billAmount.png"></div>
            </div>
            <div class="col col-90" style=" padding: 0 5px 0 5px">
              <input type="number" class="text-input--underbar width-full" ng-readonly="true" ng-change="valueChange()"
                     ng-model="detailData.attach_number" style="background: none; font-size: 13px;"
                     placeholder="发票数量">
            </div>
          </div>
        </ion-item>
      </ion-list>

      <ion-list>

        <ion-item class="item list-item-container" style="margin-top: 5px; border: none">
          <div class="row" style="width: 94%; border-bottom: 1px solid #f0f0f0; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <div style="margin-top: 10px"><img src="build/img/application/expense/expense.png"></div>
            </div>
            <div class="col col-90" style=" padding: 0 5px 0 5px">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true" ng-change="valueChange()"
                     required ng-model="detailData.expObject_desc" style="background: none; font-size: 13px"
                     placeholder="费用类型">
            </div>
          </div>
        </ion-item>

        <ion-item class="item list-item-container" style="border: none">
          <div class="row" style="width: 94%; border-bottom: 1px solid #f0f0f0; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10">
              <div style="margin-top: 5px"><img src="build/img/application/expense/rentApply.png"></div>
            </div>
            <div class="col col-90" style=" padding: 0 5px 0 5px">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true" ng-change="valueChange()"
                     ng-model="detailData.rentals_infor" style="background: none; font-size: 13px"
                     placeholder="租房或预报销申请">
            </div>
          </div>
        </ion-item>

        <ion-item class="item list-item-container" style="border: none">
          <div class="row" style="width: 94%; border-bottom: 1px solid #f0f0f0; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <div style="margin-top: 10px"><img src="build/img/application/expense/adress.png"></div>
            </div>
            <div class="col col-90" style=" padding: 0 5px 0 5px">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true"
                     ng-change="valueChange()" required ng-model="detailData.place"
                     style="background: none; font-size: 13px" placeholder="地点">
            </div>
          </div>
        </ion-item>

        <ion-item class="item list-item-container" style="border: none">
          <div class="row" style="width: 94%; margin-left: 3%; padding:0 5px 0 5px">
            <div style="padding: 0 5px 0 5px; width: 10%">
              <div style="margin-top: 10px"><img src="build/img/application/expense/date.png"></div>
            </div>
            <div style="padding: 0 5px 0 5px; width: 45%; margin-left: 5px">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true"
                     required ng-change="valueChange()" ng-model="detailData.dateFrom"
                     style="background: none;font-size: 13px; width: 100%">
            </div>
            <div style="padding: 0 5px 0 5px;">
              <div style="color: #AAAAAA; font-size: 13px; margin-top: 10px; margin-left: -250%">--</div>
            </div>
            <div style=" padding: 0 5px 0 5px; width: 45%">
              <input type="text" class="text-input--underbar width-full" ng-readonly="true"
                     required ng-change="valueChange()" ng-model="detailData.dateTo"
                     style="background: none;font-size: 13px">
            </div>
          </div>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="item list-item-container" style="border: none; margin-top: 5px">
          <div class="row" style="line-height: 30px; width: 94%; margin-left: 3%; padding:0 5px 0 5px">
            <div class="col col-10" style=" padding: 0 5px 0 5px">
              <div style="margin-top: 4px"><img src="build/img/application/expense/remark.png"></div>
            </div>
            <div class="col col-90" style="margin-top: 7px; padding: 0 5px 0 5px">
                            <textarea class="textarea textarea--transparent width-full"
                                      style="height: 60px; font-size: 13px; background-color: #f8f8f8; margin-bottom: 10px"
                                      ng-readonly="true" ng-change="valueChange()"
                                      ng-model="detailData.memo" placeholder="备注">
                            </textarea>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </form>
</ion-view>
