/**
 * expenseLines.html
 */

/**
 * expenseQueryTabList.html
 */










/**
 * expenseDetail.html
 */
.expenseDetail-view{
    .xbr-f-img{
        position: absolute;z-index: 20;width: 100%;
        height: 100%;
    }
    ion-content{
        .list-item-container.xbr-f-a{
            border-left: 5px solid #fcb177;
            input{
                background: none;
            }
        }
        .list-item-container.xbr-f-b{
            border-left: 5px solid #b2d3d8;
            input{
                background: none;
            }
        }
        .list-item-container.xbr-f-c{
            border-left: 5px solid #767c92;
            input{
                background: none;
            }
        }
        .list-item-container.xbr-f-d{
            border-left: 5px solid #a7e2c2;
            .row{
                line-height: 30px;
                textarea{
                    background: none;height: 80px;margin-top: 10px;
                }
            }
        }
        .xbr-f-e{
            background-color: #1cd4c6;color:white;text-align: center;height: 50px;padding-top: 15px;
        }
        .xbr-f-f{
            .xbr-f-child1{
                width: 100%;font-size: 14px;
                .f-child1-1{
                    width: 100%; 
                }
                .f-child1-2{
                    float: left;
                }
                .ion-ios-calendar-outline{
                    color: grey;margin-right: 5px;
                }
                .f-child1-3{
                    float: left;position: absolute;left:36%;
                }
                .f-child1-4{
                    float: left;position: absolute;left:45%;
                }
                .f-child1-5{
                    width: 100%;
                    div:nth-child(1){
                        float: left;
                    }
                    div:nth-child(2){
                        float: left;position: absolute;left:45%;
                        i{
                            color: grey;margin-right: 5px;
                        }
                    }
                }
                .f-child-6{
                    width: 100%; white-space: normal; float: left;
                }
            }
            .button-area{
                .xbr-f-btn-1{
                    background-color: #3ed9cd;
                }
                .xbr-f-btn-2{
                    background-color: #3ed9cd;
                }
            }
        }
    }
}

/**
 * expenseItemList.html
 */
.expenseItemList-view{
    input.xbr-f-a{
        width: 96%; margin: 6px auto 6px auto;
    }
    xbr-f-b{
        white-space: normal; line-height: 25px;
    }
}


/**
 * expenseTypeList.html
 */
.expenseTypeList-view{
    input.xbr-f-input{
        width: 96%; margin: 6px auto 6px auto;
    }
}

/**
 * reportTypeList.html
 */
.reportTypeList-view{
    .search-input{
        width: 96%; margin: 6px auto 6px auto;
    }
}

/**
 * interfaceReportList.html
 */
.interfaceReportList-view{
    .buttons.secondary button{
        color: #3ed9cd;
    }
    ion-content{
    	.xbr-f-ion-item{
		    padding: 0 5px;margin: 0;border-left: 5px solid #3ed9cd;
		    label.checkbox--list-item{
		        width: 100%;
		    }
		    .xbr-f-div{
		        width: 100%;
		        .xbr-f-div-1{
		            width: 100%;
		            .xbr-flag-div-11{
		                float: left;
		            }
		            .xbr-flag-div-12{
		                float: left;position: absolute;left: 28%;
		            }
		            .xbr-flag-div-13{
		                float: left;position: absolute;left: 38%;
		            }
		        }
		        .xbr-f-div-2{
		            width: 100%;position: relative;top: -5px;
		            div{
		                float: left;position: absolute;left: 90%;
		            }
		        }
		        .xbr-f-div-3{
		            width: 100%;
		            div:nth-child(1){
		                float: left;
		            }
		            div:nth-child(2){
		                float: left;position: absolute;left: 38%;
		                i{
		                    color: darkgray;margin-right: 3px;
		                }
		            }
		            div:nth-child(3){
		                float: left;position: absolute;left: 68%;color: #3ed9cd;
		            }
		        }
		    }
		    .xbr-f-div-a{
		        width: 100%; white-space: normal; float: left; text-align: left;
		    }
		}
    }
}