<ion-view view-title="记一笔选择">
  <!-- add by ciwei begin -->
  <ion-nav-title>
    <span>记一笔选择</span>
  </ion-nav-title>
  <!-- add by ciwei end-->
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" style="color: #3ed9cd;" ng-click="confirmAccounts()">
      确定
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item modifier="tappable" ng-repeat="account in interfaceReportList"
                style="padding: 0 5px;margin: 0;border-left: 5px solid #3ed9cd">
        <label style="width: 100%;" class="checkbox checkbox--list-item">
          <div style="width: 100%">

            <div style="width: 100%;">
              <div style="float: left;">
                {{account.dateFrom}}
              </div>
              <div style="float: left;position: absolute;left: 28%;">
                至
              </div>
              <div style="float: left;position: absolute;left: 38%;">
                {{account.dateTo}}
              </div>
            </div>

            <br/>

            <div style="width: 100%;position: relative;top: -5px;">
              <div style="float: left;position: absolute;left: 90%;">
                <input type="checkbox" ng-model="account.Selected" ng-true-value="'YES'" ng-false-value="'NO'">
              </div>
            </div>
            <br/>

            <div style="width: 100%">
              <div style="float: left;">
                {{account.expObject_desc}}
              </div>

              <div style="float: left;position: absolute;left: 38%;">
                <i class="icon ion-ios-location" style="color: darkgray;margin-right: 3px;"></i>{{account.place}}
              </div>

              <div style="float: left;position: absolute;left: 68%;color: #3ed9cd">
                {{account.amount}}元
              </div>
            </div>
          </div>
          <div style="width: 100%; white-space: normal; float: left; text-align: left">
            {{account.memo}}
          </div>

        </label>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
