<ons-page ng-controller="reportTypeController">

    <ons-toolbar>
        <div class="left"><ons-back-button>返回</ons-back-button></div>
        <div class="center">
            选择报销单类型
        </div>
    </ons-toolbar>

    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="输入类型"
                   ng-model="query">
        </div>
    </div>

    <ons-list class="airport-list" >
        <ons-list-item class="airport" modifier="tappable" ng-repeat="reportType in reportTypeList | filter:query" >
            <ons-row>
                <ons-col class="airport-name"  reportTypeId="{{reportType.reimbursementTypeId}}" reportTypeCode="{{reportType.reimbursementTypeCode}}"
                         reportTypeName="{{reportType.reimbursementTypeName}}" ng-click="selectReportType($event)">
                    {{reportType.reimbursementTypeName}}

                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>