<ion-view view-title="拼车记录" class="carpooling-history">

  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="history-backtext">返回</span>
      </button>
    </div>
    <h1 class="title">拼车记录</h1>
    <div class="buttons" ng-if="showLocation">
      <div class="button-location icon ion-ios-location">
        <span style="font-size: 15px;">{{cityCode}}</span>
      </div>
    </div>
  </ion-header-bar>
  <ion-content  class="body has-header">
    <!--<div class="hms-hide-content" ng-if="historyLoading">-->
      <!--<hms-loading></hms-loading>-->
    <!--</div>-->
    <div ng-if="showNoData">
      <div class="no-data-shelter">
        <div class="row no-data-no-space">
          <img src="build/img/application/dorm-apply/no-data.png" class="no-data-image">
        </div>
        <div class="row no-data-no-space-label-row">
          <label class="no-data-label">还没有加入拼车</label>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item class="car-list1" style="margin-top: 4px;" ng-repeat="x in resultList" ng-click="viewHistoryDetail($index)">
          <div class="car-start1">
            <div class="logo-car1">
              <img src="build/img/application/carpooling/car@3x.png" class="carpooling-logo1">
              <div class="carpooling-font1">{{x.departureTime}}&nbsp;&nbsp;&nbsp;&nbsp;<i ng-class="{'stausColorBlue':x.statusColor,'stausColorOrange':!x.statusColor}">{{x.status}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </div>
          </div>
          <div class="car-location1">
            <div class="car-from1 text-over-hidder1">
              <img src="build/img/application/carpooling/starting@3x.png" class="img-starting-ending">
              <span style="font-size: 14px; margin-left: 9px"><i class="font-color21">起点：</i>&nbsp;&nbsp;<i class="font-color11">{{x.startAddr}}</i> </span>
            </div>
            <div class="vertical-line1"></div>
            <div class="car-to1  text-over-hidder1">
              <img src="build/img/application/carpooling/ending@3x.png" class="img-starting-ending">
              <span style="font-size: 14px; margin-left: 9px"><i class="font-color2">终点：</i>&nbsp;&nbsp;<i class="font-color11">{{x.targetAddr}}</i> </span>
            </div>
          </div>
          <div class="carpooling-map" >
            <img src="{{x.listMapUrl}}" style="width: 100%;height: 100%;">
          </div>
          <div class="carpooling-number">
            <span class="font-color21">行程编号：<i class="font-color11">{{x.shareNo}}</i></span>
          </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="showInfinite" distance="10%" immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
