
.crm-hide-small-content {
  width: 100%;
  margin-top: 50px;
  z-index: 10000000;
  position: fixed;
  height: 100%;
}
.crm {
  .bar .buttons .button {
   color: #444!important;
    font-size: 17px;
  }
  .bar.bar-stable .title {
    color: #444!important;
    font-size: 17px;
    left: 0px !important;
    right: 0px !important;
  }
  .hideContent {
    width: 100%;
    height: 60px;
    margin-top: 100px;
  }

  .hideContent .spinner svg {
    width: 36px;
    height: 36px;
    stroke: #444;
    fill: #444;
  }

  .hideContent .content {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #9B9B9B;
  }

  .hideContent .hide-icon {
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .crm-hide-small-content {
    width: 100%;
    margin-top: 50px;
    z-index: 10000000;
    position: fixed;
    height: 100%;
  }
  .crm-disable {
    width: 100%;
    /* margin-top: -1px; */
    z-index: 10000000;
    position: fixed;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3);*/
  }
  .crm-hide-small-loading {
    width: 100%;
    margin-top: 55%;
    z-index: 10000000;
    position: fixed;
    height: 30px;
  }
  .loading-small-crm {
    background: url(./../img/crm-loading.gif);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .loading-crm {
    background: url(./../img/crm-loading.gif);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 40%;
  }

  //顶部标题栏
  ion-header-bar {
    background: #f8f8f8 !important;
  }

  .bar.bar-stable {
    border: none !important;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%) !important;
    background-position: bottom !important;
    background-size: 100% 1px !important;
    background-repeat: no-repeat !important;
    .title{
      color: #444 !important;
    }
  }

  ion-header-bar {
    button {
      background: transparent !important;
    }
    i:before {
      content: '';
      position: absolute;
      top: -10px;
      bottom: -10px;
      left: -10px;
      right: -10px;
    }
  }




  //加载loading
  .hms-hide-content {
    width: 100%;
    height: 60px;
    margin-top: 100px;
    .spinner svg {
      width: 28px;
      height: 28px;
      //stroke: #444;
      //fill: #444;
      stroke: #f8f8f8;
      fill: #f8f8f8;
    }
    .content {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      color: #9B9B9B;
    }
    .hide-icon {
      width: 28px;
      height: 28px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .hms-hide-small-content {
    width: 100%;
    //height: 40px;
    //margin-top: 50px;
    z-index: 1000;
    position: fixed;
    .spinner svg {
      width: 24px;
      height: 24px;
      stroke: #444;
      fill: #444;
    }
    .content {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      color: #9B9B9B;
      position: absolute;
      z-index: 1000;
    }
    .hide-icon {
      width: 24px;
      height: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  ion-header-bar {
    background: #f8f8f8 !important;
    border-bottom: 1px solid #cecbc9;
    button {
      padding: 0 !important;
      border: none !important;
    }
    button:first-child {
      left: 3vw;
    }
    button:last-child {
      right: 5vw !important;
    }
    h1 {
      color: #333333 !important;
      font-size: 1.5em !important;
    }
    .header-select-button {
      width: 40vw;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      border-radius: 20px;
      background: white;
      border: 1px solid #00a5ee;
      height: 30px;
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      overflow: hidden;
      div {
        color: #00a5ee;
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        text-align: center;
        height: 30px;
        line-height: 30px;
      }
      div:first-child {
        border-right: 1px solid #00a5ee;
      }
      div.selected {
        color: white;
        background: #00a5ee;
      }
    }
    img {
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0;
      border: 10px solid transparent;
      box-sizing: content-box;
      z-index: 5;
    }
    img:first-child {
      left: 0;
    }
    .sub-icon {
      right: 33px;
    }
    img:last-child {
      right: 0;
    }
  }

  * {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }

  .action-sheet {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    z-index: 11;
    overflow: hidden;
    /* background: none; */
  }

  .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
  }

  .action-sheet-group .button {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif !important;
    font-size: 1.3em !important;
    padding: 5px;

  }

  .action-sheet .button {
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    border-radius: 0;
    border-color: #e5ecef;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
  }

  .action-sheet-title {
    padding: 16px;
    color: #8f8f8f;
    text-align: center;
    font-size: 1.1em;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif !important;
  }

  /**
  * 类似增加商机页面的一块输入区域
  * Demo如下：

  <div class="common-input-area">   //最外层容器非必需，可根据实际情况改变宽度

    <div class="common-input-area-title">
      主标题<div隐藏</div>
    </div>

    <div>

     <div class="common-input-area-subtitle">
        副标题(非必需)<i></i>
      </div>

      <div>

        <div class="common-item-input">
          <div class="required">必填标题</div>
          <input type="text" placeholder="请输入"/>
        </div>

        <div class="common-item-input">
          <div>非必填标题</div>
          <input type="text" placeholder="请输入"/>
        </div>

        <div class="common-item-select">
          <div class="required">需要选择的标题</div>
          <input type="text" placeholder="请选择"/>
          <i></i>
        </div>

      </div>
    </div>
  </div>

  */
  //最外层容器，非必需
  .common-input-area {
    width: 100%;
  }

  //线条
  .common-light-line {
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1px !important;
    position: relative;
    top: -10px;
  }

  //长线
  .common-light-line-long {
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    width: 111%;
    position: relative;
    padding: 0 !important;
    top: -10px;
    height: 1px !important;
  }
  //长线
  .common-light-line-long-tel {
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    width: 111%;
    position: relative;
    top: -15px;
    height: 1px !important;
  }
  .light-line4 {
    width: 95%;
    height: 1px !important;
    background-color: #ddd;
    -webkit-transform: scaleY(.5);
    position: relative;
    top: -11px;
  }

  //输入区域的上方标题
  .common-input-area-title {

    height: 40px;
    line-height: 40px;
    background: #fafafa;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
    width: 100vw;
    position: relative;
    color: #666666;
    div {
      position: absolute;
      top: 0;
      height: 40px;
      line-height: 40px;
      color: #32acec;
    }
    div.left {
      left: 5vw;
    }
    div:last-child {
      right: 5vw;
    }
    .title-image {
      height: 20px;
      position: relative;
      top: 5px;
      left: -10px;
    }
    .title-but {
      color: #32a4ec;
    }
    img {
      width: 20px;
      position: relative;
      top: 5px;
      margin-right: 5px;
    }

  }

  //.common-input-area-title:before{
  //  content: '';
  //  position: absolute;
  //  margin-left: -50%;
  //  width: 400%;
  //  height: 1px;
  //  bottom: 0;
  //  border-bottom: 1px solid #ddd;
  //  -webkit-transform-origin: 0 0;
  //  transform-origin: 0 0;
  //  -webkit-transform: scale(.5,.5);
  //  transform: scale(.5,.5);
  //  -webkit-box-sizing: border-box;
  //  box-sizing: border-box
  //}

  //通用指令输入框样式
  .hms-input-item-style1 {
    padding-left: 5vw;
    &.last-line {
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
    }
    .hms-input-header {
      color: #32a4ec;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 2px;
      span {
        color: #fe9073;
      }
    }
    .hms-input-content {
      font-size: 16px;
      height: 35px;
      line-height: 24px;
      color: #333333;
      width: 100%;
      padding: 4px 0px 7px 0px;
      &.last-line {
        background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
      }
      input {
        width: 100%;
        font-size: 16px;
        height: 24px;
        line-height: 24px;
        border: none;
        -webkit-appearance: none;
        background-color: transparent;
      }
    }
  }

  //通用指令选择框样式
  .hms-select-item-style {
    padding-left: 5vw;
    color: #b2b2b2;
    &.last-line {
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
    }
    .hms-select-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      &.last-line {
        background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
      }
      .hms-select-area {
        -webkit-box-flex: 0;
        display: block;
        width: 85%;
        -webkit-flex: 0 0 85%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 85%;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
        .hms-select-header {
          color: #32a4ec;
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 2px;
          span {
            color: #fe9073;
          }
        }
        .hms-select-detail {
          font-size: 16px;
          height: 35px;
          line-height: 24px;
          color: #333333;
          width: 100%;
          padding: 4px 0px 7px 0px;
          input {
            width: 100%;
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            border: none;
            -webkit-appearance: none;
            background-color: transparent;
          }
        }
      }
      .hms-select-span {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .hms-select-arrow {
        color: #AAAAAA;
        -webkit-box-flex: 0;
        display: block;
        width: 11%;
        -webkit-flex: 0 0 11%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 11%;
        -ms-flex: 0 0 11%;
        flex: 0 0 11%;
        max-width: 11%;
        img {
          float: right;
          width: 15px;
        }
      }
      .hms-select-blank {
        color: #AAAAAA;
        text-align: center;
        font-size: 20px;
        -webkit-box-flex: 0;
        display: block;
        width: 4%;
        -webkit-flex: 0 0 4%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 4%;
        -ms-flex: 0 0 4%;
        flex: 0 0 4%;
        max-width: 4%;
      }
    }
  }

  .hms-select-image-item {
    margin: 0 15px;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;

    .info-item {
      height: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .info-img {
      width: 22px;
      position: relative;
      top: 2px;
    }
    .info-item-name {
      font-size: 16px;
      span {
        color: #fe9073;
      }
    }
    .info-item-prompt {
      color: #AAAAAA;
      text-align: right;
    }
    .info-item-content {
      text-align: right;
    }
    .arrow-img {
      width: 16px;
      position: relative;
      top: 2px;
    }
  }

  .common-input-area-title2 {

    height: 35px;
    line-height: 35px;
    background: #fafafa;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    width: 100vw;
    position: relative;
    color: #666666;
    margin-top: -1px;
    div {
      position: absolute;
      top: 0;
      right: 5vw;
      height: 35px;
      line-height: 35px;
      color: #32acec;
    }
    .title-image {

    }
    img {
      width: 20px;
      position: relative;
      top: 5px;
      margin-right: 5px;
    }

  }
  .common-item-input-tel {
    position: relative;
    width: 100%;
    padding: 0 5vw;
    height: 65px;
    /* border-bottom: 1px solid #e9e9e9;*/
    div {
      padding-top: 10px;
      padding-bottom: 2px;
      color: #32a4ec;
      font-size: 14px;
    }

    .required:after {
      content: '  *';
      color: #fe9073;
    }

    input {
      background: rgb(255, 255, 255) !important;
      display: inline-block;
      width: 100%;
      border: none;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: #333333;
      padding-bottom: 5px;
      ::-webkit-input-placeholder {
        color: #e9e9e9;
      }
    }

    p {
      width: 100%;
      font-size: 12px;
      color: #898989;
    }

  }

  //内部是需要输入时的容器
  .common-item-input {
    position: relative;
    width: 100%;
    padding: 0 5vw;
    height: 65px;
    /* border-bottom: 1px solid #e9e9e9;*/
    div {
      padding-top: 10px;
      padding-bottom: 2px;
      color: #32a4ec;
      font-size: 14px;
    }

    .required:after {
      content: '  *';
      color: #fe9073;
    }

    input {
      background: transparent;
      display: inline-block;
      width: 100%;
      border: none;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: #333333;
      padding-bottom: 18px;
      ::-webkit-input-placeholder {
        color: #e9e9e9;
      }
    }

    p {
      width: 100%;
      font-size: 12px;
      color: #898989;
    }

  }

  .common-item-input-detail {
    position: relative;
    width: 100%;
    padding: 0 5vw;
    height: 60px;
    /* border-bottom: 1px solid #e9e9e9;*/
    div {
      height: 30px;
      line-height: 30px;
      color: #32a4ec;
      font-size: 13px;
    }

    .required:after {
      content: '  *';
      color: #fe9073;
    }

    input {
      background: rgb(255, 255, 255) !important;
      display: inline-block;
      width: 100%;
      border: none;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: #333333;
      padding-bottom: 18px;
      ::-webkit-input-placeholder {
        color: #e9e9e9;
      }
    }

    p {
      width: 100%;
      font-size: 12px;
      color: #898989;
    }

  }

  //内部是需要选择且右方可能会有一个i图标的容器
  .common-item-select {

    width: 100%;
    padding: 0 5vw;
    position: relative;
    height: 65px;
    /* border-bottom: 1px solid #e9e9e9;*/
    div:first-child {
      height: 33px;
      line-height: 33px;
      color: #32a4ec;
      font-size: 13px;
    }

    .required:after {
      content: '  *';
      color: #fe9073;
    }

    input {
      padding-bottom: 18px;
      background: white !important;
      display: inline-block;
      width: 100%;
      border: none;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: #666666;
      ::-webkit-input-placeholder {
        color: #e9e9e9;
      }
    }

    i {
      position: absolute;
      right: 4vw;
      font-size: 20px;
      top: 20px;
      color: grey;
      img {
        width: 15px;
        top: -6px;
      }
    }
    i:before {
      vertical-align: top;
    }

  }

  .common-input-area div div .common-input-area-subtitle {
    color: #32a4ec;
  }

  .content-style-lock {
    background: #fdfdfd;
  }

  //输入区域的副标题
  .common-input-area-subtitle {
    width: 100%;
    padding-left: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: calc(10vw + 25px);
    height: 40px;
    line-height: 40px;
    position: relative;
    color: #333333;
    img {
      position: absolute;
      right: 5vw;
      width: 20px;
      top: 10px;
    }
    i:before {
      vertical-align: top;
    }
  }

  .common-input-area-subtitle.has-shadow {
    box-shadow: 0 15px 40px 0 #efefef;
  }

  //附件区域
  .common-attach-area {
    width: 100%;
    padding: 10px;
  }

  //单个附件
  .common-attach {
    position: relative;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 2px grey;
    line-height: 80px;
    display: inline-block;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      font-size: 30px;
      vertical-align: top;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  /**
  * 自底而上的一个全屏弹窗
  * Demo如下:

    <div class="common-fix-div" ng-class="{true:'showUp'}[flag]">
    </div>

  * 只需在需要的时候改变flag的值即可实现显示和隐藏
  **/

  //初始隐藏
  .common-fix-div {
    z-index: 1010;
    background: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    transform: translateX(100vh);
    -webkit-transform: translateX(100vh);
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    overflow-y: scroll;
  }

  //显示时的动画效果，showUp可在ng-show、ng-hide、ng-class中调用
  .common-fix-div.showUp {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  .common-fix-div.sifting-fix-div {
    transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
  }

  .common-fix-div.sifting-fix-div.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  .common-item-confirm-button {
    position: relative;
    top: 120px;
  }

  .common-item-confirm-button button {
    background: #32A4EC;
    border-radius: 30px;
    width: 90%;
    height: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 30px;
    left: 5%;
    color: #fff;
    font-size: 1.2em;
    border: none;
  }

  .common-item-confirm-button img {
    position: relative;
    width: 24px;
    top: 5px;
    right: 7px;
  }

  /*
  * 通用input搜索框样式
  */
  .search-contact-input {
    padding-left: 6.6%;
    padding-right: 3.6%;
    .text-input {
      height: 22px;
      border-radius: 40px;
      border: 1px solid rgba(151, 151, 151, 0.15);
      width: 87.6%;
      font-size: 14px;
      background-color: white !important;
      background-image: url('./../img/application/timesheet-approve/list/search.png');
      /* @include image-background(no-repeat, 11px 13px, 9px 7px);*/
      padding-left: 25px;
    }
  }

  .left-margin {
    padding-left: 10px;
  }

  //输入框样式
  .hand-test {
    width: 100%;
    height: 60px;
  }

  .light-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    -webkit-transform: scaleY(.5);
  }

  .light-line2 {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    -webkit-transform: scaleY(.5);
    margin-bottom: 5px;
  }

  .hand-no-space {
    padding: 0px;
    margin: 0px;
    border: none;
  }

  .hand-test-label {
    color: #4a4a4a;
    font-size: 13px;
  }

  .hand-test-label2 {
    color: #9b9b9b;
    font-size: 1rem;
  }

  .hand-test-input {
    border: none;
    background-color: transparent;
    width: 100%;
    color: #d2d2d2;
  }

  @keyframes infiniteRotate {
    0% {
      transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);
    }
  }

  ion-infinite-scroll {
    i {
      animation: infiniteRotate 1.5s linear infinite;
      -webkit-animation: infiniteRotate 1.5s linear infinite;
    }
  }

  .padding-content {
    padding-top: 20px;
  }



  .noData {
    width: 100%;
    margin-top: 30vh;
    text-align: center;
    img {
      width: 60%;
      height: auto;
    }
    font-size: 1.2em;
    color: #333333;
  }

  //选择弹出框
  .common-fix-div {
    .common-fix-div-header {
      width: 100%;
      height: 44px;
      text-align: center;
      position: relative;
      line-height: 44px;
      background: #f8f8f8;
      color: #333333;
      font-size: 17px;
      border: none;
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      img {
        width: 23px;
        height: 23px;
        position: absolute;
        top: 10px;
      }
      img:first-child {
        left: 3vw;
      }
      .left, .right {
        font-size: 0.9em;
        position: absolute;
        top: 0;
        height: 44px;
        line-height: 44px;
        color: #666666;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        img.common-fix-div-header-back {
          padding: 0;
          top: 0;
          left: -10px;
          height: 24px;
          width: auto;
        }
        img {
          left: 0;
        }
        * {
          padding: 0 1vw;
          flex: 1;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -moz-box-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          height: 44px;
          line-height: 44px;
        }
      }
      .left {
        left: 5vw;
      }
      .right {
        right: 5vw;
      }
    }
    .sifting-area {
      height: 40px;
      width: 100%;
      line-height: 36px;
      background: #f5f5f5;
      position: relative;
      border: none;
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      img {
        width: 15px;
        position: absolute;
        top: 12px;
        left: calc(5vw + 7px);
      }
      input {
        height: 29px;
        display: inline-block;
        border-radius: 15px;
        width: 92%;
        margin-left: 4%;
        border: none;
        padding: 0 calc(5vw + 15px);
        background: #e3e4e6;
        color: #959595;
        box-sizing: border-box;
      }
      img:last-child {
        left: calc(90vw - 8px);
      }
    }
    .list {
      height: calc(100vh - 90px);
      width: 100%;
      ion-scroll {
        width: 100%;
        height: 100%;
        .list-item {
          color: #333333;
          position: relative;
          width: 90vw;
          margin-left: 5vw;
          border: none;
          background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
          background-position: bottom;
          background-size: 100% 1px;
          background-repeat: no-repeat;
          /*  border-bottom: 1px solid rgba(221, 221, 221, 0.6);*/
          line-height: 20px;
          padding: 15px 0;
          img {
            height: 15px;
            width: auto;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
          }
        }
      }
      .srcoll-content {
        width: 100%;
        height: 100%;
        .list-item {
          color: #333333;
          position: relative;
          width: 90vw;
          margin-left: 5vw;
          border: none;
          background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
          background-position: bottom;
          background-size: 100% 1px;
          background-repeat: no-repeat;
          /*  border-bottom: 1px solid rgba(221, 221, 221, 0.6);*/
          line-height: 20px;
          padding: 15px 0;
          img {
            height: 15px;
            width: auto;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
          }
        }
      }
    }
    .country-in {
      height: 50px;
      width: 100vw;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      div {
        width: 50%;
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        color: #666666;
        line-height: 50px;
        height: 50px;
        text-align: center;
        /* border-bottom: 1px solid rgba(221, 221, 221, 0.6);*/
        border: none;
        background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
        background-position: bottom;
        background-size: 100% 1px;
        background-repeat: no-repeat;
        font-size: 1.1em;
      }
      div.selected {
        color: #32a4ec;
        border-bottom: 2px solid #32a4ec;
      }
    }

    .value-list-header {
      height: 40px;
      color: #32a4ec;
      width: 90vw;
      margin-left: 5vw;
      border: none;
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      line-height: 40px;
    }
    .list.list-has-header {
      height: calc(100vh - 130px);
    }
    .country-header {
      height: 40px;
      color: #32a4ec;
      position: relative;
      width: 90vw;
      margin-left: 5vw;
      border: none;
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      line-height: 40px;
      span {
        position: relative;
      }
      span:before {
        content: '>';
        color: #959595;
        padding: 0 2vw;
      }
      span:first-child:before {
        content: '';
      }
    }
    .list.country {
      height: calc(100vh - 140px);
    }
    .list.country.in-china {
      height: calc(100vh - 180px);
    }
  }

  /**
   小型弹出框，跟上面的全屏弹出框调用方式一样

  <div class="common-fix-div" ng-class="{true:'showUp'}[flag]">
  </div>

  **/
  .common-fix-small-div {
    z-index: 10;
    background: white;
    position: fixed;
    height: auto;
    width: 100vw;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    overflow-y: scroll;
  }

  //显示时的动画效果，showUp可在ng-show、ng-hide、ng-class中调用
  .common-fix-div.showUp {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  //筛选框弹出
  .sifting-header {
    height: 44px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #333333;
    background: #f8f8f8;
    line-height: 44px;
    font-size: 1.2em;
    border: none;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    img {
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0px;
      border: 10px solid transparent;
      box-sizing: content-box;
      z-index: 5;
      left: 2px;
    }
  }

  .sifting-header-ios {
    height: 44px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #333333;
    background: #f8f8f8;
    line-height: 44px;
    font-size: 1.2em;
    img {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 10px;
      left: 5vw;
    }
  }

  .platform-ios {
    .sifting-item-ios {
      margin-top: 52px;
    }
    .sifting-item-android {

    }
  }

  .platform-android {
    .sifting-item-android {
      margin-top: 42px;
    }
    .sifting-item-ios {

    }
  }

  .sifting-item {
    height: 50px;
    width: 100vw;
    padding: 0 calc(5vw + 30px);
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    .line {
      position: relative;
      top: -10px;
      left: -10px;
    }
    span {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      color: #333333;
      font-size: 15px;
    }
    .item-content {
      flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      color: #959595;
      text-align: right;
      margin-left: 10px;
    }
    .select-radio {
      position: relative;
      left: 30px;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }
    img {
      position: absolute;
      height: 20px;
      width: 20px;
      top: 15px;
    }
    .right-img {
      position: absolute;
      height: 13px;
      width: 13px;
      top: 18px;
    }
    img:first-child {
      left: 5vw;
    }
    img:last-child {
      right: 5vw;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    .sort-desc {
      transform: rotateZ(90deg);
      -webkit-transform: rotateZ(90deg);
    }
    .sort-no {
      transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
    }
    .sort-asc {
      transform: rotateZ(-90deg);
      -webkit-transform: rotateZ(-90deg);
    }
    .radio1 {
      height: 20px;
      width: 20px;
      color: red;
      position: relative;
      top: 4px;
      margin-right: 2vw;
    }
    .div1 {
      display: inline-block;
      font-size: 16px;
      position: relative;
      /* left: 35vw; */
      right: -1vw;
      /* top: 10px; */
      text-align: right;
      width: 75%;
    }
    .select {
      height: auto;
      position: relative;
      left: 0vw !important;
      top: 5px;
    }
    .div2 {
      display: inline-block;
      position: relative;
      top: 10px;
      right: -43vw;
      font-size: 16px;
    }
  }

  .sifting-item.multi-item {
    padding-right: 5vw;
    div {
      flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      height: 50px;
      line-height: 50px;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      width: 70%;
      div {
        display: inline-block;
        width: 25vw;
        height: 30px;
        border-radius: 15px;
        background: #e9e9e9;
        color: #666666;
        line-height: 30px;
        text-align: center;
      }
    }
    .time-area {
      padding: 10px 0;
      margin-left: 10px;
      div:first-child {
        margin-right: 20px;
      }
    }
  }

  .sifting-button-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    padding: 5px 5vw;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    button {
      background: #E6F4FD;
      color: #333333;
      padding: 0 5vw;
      height: 40px;
      border: none;
      border-radius: 20px;
      width: 27vw;
    }
    button.ok {
      width: 33vw;
      color: white;
      background: #32A4EC;
    }
  }
  .common-footer {
    .footer-wrap {
      width: 100%;
      height: 100%;
      padding-top: 3px;
    }
    .footer-button {
      float: left;
      width: 30%;
      height: 44px;
      line-height: 44px;
      text-align: center;
    }
    .footer-button div {
      margin: 5px;
      border-radius: 30px;
      background: #E6F4FD;
      color: #666;
    }
    .footer-button .left-div {
      margin: 5px;
      border-radius: 30px;
      background: #E6F4FD;
      color: #666;
      margin-left: 15px;
    }
    .footer-button .two-div {
      margin: 5px;
      border-radius: 30px;
      background: #E6F4FD;
      color: #666;
      margin-left: 10px;
    }
    .button-confirm {
      float: left;
      width: 40%;
      height: 44px;
      line-height: 44px;
      text-align: center;
    }
    .button-confirm div {
      margin: 5px;
      border-radius: 30px;
      background: #32A4EC;
      color: #ffffff;
    }
    .button-confirm img {
      width: 20px;
      position: relative;
      top: 4px;
    }
  }

  input::-webkit-input-placeholder {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }

  input:-moz-placeholder {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }

  input:-ms-input-placeholder {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }

  .item {
    border-color: rgba(221, 221, 221, 0.6) !important;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 0.5px;
    border-style: solid;
    font-size: 16px;
  }

  //modal 点击反应慢的问题修复
  .click-block {
    width: 0;
    height: 0;
    position: static;
    opacity: 0;
    z-index: 0;
    -webkit-transform: none;
    transform: none;
    overflow: hidden;
  }

  .slide-in-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  .slide-in-right.ng-enter,
  .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 100ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 100ms;
  }

  .slide-in-right.ng-enter-active,
  .slide-in-right > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slide-in-right.ng-leave,
  .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 100ms;
    transition: all ease-in-out 100ms;
  }

  .has-bottom-border {
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
  }

  .has-top-border {
    border-top: 1px solid rgba(210, 210, 210, 0.3);
  }

  .has-bottom-border.text-black {
    color: #333333 !important;
  }
}
.action-sheet {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  z-index: 11;
  overflow: hidden;
  /* background: none; */
}

.action-sheet-group {
  margin-bottom: 8px;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}

.action-sheet-group .button {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif !important;
  font-size: 1.3em !important;
  padding: 5px;

}

.action-sheet .button {
  display: block;
  padding: 5px;
  width: 100%;
  border-radius: 0;
  border-radius: 0;
  border-color: #e5ecef;
  background-color: transparent;
  color: #007aff;
  font-size: 21px;
}

.action-sheet-title {
  padding: 16px;
  color: #8f8f8f;
  text-align: center;
  font-size: 1.1em;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif !important;
}

.popup-body {
  padding: 10px;
  overflow: auto;
  text-align: center;
}

.popup {
  border-radius: 20px !important;
  overflow: hidden !important;
  background: #f8f8f8 !important;
  h3 {
    font-size: 100% !important;
  }
  .popup-head {
    padding: 20px 10px 0;
    border: none;
    .popup-title{
      color: #444 !important;
    }
  }
  .popup-body {
    padding: 10px 15px 15px;
    color: #444;
  }
  .popup-buttons {
    min-height: 0 !important;
    padding: 0 !important;
    height: 50px !important;
    border-top: 1px solid #e5e5e5 !important;
    button {
      color: #32A4EC !important;
      border-left: 1px solid #e5e5e5;
    }
    button:first-child {
      border: none;
    }
  }
}
.directive-box{
  #bar-footer2 {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: auto;
    max-height: 110px;
  }
  .holdFooter {
    z-index:1000;
    bottom: 44px;
    background:none;
    .wave-hold {
      width: 30%;
      float: left;
      height: 40px;
      display: table;
      div {
        vertical-align: middle;
        display: table-cell;
        height: 40px;
        width: 60px;
        text-align: center;
      }
      img {
        width: 60px;
      }
    }
    .wave-text {
      width: 40%;
      float: left;
      height: 40px;
      display: table;
      div {
        color: #666;
        vertical-align: middle;
        display: table-cell;
        height: 40px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .common-voice {
    float: left;
    width: 10%;
    display: table;
    div {
      vertical-align: middle;
      display: table-cell;
      height: 40px;
      width: 20px;
      text-align: center;
    }
    img {
      width: 20px;
      position: absolute;
      bottom: 12px;
      left: 10px;
    }
  }
  .common-content {
    float: left;
    width: 80%;
    max-height: 110px;
    textarea {
      overflow-y: visible;
      width: 100%;
      word-break: break-all;
      border: 1px solid #ddd;
      border-radius: 5px;
      max-height: 100px;
    }
  }
  .common-submit {
    float: left;
    width: 10%;
    display: table;
    div {
      vertical-align: middle;
      display: table-cell;
      position: absolute;
      bottom: 12px;
      right: 5px;
    }
  }
}

.ionic_datepicker_popup .popup .popup-buttons button {
  color: white !important;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
  margin: -10px -15px 0 -15px !important;
  background: #32acec !important;
}

.ionic_datepicker_popup .selected_date, .ionic_datepicker_popup .popup-buttons button {
  background: #32acec !important;
}

.ionic_datepicker_popup .today {
  border: 1px solid #32acec !important;
}

.ionic_datepicker_popup .popup-body .button-clear, .ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
  color: #32acec !important;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
  border-bottom: 1px solid #32acec !important;
}
.platform-ios {
  .sifting-header {
    height: 64px;
    padding-top: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #333333;
    background: #f8f8f8;
    line-height: 44px;
    font-size: 1.2em;
    border: none;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    img {
      width: 23px;
      height: 23px;
      position: absolute;
      top: 20px;
      box-sizing: content-box;
      border: 10px solid transparent;
      z-index: 5;
      left: 2px;
    }
  }
  .common-fix-div {
    .common-fix-div-header {
      height: 64px;
      padding-top: 20px;
      img {
        top: 20px;
        box-sizing: content-box;
        border: 10px solid transparent;
        z-index: 5;
        left: 0vw !important;
      }
      .left, .right {
        top: 20px;

      }
    }
    .list {
      height: calc(100vh - 110px);
    }
    .list.list-has-header {
      height: calc(100vh - 150px);
    }
    .list.country {
      height: calc(100vh - 160px);
    }
    .list.country.in-china {
      height: calc(100vh - 200px);
    }
  }
}
