<ion-modal-view id="departmentModal" class="flyback-query-select-model">
  <ion-header-bar class="bar-stable xbr-header-bar">
    <button class="button button-clear" ng-click="closeModal()" style="color: #ffffff">返回
    </button>
    <h1 class="title">项目选择</h1>
    <button class="button button-clear" ng-click="clearChoose()" style="color: #ffffff">清选
    </button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <div>
      <div class="input-left"><i class="ion-ios-search"></i></div>
      <div class="xbr-center">
        <input class="input-search" placeholder="输入项目名称" ng-model="param.filter"/>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="fb-modal-list" ng-repeat="item in lists| filter:param.filter" ng-click="chooseModal(item)">
        {{item.name}}
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
