.carpooling-search{
  .transmit-search {
    width: 78%;
    margin-left: 15px;
    background: white;
    height: 28px;
    color: gray;
    margin-top: 5px;
    padding-left: 15px;
    border-radius: 15px;
    .transmit-button {
      float: left;
      width: 8%;
      margin-top: 5px;
      font-size: 18px;
    }
    input {
      float: left;
      width: 85%;
      height: 20px;
      line-height: 20px;
      margin-top: 4px;
      margin-bottom: 4px;
      border: none;
    }
  }
  .list-item{
    border: none;
    border-color: white;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    background-color:#FAFAFA;
  }
  .item.activated{
    opacity: 0.4;
    background-color: #FAFAFA;
  }
  .car-list {
    width: 97.4%;
    height: 158px;
    margin: 4px 1.3% 0px 1.3%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(155, 155, 155, 0.23);
  }
  .car-start{
    width: 100%;
    padding: 6px 0px 0px 0px ;
  }
  .logo-car{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.27);
  }
  .carpooling-logo{
    height: 8px;
    float: left;
    margin-left: 7.5%;
    margin-top: 10px;
  }
  .carpooling-font{
    width: 771.5%;
    font-size: 16px;
    margin-left: 167%;
    padding-top: 5px;
    color: #4A4A4A;
  }
  .car-from{
    width: 100%;
    height: 18px;
    margin-top: 9px;
  }
  .car-location{
    margin-left: 44px;
  }
  .text-over-hidder{
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .font-color2{
    color:#4A4A4A;
  }
  .font-color1{
    color: #9B9B9B;
  }
  .vertical-line{
    width: 2px;
    height: 11px;
    background: #D2D2D2;
    margin-left: 8px;
    margin-top: -5px;
  }
  .car-to{
    width: 100%;
    height: 18px;
  }
  .on-time{
    margin: 13px 0px 13px 0px;
    float: left;
  }
  .remain{
    height: 30px;
    padding-top: 12px;
    float: right;
  }
  .remain-seat{
    float: left;
  }
  .remain-number{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 15px;
    margin-left: 85px;
    margin-top: -5px;
    box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.27);
  }

}

