$contactLineColor: #D2D2D2 !default;

.contact {
  .buttons {
    .img-scan {
      height: 26px;
      width: 30px;
      background-color: transparent;
      background-image: url('./../img/contact/scan@3x.png');
      @include image-background(no-repeat, 18px 18px, 9px 7px);
    }
    .scan-text {
      padding-top: 1px;
      padding-left: 8px;
    }
  }
  .head-animation {
  }
  .head-animation.ng-enter {
    -webkit-animation: fadeInDown 0.4s;
    animation: fadeInDown .4s;
  }
  .head-animation.ng-enter-stagger {
    -webkit-animation-delay: 220ms;
    animation-delay: 220ms;
    -webkit-animation-duration: 0ms;
    animation-duration: 0ms;
  }
  .contact-content {
    //top: 44px;
    background-color: $global-background;
    .input-height {
      height: 25px;
      margin-top: 4px;
    }
    .org-structure {
      margin-top: 15px;
    }
    .no-padding {
      padding: 0px;
      margin: 0px;
    }
    .contact-item {
      height: 47px;
      background-color: $color-base;
      padding-bottom: 5px;
      .item-logo {
        padding-left: 10px;
        .contact-item-logo {
          width: 38px;
          height: 38px;
          line-height: 38px;
          text-align: center;
          float: left;
          border-radius: 22.5px;
          font-size: 16px;
        }
      }
      .item-name {
        align-self: center;
        font-size: $font-size-big;
        color: $color-text-assistant;
      }
      .item-line {
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $contactLineColor;
        margin-top: 47px;
        margin-left: -84%;
      }
      .item-arrow {
        height: 20px;
        width: 20px;
        background-color: transparent;
        background-image: url("./../img/application/timesheet-approve/list/BackArrow-1@3x.png");
        @include position-adjust(14px, 5%);
        @include image-background(no-repeat, contain, 0px 0px);
      }
      .tel-img {
        height: 38px;
        width: 60px;
        background-color: transparent;
        background-image: url("./../img/contact/mobile@3x.png");
        @include position-adjust(11px, 0%);
        @include image-background(no-repeat, 23px 23px, 18px 0px);
      }
      .tel-img.activated {
        opacity: 0.7;
        transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
      }
    }
    .contact-item.activated {
      opacity: 0.7;
    }
    .custom-link-man {
      color: $color-text-key;
      font-size: 16/17*$font-size-big;
      padding-left: 15px;
      padding-top: 10px;
      height: 40px;
    }
  }
}
