<ion-view view-title="新建证书" class="new-certificate">
  <ion-header-bar align-title="center" ng-class="{'bar-stable blur-back':pictureAppearance,'bar-stable clear-back':!pictureAppearance}">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">添加证书</h1>
  </ion-header-bar>
  <ion-content ng-class="{'content-style blur-back':pictureAppearance,'content-style clear-back':!pictureAppearance}">
    <div class="upload-card">
    <ion-item class="common-item" ng-click="showCertificateTypeModal()">
     <div class="row common-row">
      <label class="common-label">证书种类：</label>
      <label class="choose-label" ng-bind="defaultType"></label>
      <img src="build/img/myInfo/go-arrow-gray.png" class="gray-arrow-icon"/>
     </div>
    </ion-item>
    <ion-item class="common-item">
     <div class="row common-row">
       <label class="common-label">证书名称：</label>
       <input type="text" class="certificate-input" placeholder="请输入"/>
     </div>
    </ion-item>
    <ion-item class="image-item">
     <div class="row label-row">
       <label class="upload-label">证书上传(最多上传10张)：</label>
     </div>
     <!--第一行--><div class="row label-row" ng-show="judgeRow(0)">
      <div class="col col-25 no-space">
       <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[0][0]">
          <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[0].deleteMode" ng-click="deleteImage(0)"></i>
          <img ng-hide="imageList[0].selected || imageList[0].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(0)"/>
          <img ng-show="imageList[0].selected && !imageList[0].deleteMode" ng-src="{{imageList[0].url}}" on-hold="enterDeleteMode(0)" on-tap="showBigPicture(0)" style="width: 90px;height: 90px;"/>
          <div ng-show="imageList[0].deleteMode" ng-click="leaveDeleteModel(0)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
       </ion-item>
      </div>
      <div class="col col-5 no-space">
      </div>
      <div class="col col-25 no-space">
        <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[0][1]">
          <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[1].deleteMode" ng-click="deleteImage(1)"></i>
          <img ng-hide="imageList[1].selected || imageList[1].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(1)"/>
          <img ng-show="imageList[1].selected && !imageList[1].deleteMode" ng-src="{{imageList[1].url}}" on-hold="enterDeleteMode(1)" on-tap="showBigPicture(1)" style="width: 90px;height: 90px;"/>
          <div ng-show="imageList[1].deleteMode" ng-click="leaveDeleteModel(1)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
        </ion-item>
      </div>
       <div class="col col-5 no-space">
       </div>
       <div class="col col-25 no-space">
         <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[0][2]">
           <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[2].deleteMode" ng-click="deleteImage(2)"></i>
           <img ng-hide="imageList[2].selected || imageList[2].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(2)"/>
           <img ng-show="imageList[2].selected && !imageList[2].deleteMode" ng-src="{{imageList[2].url}}" on-hold="enterDeleteMode(2)" on-tap="showBigPicture(2)" style="width: 90px;height: 90px;"/>
           <div ng-show="imageList[2].deleteMode" ng-click="leaveDeleteModel(2)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
         </ion-item>
       </div>
       <div class="col col-15 no-space">
       </div>
     </div>
      <!--第二行--><div class="row label-row" ng-show="judgeRow(1)">
        <div class="col col-25 no-space">
          <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[1][0]">
            <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[3].deleteMode" ng-click="deleteImage(3)"></i>
            <img ng-hide="imageList[3].selected || imageList[3].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(3)"/>
            <img ng-show="imageList[3].selected && !imageList[3].deleteMode" ng-src="{{imageList[3].url}}" on-hold="enterDeleteMode(3)" on-tap="showBigPicture(3)" style="width: 90px;height: 90px;"/>
            <div ng-show="imageList[3].deleteMode" ng-click="leaveDeleteModel(3)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[1][1]">
            <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[4].deleteMode" ng-click="deleteImage(4)"></i>
            <img ng-hide="imageList[4].selected || imageList[4].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(4)"/>
            <img ng-show="imageList[4].selected && !imageList[4].deleteMode" ng-src="{{imageList[4].url}}" on-hold="enterDeleteMode(4)" on-tap="showBigPicture(4)" style="width: 90px;height: 90px;"/>
            <div ng-show="imageList[4].deleteMode" ng-click="leaveDeleteModel(4)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[1][2]">
            <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[5].deleteMode" ng-click="deleteImage(5)"></i>
            <img ng-hide="imageList[5].selected || imageList[5].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(5)"/>
            <img ng-show="imageList[5].selected && !imageList[5].deleteMode" ng-src="{{imageList[5].url}}" on-hold="enterDeleteMode(5)" on-tap="showBigPicture(5)" style="width: 90px;height: 90px;"/>
            <div ng-show="imageList[5].deleteMode" ng-click="leaveDeleteModel(5)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
          </ion-item>
        </div>
        <div class="col col-15 no-space">
        </div>
      </div>
      <!--第三行--><div class="row label-row" ng-show="judgeRow(2)">
        <div class="col col-25 no-space">
          <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[2][0]">
            <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[6].deleteMode" ng-click="deleteImage(6)"></i>
            <img ng-hide="imageList[6].selected || imageList[6].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(6)"/>
            <img ng-show="imageList[6].selected && !imageList[6].deleteMode" ng-src="{{imageList[6].url}}" on-hold="enterDeleteMode(6)" on-tap="showBigPicture(6)" style="width: 90px;height: 90px;"/>
            <div ng-show="imageList[6].deleteMode" ng-click="leaveDeleteModel(6)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[2][1]">
            <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[7].deleteMode" ng-click="deleteImage(7)"></i>
            <img ng-hide="imageList[7].selected || imageList[7].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(7)"/>
            <img ng-show="imageList[7].selected && !imageList[7].deleteMode" ng-src="{{imageList[7].url}}" on-hold="enterDeleteMode(7)" on-tap="showBigPicture(7)" style="width: 90px;height: 90px;"/>
            <div ng-show="imageList[7].deleteMode" ng-click="leaveDeleteModel(7)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[2][2]">
            <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[8].deleteMode" ng-click="deleteImage(8)"></i>
            <img ng-hide="imageList[8].selected || imageList[8].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(8)"/>
            <img ng-show="imageList[8].selected && !imageList[8].deleteMode" ng-src="{{imageList[8].url}}" on-hold="enterDeleteMode(8)" on-tap="showBigPicture(8)" style="width: 90px;height: 90px;"/>
            <div ng-show="imageList[8].deleteMode" ng-click="leaveDeleteModel(8)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
          </ion-item>
        </div>
        <div class="col col-15 no-space">
        </div>
      </div>
      <!--第四行--><div class="row label-row" ng-show="judgeRow(3)">
      <div class="col col-25 no-space">
        <ion-item style="padding: 0px;margin: 0px;border: none;width: 92px;height: 92px;border: 1px solid #d2d2d2;background-color: transparent" ng-show="matrix[3][0]">
          <i class="ion-ios-minus-outline" style="font-size: 4rem;color: orangered;position: absolute;left: 19px;top: 13px" ng-show="imageList[9].deleteMode" ng-click="deleteImage(9)"></i>
          <img ng-hide="imageList[9].selected || imageList[9].deleteMode" src="build/img/myInfo/camera.png" style="width: 90px;height: 90px;padding: 27.5px 25px;" ng-click="showPictureModal(9)"/>
          <img ng-show="imageList[9].selected && !imageList[9].deleteMode" ng-src="{{imageList[9].url}}"  on-hold="enterDeleteMode(9)" on-tap="showBigPicture(9)" style="width: 90px;height: 90px;"/>
          <div ng-show="imageList[9].deleteMode" ng-click="leaveDeleteModel(9)" style="width: 90px;height: 90px;background-color: rgba(0, 0, 0, 0.7);"></div>
        </ion-item>
      </div>
      <div class="col col-5 no-space">
      </div>
      <div class="col col-25 no-space" ng-show="matrix[2][1]">
      </div>
      <div class="col col-5 no-space">
      </div>
      <div class="col col-25 no-space" ng-show="matrix[2][2]">
      </div>
      <div class="col col-15 no-space">
      </div>
    </div>
     <div class="upload-bottom"></div>
    </ion-item>
    </div>
    <button class="button button-block" style="min-height: 40px;line-height: 40px;margin: 0px;padding: 0px;border: none;width: 54%;margin-left: 23%;margin-top: 35px;border-radius: 20px;background-color: #f99d32;color: #ffffff;font-size: 1rem;" ng-click="">提交</button>
  </ion-content>
  <div class="black-page" ng-if="pictureAppearance">
    <div class="black-head">
      <button class="button button-icon cancel-button" ng-click="hideBigPicture()">
        <img class="cancel-button-image" src="build/img/application/dorm-apply/cancel-opacity.png"/>
      </button>
    </div>
    <ion-scroll has-bouncing="false" class="scroll-height">
      <div class="flank">
       <img id="my-big-picture" ng-src="{{extensionPicture}}" style="border: none;margin-left: auto;margin-right: auto"/>
      </div>
    </ion-scroll>
  </div>
</ion-view>
