<ion-view view-title="新建证书" class="new-certificate">
  <ion-header-bar align-title="center" ng-class="{'bar-stable blur-back':pictureAppearance,'bar-stable clear-back':!pictureAppearance}">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">添加证书</h1>
  </ion-header-bar>
  <ion-content ng-class="{'content-style blur-back':pictureAppearance,'content-style clear-back':!pictureAppearance}">
    <hms-loading ng-if="showLoading" style="padding-top: 110px;padding-bottom: 110px;padding-bottom: 700px;"></hms-loading>
    <div class="upload-card">
    <ion-item class="common-item" ng-click="showCertificateTypeModal()">
     <div class="row common-row">
      <label class="common-label">证书种类：</label>
      <label class="choose-label" ng-bind="defaultType"></label>
      <img src="build/img/myInfo/go-arrow-gray.png" class="gray-arrow-icon"/>
     </div>
    </ion-item>
    <ion-item class="common-item">
     <div class="row common-row">
       <label class="common-label">证书名称：</label>
       <input type="text" class="certificate-input" placeholder="请输入" ng-model="certificate.info"/>
     </div>
    </ion-item>
    <ion-item class="image-item">
     <div class="row label-row">
       <label class="upload-label">证书上传</label>
     </div>
     <div class="row label-row" style="margin-top: 5px">
       <label class="upload-description-label">提示：最多上传10张图片</label>
     </div>
     <!--第一行--><div class="row label-row" ng-show="judgeRow(0)">
      <div class="col col-25 no-space">
       <ion-item class="image-square-item" ng-show="matrix[0][0]">
          <i class="ion-ios-close delete-icon" ng-show="imageList[0].selected" ng-click="deleteImage(0)"></i>
          <img ng-hide="imageList[0].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(0)"/>
          <img ng-show="imageList[0].selected" ng-src="{{imageList[0].uri}}" on-tap="showBigPicture(0)" class="common-image"/>
          <!--<div ng-show="imageList[0].deleteMode" ng-click="leaveDeleteModel(0)" class="black-shelter"></div>-->
       </ion-item>
      </div>
      <div class="col col-5 no-space">
      </div>
      <div class="col col-25 no-space">
        <ion-item class="image-square-item" ng-show="matrix[0][1]">
          <i class="ion-ios-close delete-icon" ng-show="imageList[1].selected" ng-click="deleteImage(1)"></i>
          <img ng-hide="imageList[1].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(1)"/>
          <img ng-show="imageList[1].selected" ng-src="{{imageList[1].uri}}" on-tap="showBigPicture(1)" class="common-image"/>
          <!--<div ng-show="imageList[1].deleteMode" ng-click="leaveDeleteModel(1)" class="black-shelter"></div>-->
        </ion-item>
      </div>
       <div class="col col-5 no-space">
       </div>
       <div class="col col-25 no-space">
         <ion-item class="image-square-item" ng-show="matrix[0][2]">
           <i class="ion-ios-close delete-icon" ng-show="imageList[2].selected" ng-click="deleteImage(2)"></i>
           <img ng-hide="imageList[2].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(2)"/>
           <img ng-show="imageList[2].selected" ng-src="{{imageList[2].uri}}" on-tap="showBigPicture(2)" class="common-image"/>
           <!--<div ng-show="imageList[2].deleteMode" ng-click="leaveDeleteModel(2)" class="black-shelter"></div>-->
         </ion-item>
       </div>
       <div class="col col-15 no-space">
       </div>
     </div>
      <!--第二行--><div class="row label-row" ng-show="judgeRow(1)">
        <div class="col col-25 no-space">
          <ion-item class="image-square-item" ng-show="matrix[1][0]">
            <i class="ion-ios-close delete-icon" ng-show="imageList[3].selected" ng-click="deleteImage(3)"></i>
            <img ng-hide="imageList[3].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(3)"/>
            <img ng-show="imageList[3].selected" ng-src="{{imageList[3].uri}}" on-tap="showBigPicture(3)" class="common-image"/>
            <!--<div ng-show="imageList[3].deleteMode" ng-click="leaveDeleteModel(3)" class="black-shelter"></div>-->
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item class="image-square-item" ng-show="matrix[1][1]">
            <i class="ion-ios-close delete-icon" ng-show="imageList[4].selected" ng-click="deleteImage(4)"></i>
            <img ng-hide="imageList[4].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(4)"/>
            <img ng-show="imageList[4].selected" ng-src="{{imageList[4].uri}}" on-tap="showBigPicture(4)" class="common-image"/>
            <!--<div ng-show="imageList[4].deleteMode" ng-click="leaveDeleteModel(4)" class="black-shelter"></div>-->
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item class="image-square-item" ng-show="matrix[1][2]">
            <i class="ion-ios-close delete-icon" ng-show="imageList[5].selected" ng-click="deleteImage(5)"></i>
            <img ng-hide="imageList[5].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(5)"/>
            <img ng-show="imageList[5].selected" ng-src="{{imageList[5].uri}}" on-tap="showBigPicture(5)" class="common-image"/>
            <!--<div ng-show="imageList[5].deleteMode" ng-click="leaveDeleteModel(5)" class="black-shelter"></div>-->
          </ion-item>
        </div>
        <div class="col col-15 no-space">
        </div>
      </div>
      <!--第三行--><div class="row label-row" ng-show="judgeRow(2)">
        <div class="col col-25 no-space">
          <ion-item class="image-square-item" ng-show="matrix[2][0]">
            <i class="ion-ios-close delete-icon" ng-show="imageList[6].selected" ng-click="deleteImage(6)"></i>
            <img ng-hide="imageList[6].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(6)"/>
            <img ng-show="imageList[6].selected" ng-src="{{imageList[6].uri}}" on-tap="showBigPicture(6)" class="common-image"/>
            <!--<div ng-show="imageList[6].deleteMode" ng-click="leaveDeleteModel(6)" class="black-shelter"></div>-->
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item class="image-square-item" ng-show="matrix[2][1]">
            <i class="ion-ios-close delete-icon" ng-show="imageList[7].selected" ng-click="deleteImage(7)"></i>
            <img ng-hide="imageList[7].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(7)"/>
            <img ng-show="imageList[7].selected" ng-src="{{imageList[7].uri}}" on-tap="showBigPicture(7)" class="common-image"/>
            <!--<div ng-show="imageList[7].deleteMode" ng-click="leaveDeleteModel(7)" class="black-shelter"></div>-->
          </ion-item>
        </div>
        <div class="col col-5 no-space">
        </div>
        <div class="col col-25 no-space">
          <ion-item class="image-square-item" ng-show="matrix[2][2]">
            <i class="ion-ios-close delete-icon" ng-show="imageList[8].selected" ng-click="deleteImage(8)"></i>
            <img ng-hide="imageList[8].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(8)"/>
            <img ng-show="imageList[8].selected" ng-src="{{imageList[8].uri}}" on-tap="showBigPicture(8)" class="common-image"/>
            <!--<div ng-show="imageList[8].deleteMode" ng-click="leaveDeleteModel(8)" class="black-shelter"></div>-->
          </ion-item>
        </div>
        <div class="col col-15 no-space">
        </div>
      </div>
      <!--第四行--><div class="row label-row" ng-show="judgeRow(3)">
      <div class="col col-25 no-space">
        <ion-item class="image-square-item" ng-show="matrix[3][0]">
          <i class="ion-ios-close delete-icon" ng-show="imageList[9].selected" ng-click="deleteImage(9)"></i>
          <img ng-hide="imageList[9].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(9)"/>
          <img ng-show="imageList[9].selected" ng-src="{{imageList[9].uri}}" on-tap="showBigPicture(9)" class="common-image"/>
          <!--<div ng-show="imageList[9].deleteMode" ng-click="leaveDeleteModel(9)" class="black-shelter"></div>-->
        </ion-item>
      </div>
      <div class="col col-5 no-space">
      </div>
      <div class="col col-25 no-space">
      </div>
      <div class="col col-5 no-space">
      </div>
      <div class="col col-25 no-space">
      </div>
      <div class="col col-15 no-space">
      </div>
    </div>
     <div class="upload-bottom"></div>
    </ion-item>
    </div>
    <button class="button button-block commit-button" ng-click="commitInfo()">提交</button>
  </ion-content>
  <div class="black-page" ng-if="pictureAppearance" ng-click="hideBigPicture()">
    <!--<div class="black-head">-->
      <!--<button class="button button-icon cancel-button" ng-click="hideBigPicture()">-->
        <!--<img class="cancel-button-image" src="build/img/application/dorm-apply/cancel-opacity.png"/>-->
      <!--</button>-->
    <!--</div>-->
    <ion-scroll has-bouncing="false" class="scroll-height">
      <div class="flank">
       <img id="my-big-picture" ng-src="{{extensionPicture}}" class="picture-position"/>
      </div>
      <!--<div class="scroll-bottom-line"></div>-->
    </ion-scroll>
  </div>
</ion-view>
