<ion-view view-title="房屋转租">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">房屋转租</h1>
  </ion-header-bar>
  <ion-content style="background-color: #fafafa;" delegate-handle="subleaseScroll">
    <hms-loading ng-if="showLoading" style="padding-top: 110px"></hms-loading>
    <ion-refresher on-refresh="doRefresh()" pulling-text="正在刷新数据..." pulling-icon="ios-small"></ion-refresher>
    <ion-list>
      <div style=" margin-top: 8px">
        <ion-item ng-repeat="item in housesSubInfos"
                  style="padding: 0px; margin: 0px; width: 97%; margin-left: 1.5%; border: none;"
                  ng-click="goHourseSubDetail(item.houseId)">
          <div class="row"
               style="padding: 0px; margin: 0px; width: 100%; margin-left: 10px; border-bottom: 2px solid #e8e8e8;">
            <div class="col col-33"
                 style="padding: 0px; margin: 0px; margin-top: 10px; margin-bottom: 10px;">
              <img style="width: 86%; height: 76px" ng-if="item.houseImg == null" ng-src="build/img/application/houses-sublease/default@3x.png">
              <img style="width: 86%; height: 76px" ng-if="item.houseImg != null" ng-src="{{item.houseImg}}">
            </div>
            <div class="col col-67" style="padding: 0px; margin: 0px; margin-top: 10px; margin-bottom: 10px">
              <div class="row" style="padding: 0px;margin: 0px;font-size: 14px;color: #4A4A4A;">{{item.houseTitle}}
              </div>
              <div class="row" style="padding: 0px; margin: 0px; font-size: 12px; color: #9B9B9B">{{item.trafficInfo}}
              </div>
              <div class="row" style="padding: 0px; margin: 0px; font-size: 12px; color: #9B9B9B; height: 18px">
                <div class="col" style="padding: 0px; margin: 0px; text-align: right; margin-right: 10%" ng-if="item.houseStatus == 'N'">
                  <img src="build/img/application/houses-sublease/outofdate@3x.png" style="width: 46px; height: 46px; margin-top: -15%">
                </div>
              </div>
              <div class="row" style="padding: 0px; margin: 0px;">
                <div class="col" style="padding: 0px; margin: 0px; font-size: 16px; color: #F99D32">{{item.rent}}元/月
                </div>
                <div class="col" style="padding: 0px; margin: 0px; font-size: 14px; color: #24559C; text-align: right">
                  <div>{{(item.expireData).substr(5,2);}}月到期</div>
                </div>
                <div class="col" style="padding: 0px; margin: 0px; font-size: 14px; color: #9B9B9B; margin-left: 5px; text-align: right;">
                  <div style="margin-right: 20px">{{item.area}}</div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded"
      distance="1%"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
  <div style="position: fixed; bottom: 58px; margin-left: 81%" ng-click="goHousesRelease()">
      <img src="build/img/application/houses-sublease/create@3x.png" style="width: 48px; height: 48px">
  </div>
</ion-view>
<style>
  .spinner svg {
    width: 0px;
    height: 0px;
  }
</style>
