<ion-view view-title="发布记录">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">发布记录</h1>
  </ion-header-bar>
  <ion-content style="background-color: #fafafa;" delegate-handle="recordScroll">
    <!--<hms-loading ng-if="showLoading" style="padding-top: 110px"></hms-loading>-->
    <ion-refresher on-refresh="doRefresh()" pulling-text="正在刷新数据..." pulling-icon="ion-ios-loop"></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in releaseRecordInfos"
                style="padding: 0px; margin: 0px; width: 97%; margin-left: 1.5%; border: none; margin-top: 8px">
        <div class="row"
             style="padding: 0px; margin: 0px; width: 100%; margin-left: 10px; border-bottom: 2px solid #e8e8e8;">
          <div class="col col-33" style="padding: 0px; margin: 0px; margin-top: 10px; margin-bottom: 10px;">
            <img style="width: 86%; height: 76px" ng-if="item.imgs == ''" ng-src="build/img/application/houses-sublease/default@3x.png">
            <!--<img style="width: 86%; height: 76px" ng-if="item.imgs != ''" ng-src="{{item.imgs[0].objectUrl}}">-->
            <div style="width: 86%; height: 76px; background-color: #EEEEEE; background-image: url('{{item.imgs[0].objectUrl}}'); background-size: cover; background-repeat: no-repeat; background-position: center center"  ng-if="item.imgs != ''"></div>
          </div>
          <div class="col col-67" style="padding: 0px; margin: 0px; margin-top: 10px; margin-bottom: 10px">
            <div class="row" style="padding: 0px;margin: 0px;font-size: 14px;color: #4A4A4A;">{{item.houseTitle}}</div>
            <div class="row" style="padding: 0px; margin: 0px; font-size: 12px; color: #9B9B9B">{{item.trafficInfo}}</div>
            <div class="row" style="padding: 0px; margin: 0px; font-size: 14px; color: #24559C; height: 18px; margin-top: 10px">发布于{{item.publishDate}}</div>
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid  #e8e8e8">
          <div class="col col-50" style="padding: 0px; border: 0px"></div>
          <div class="col col-50" style="padding: 0px; border: 0px; text-align: right">
            <div class="button" style="width: 67px; height: 24px; min-height: 24px; background-color: #FFFFFF; line-height: 24px; border-radius: 10px; border: 1px solid #B95756; color: #B95756; font-size: 14px; margin-top: 15px; margin-bottom: 5px; text-align: center; margin-right: 10px" ng-click="housesDelete(item)">删除</div>
            <div class="button" style="width: 67px; height: 24px; min-height: 24px; background-color: #FFFFFF; line-height: 24px; border-radius: 10px; border: 1px solid #24559C; color: #24559C; font-size: 14px; margin-top: 15px; margin-bottom: 5px; text-align: center; margin-right: 10px" ng-click="housesEdit(item)">编辑</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      class="recordSvg"
      ng-if="moreDataCanBeLoaded"
      distance="1%"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
<style>
  .recordSvg .spinner svg {
    width: 0px;
    height: 0px;
  }
</style>

