//审批列表背景
.tsListBg {
  border-color: #b2b2b2;
  color: $color-base;
  background-image: url("./../img/application/tsApprove/list/BG@3x.png");
  background-size: cover;
  padding-top: 100px;
  width: 100%;
}

//火箭图标
.rocketIcon {
  width: 42px;
  height: 42px;
  position: absolute;
  z-index: 100;
  top: 68%;
  right: 2%;
  background-image: url("./../img/application/tsApprove/list/rocketTop@3x.png");
  background-size: cover;
}

.tsApproveLsHead {
  position: fixed;
  z-index: 100;
  height: 100px;
  width: 100%;
  background: -webkit-linear-gradient(top, #17468F, #3D7BC4, #6EA5D2);
  background: -o-linear-gradient(top, #17468F, #3D7BC4, #6EA5D2); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top, #17468F, #3D7BC4, #6EA5D2); /* Firefox 3.6 - 15 */
  background: linear-gradient(top, #17468F, #3D7BC4, #6EA5D2); /* 标准的语法 */
  .aeFirstHead {
    height: 44px;
    .backButton {
      font-size: 2*$font-size;
      margin-left: -10px;
      color: $color-base;
      min-height: 35px;
    }
    .backText {
      font-size: $font-size-big;
      position: fixed;
      padding-left: 5px;
    }
    .actionButton {
      right: 5px;
      position: absolute;
      color: $color-base;
      min-height: 35px;
      font-size: 16/17*$font-size-big;
    }
  }
  .aeSecondHead {
    height: 56px;
    .bgInput {
      background-color: $color-base;
      margin-top: 1.2%;
      margin-left: 13.3%;
      width: 73.4%;
      height: 70%;
      border-radius: 20px;
      .calendarIcon {
        background-image: url("./../img/application/tsApprove/list/calender@3x.png");
        background-repeat: no-repeat;
        background-position: 15px 0px;
        background-size: 27px 27px;
        margin-left: 15px;
        padding-left: 50px;
        min-height: 35px;
        .calendarText {
          color: #26579E;
          font-size: $font-size-small;
          position: fixed;
          margin-top: -6%;
        }
      }
      .calendarEndDate {
        color: #F99D32;
        font-size: $font-size-small;
        padding-top: 6px;
        padding-left: 52px;

      }
    }
    .connectBlock {
      background-image: url("./../img/application/tsApprove/list/Rectangle-2@3x.png");
      background-repeat: no-repeat;
      background-size: 25px 13px;
      margin-left: 46.6%;
      height: 13px;
    }
  }
}

.tsListTitle {
  font-size: $font-size-big;
  text-align: center;
  color: $color-base;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -27px;
}

//列表
.tsApproveListItem {
  margin-bottom: 5px;
  padding-left: 10px;
  height: 101px;
  width: 92%;
  margin-left: 4%;
  background-color: $color-base;
  border-radius: 0 0 30px 0;
  border: none;
  box-shadow: 0px 2px 3px rgba(155, 155, 155, 0.23);
  .firContent {
    font-size: $font-size-small;
    color: $color-text-key;
    padding-top: 10px;
    .name {
      font-size: $font-size-big;
    }
    .jobNumber {
      padding-left: 15px;
    }
    .city {
      padding-left: 20px;
    }
    .flyBack {
      padding-left: 30px;
    }
    .flyIcon {
      background-image: url("./../img/application/tsApprove/list/flyback@3x.png");
      background-repeat: no-repeat;
      background-size: 15px 15px;
      margin-left: 10px;
      width: 20px;
      height: 15px;
    }
    .flyNumber {
      font-size: $font-size;
      color: #d2d2d2;
    }
  }
  .SecContent {
    font-size: $font-size-small;
    color: $color-text-main;
    padding-top: 10px;
    .name {
      color: $color-text-assistant;
    }
    .number {
      padding-left: 35px;
    }
    .numberIcon {
      background-image: url("./../img/application/tsApprove/list/accounting@3x.png");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: 0 2px;
      margin-left: 10%;
      width: 20px;
      height: 16px;
    }
  }
  .arrowItem {
    height: 21px;
    width: 21px;
    background-image: url("./../img/application/tsApprove/list/BackArrow-1@3x.png");
    background-size: cover;
    position: absolute;
    right: 10%;
    margin-top: -18px;
  }
}

//list page
.footBar {
  height: 50px;
  background-color: $color-base;
  .buttons {
    position: absolute;
    right: 6%;
    .filterIcon {
      background-image: url("./../img/application/tsApprove/list/screen@3x.png");
      background-repeat: no-repeat;
      background-size: 26px 26px;
      background-position: 15px 0px;
      margin-left: 5px;
      padding-left: 50px;
      min-height: 35px;
    }
    .filterText {
      @include positionAdjust(26px, 59%);
    }
    .timeIcon {
      background-image: url("./../img/application/tsApprove/list/reorder@3x.png");
      background-repeat: no-repeat;
      background-size: 26px 26px;
      background-position: 15px 0px;
      margin-left: 5px;
      padding-left: 50px;
      min-height: 35px;
    }
    .timeText {
      @include positionAdjust(26px, 8%);
    }
  }
}

.aeDetailHead {
  height: 92px;
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 44px;
  padding-top: 12px;
  z-index: 100;
  position: fixed;
  .aeDetailHeadContent {
    background-color: $color-base;
    height: 64px;
    border-radius: 0 0 30px 0;
    color: $color-text-assistant;
    font-size: $font-size-small;
    padding-left: 15px;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.23);
    .contentText {
      padding-top: 10px;
    }
  }
}

.ts-ae-detail-item {
  background-color: white;
  color: $color-text-main;
  font-size: $font-size-small;
  .aeItemsHead {
    height: 30px;
    color: #26579E;
    margin-top: 92px;
    font-size: 16/17*$font-size-big;
    padding-left: 5.3%;
    .itemWidth {
      width: 18%;
      text-align: center;
    }
  }

  .liner-ts-ae-detail {
    height: 2px;
    width: 100%;
    margin-left: 4%;
    background: -webkit-linear-gradient(left, #64ACFF, #538ACA, #3D7BC4, #64ACFF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #64ACFF, #538ACA, #3D7BC4, #64ACFF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #64ACFF, #538ACA, #3D7BC4, #64ACFF); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #64ACFF, #538ACA, #3D7BC4, #64ACFF); /* 标准的语法 */
  }

  .ts-approve-detail-item {
    height: 81px;
    width: 100%;
    .aeItemHead {
      padding-top: 20px;
      padding-left: 4.3%;
      color: $color-text-main;
      .itemWidth {
        width: 18%;
        text-align: center;
      }
      .descripText {
        width: 28%;
        position: absolute;
        color: $color-text-assistant;
      }
    }
    .item-date {
      padding-left: 10%;
      margin-top: 10px;
    }
    .itemBottomliner {
      border-bottom: 1px solid #d2d2d2;
      margin-left: 10%;
      margin-top: 6px;
    }
  }

  .selecetIcon {
    @if true {
      background-image: url("./../img/application/tsApprove/detail/selected@3x.png");
    } @else {
      background-image: url("./../img/application/tsApprove/detail/Oval@3x.png");
    }
    background-repeat: no-repeat;
    background-size: 14px 14px;
    position: absolute;
    left: 4.5%;
    width: 14px;
    height: 14px;
    margin-top: -48px;
  }

  .noIcon {
    background-image: url("./../img/application/tsApprove/detail/no@3x.png");
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: 54% 3px;
  }
  .yesIcon {
    background-image: url("./../img/application/tsApprove/detail/yes@3x.png");
    background-repeat: no-repeat;
    background-size: 15px 11px;
    background-position: 55% 3px;
  }
}

.ts-buttonLeft {
  font-size: 16/17*$font-size-big !important;
  color: #26579E !important;
  left: 15px;
  position: fixed;
}

.ts-buttonCenter {
  font-size: 16/17*$font-size-big !important;
  color: #ECAF38 !important;
  margin-left: 51%;
}

.ts-buttonRight {
  font-size: 16/17*$font-size-big !important;
  color: #B95756 !important;
  right: 15px;
  position: fixed;
}
