$timesheet-bule: #24559C !default;
$timesheet-green: #A2DED0 !default;
$timesheet-purple: #913D88 !default;
$timesheet-red: #E08283 !default;


.timesheet {
  background: $global-background;
  .calendar-month {
    margin-top: 8px;
    height: 40px;
    width: 100%;
    z-index: 100;
    margin-bottom: -5px;
    position: relative;

    .month-item {
      height: 40px;
      text-align: center;
      width: 20%;
      padding: 5px;
      float: left;
      background: url("../img/application/timesheet/Group@3x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 16px;
      font-weight: bold;
      color: $timesheet-bule;
    }
  }

  .calendar-day {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 5px #e5e5e5;
    position: relative;
    .calendar-lock-screen {
      position: absolute;
      text-align: center;
      background: white none repeat scroll !important;;
      padding-top: 180px;
      border-radius: 10px;
      opacity: 0.7;
      z-index: 99;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .calendar-title {
      height: 35px;
      margin-bottom: 5px;
      .title-item {
        float: left;
        width: 14%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #9B9B9B;
        font-size: 16px;
      }
    }

    .calendar-week {
      height: 70px;
      .day-item {
        float: left;
        width: 14%;
        height: 70px;
        position: relative;
        &.activated {
          background: #eeeeee;
        }
        &.approve {
          color: $timesheet-red;
        }
        &.reject {
          color: $timesheet-purple;
        }
        &.attendance {
          color: $timesheet-green;
        }
        &.blank {

        }
        .each-day {
          width: 28px;
          height: 28px;
          line-height: 28px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 14px;
          text-align: center;
          font-size: 20px;
          color: #9B9B9B;

          &.approve {
            background: url("../img/application/timesheet/selected-R@3x.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          &.reject {
            background: url("../img/application/timesheet/selected-P@3x.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          &.attendance {
            background: url("../img/application/timesheet/selected-G@3x.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          &.blank {

          }
        }
        .money {
          font-size: 10px;
          text-align: center;
          height: 12px;
          line-height: 12px;
          margin-top: 5px;
        }
        .project {
          width: 100%;
          font-size: 10px;
          text-align: center;
          height: 12px;
          line-height: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .lock-item {
          position: absolute;
          right: 0;
          top: 0;
          width: 7px;
          height: 10.5px;
          background: url("../img/application/timesheet/lock@3x.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    .allowance {
      margin-bottom: -38px;
      height: 76px;
      position: relative;
      .batch-write {
        position: absolute;
        right: 20px;
        top: 10px;
        height: 30px;
        font-size: 24px;
      }

      .allowance-click {
        width: 76px;
        height: 76px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        .allowance-button {
          width: 76px;
          height: 76px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 38px;
          background: url("../img/application/timesheet/generate-G@3x.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        &.activated {
          .allowance-button {
            width: 76px;
            height: 76px;
            border-radius: 38px;
            background: url("../img/application/timesheet/generate-Y@3x.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }
      }
    }
  }

  .allowance-content {
    margin-top: 40px;
    .allowance-title {
      height: 20px;
      line-height: 20px;
      border-left: 2px solid $timesheet-bule;
      padding-left: 5px;
      color: #8f8f8f;
      font-size:16px;
    }

    .allowance-detail {
      padding: 6px 12px;
      color: #8f8f8f;
      .no-padding {
        margin: 0;
        padding: 0;
      }

      .allowance-status {
        color: $timesheet-green;
      }
      .allowance-cash {
        color: $timesheet-bule;
        text-align: right;
      }
      .allowance-project {
        color: black;
      }
      .allowance-project-info {
        background: white;
        padding: 12px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        border-bottom-right-radius: 24px;
        box-shadow: 0px 0px 10px #e8e8e8;
        .sequence {
          height: 20px;
          width: 20px;
          border-radius: 10px;
          box-shadow: 0px 0px 8px #e8e8e8;
          text-align: center;
          color: $timesheet-bule;
        }

        .allowance-dashed {
          height: 2px;
          width: 100%;
          margin: 5px 0px;
          border-bottom: 2px dashed #dddddd;
        }
      }
    }
  }
}
