<ion-view view-title="TimeSheet" class="timesheet">
    <ion-header-bar align-title="center" class="bar-stable">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
          <span class="back-text">返回</span>
        </button>
      </div>
      <h1 class="title">TimeSheet</h1>

    <div class="buttons">
      <button class="button button-clear">
        <span class="barRightButton">2016</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" style="overflow: hidden" delegate-handle="timeSheetHandle">
    <!--<hmsslidecalendar>
    </hmsslidecalendar>-->
    <div class="calendar-month">
      <div class="month-item" ng-click="getTimeSheet()">
        3月
      </div>
      <div class="month-item" ng-click="getTimeSheet()">
        4月
      </div>
      <div class="month-item" ng-click="getTimeSheet()">
        5月
      </div>
      <div class="month-item" ng-click="getTimeSheet()">
        6月
      </div>
      <div class="month-item" ng-click="getTimeSheet()">
        7月
      </div>
    </div>
    <div class="calendar-day">
      <div class="calendar-lock-screen" ng-if="loadingDataFlag">
        <ion-spinner icon="ios" class="spinner spinner-ios"></ion-spinner>
      </div>
      <div class="calendar-title">
        <div class="title-item">
          日
        </div>
        <div class="title-item">
          一
        </div>
        <div class="title-item">
          二
        </div>
        <div class="title-item">
          三
        </div>
        <div class="title-item">
          四
        </div>
        <div class="title-item">
          五
        </div>
        <div class="title-item">
          六
        </div>
      </div>
      <div class="calendar-week" ng-repeat="weak in calendar">
        <a class="{{day.style_color}}" ng-repeat="day in weak.list">
          <div class="lock-item">
          </div>
          <div class="{{day.style_outline}}">{{day.day}}</div>
          <div class="money">{{day.money}}</div>
          <div class="project">{{day.project}}</div>
        </a>
      </div>

      <div class="allowance">
        <div class="batch-write">
          <i class="ion-ios-bolt-outline"></i>
        </div>
        <a class="allowance-click" ng-click="scrollToFixScreen()">
          <div class="allowance-button">
          </div>
        </a>
      </div>
    </div>

    <div class="allowance-content">
      <ion-scroll>
        <div class="allowance-title">
          已生成津贴状态
        </div>
        <div class="allowance-detail" ng-repeat="weak in calendar">
          <div class="allowance-project-info">
            <div class="row no-padding">
              <div class="col col-10 no-padding">
                <div class="sequence">{{$index + 1}}
                </div>
              </div>
              <div class="col col-90 no-padding allowance-project">
                移动内部HRMS研发项目
              </div>
            </div>
            <div class="row no-padding allowance-dotted">
              <div class="col col-10 no-padding">

              </div>
              <div class="col col-20 no-padding">
                普通津贴
              </div>
              <div class="col col-20 no-padding allowance-status">
                已经审核
              </div>
              <div class="col col-50 no-padding">
                2016-03-01~2016-03-31
              </div>
            </div>
            <div class="allowance-dashed">
              <div class="line"></div>
            </div>
            <div class="row no-padding">
              <div class="col col-10 no-padding">

              </div>
              <div class="col col-20 no-padding">
                金额:40
              </div>
              <div class="col col-20 no-padding">
                天数:6
              </div>
              <div class="col col-50 no-padding allowance-cash">
                ¥240
              </div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
