<ion-view title="选择项目">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
      返回
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" style="width: 96%; margin: 6px auto 6px auto;" placeholder="输入项目" ng-model="query">
      </label>
    </div>

    <ion-list class="airport-list">
      <ion-item class="airport list-item-container" modifier="tappable"
                ng-repeat="project in projectList  | filter:query">
        <div class="row" expenseObject_id="{{project.expenseObject_id}}"
             expenseObject_code="{{project.expenseObject_code}}"
             expenseObject_desc="{{project.expenseObject_desc}}">
          <div style="white-space: normal; line-height: 25px" class="airport-name col"
               expenseObject_id="{{project.expenseObject_id}}"
               expenseObject_code="{{project.expenseObject_code}}"
               expenseObject_desc="{{project.expenseObject_desc}}"
               expenseObject_type="{{project.expenseObject_type}}"
               expenseItemList_index="{{project.expenseItemList_index}}"
               ng-click="selectExpenseObject($event)">
            {{project.expenseObject_desc}}
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>

