<ion-view view-title="我的客户" class="customer-add">

  <!--<ion-header-bar class="global-head-bar">-->
    <!--<button class="button button-clear" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>-->
    <!--<h1 class="title text" >新建客户</h1>-->
  <!--</ion-header-bar>-->
  <ion-header-bar align-title="center" class="bar-stable">
    <button class="button button-clear" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
    <h1 class="title sub-header-scroll" >
      我的客户
    </h1>
    <button class="button button-clear" ng-click="goState('tab.customerAdd')"><i class="icon ion-ios-plus-empty"></i></button>
  </ion-header-bar>

  <ion-content   class="padding-content">
    <!--<img style="height: 15px" src="build/img/application/icon_custom@3x.png">-->
    <div  hms-selector hms-title="filterBilingual.parent_customers"  hms-value="parentCustomer.valueName" hms-modal-value="parentCustomer.valueList" hms-paging="10"></div>
    <div  hms-selector hms-title="filterBilingual.belongs_to_the_region"  hms-value="belongsRegion.valueName" hms-modal-value="belongsRegion.valueList" hms-paging="10"></div>
    <div  hms-selector hms-title="filterBilingual.team"  hms-value="team.valueName" hms-modal-value="team.valueList" hms-paging="10"></div>
    <div  hms-selector hms-title="filterBilingual.principal"  hms-value="principal.valueName" hms-modal-value="principal.valueList" hms-paging="10"></div>
    <!--<div  hms-selector hms-title="area"  hms-value="data.status" hms-modal-value="linkClassData" hms-paging="10"></div>-->
    <div  hms-selector hms-title="filterBilingual.enterprise_nature"  hms-value="businessDetai[3].valueName" hms-modal-value="businessDetai[3].valueList" hms-paging="10"></div>
    <div  hms-selector hms-title="filterBilingual.owned_industry"  hms-value="businessDetai[2].valueName" hms-modal-value="businessDetai[2].valueList" hms-paging="10"></div>
    <div  hms-selector hms-title="filterBilingual.income_scale"  hms-value="businessDetai[1].valueName" hms-modal-value="businessDetai[1].valueList" hms-paging="10"></div>
       <!--<div  hms-selector hms-title="bilingual.asscociationCusNum"  hms-value="value.asscociationCusNum" hms-modal-value="linkClassData" hms-paging="10"></div>-->

      </ion-content>

    </ion-view>
