.customer-filter{
  //选择框样式
  .info-title{
    text-align: center;
    background:#d8d8d8;
    color: #000000;
    border-bottom: 1px solid #4d4d4d;
    height: 30px;
    line-height: 31px;
  }
  .import-info{
    color: red;
    margin-left: 5px;
  }
  .info-item{
    //border-bottom: 1px solid #d2d2d2;
    //margin-bottom: 5px;
  }
  .info-item-name{
    color: #4d4d4d;
    margin-top: -5px;
  }
  .info-item-con{
    color: #AAAAAA;
    margin-top: 2px;
  }
  .left-img{
    height: 16px;
  }
  .col{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
    padding-left: 0px;
  }

  .row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    width: 100%;
  }

  //确定按钮
  .logout-button {
    padding: 0px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 1rem;
    min-height: 40px;
    line-height: 40px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
  }
}
