<ion-view view-title="消息" class="message-list">
  <ion-header-bar align-title="left" class="bar-stable">
    <div class="message-search">
      <div class="message-button">
        <i class="ion-ios-search search-i"></i>
      </div>
      <input name="" placeholder="搜索">
    </div>
  </ion-header-bar>
  <ion-content style="bottom:48px;">
    <ion-refresher on-refresh="refresh()" pulling-text="正在刷新数据..." pulling-icon="ion-ios-loop">
    </ion-refresher>

    <div class="message-item" ng-click="chatWithYou(message)" ng-repeat="message in messageList">
      <div class="message-introduce">
        <img class="message-has-logo" src="{{message.imgUrl}}">
        </img>
      </div>
      <div class="message-content">
        <div class="message-title" ng-bind="message.name">
        </div>
        <div class="message-line" ng-bind="message.content">
        </div>
      </div>
      <div class="message-extro">
        <div class="message-date" ng-bind="message.time">
          3小时前
        </div>
        <div class="message-qty" ng-bind="message.count">
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
