<ion-view view-title="我的名片" class="sendCard">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="$hmsGoBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">我的名片</h1>
    <div class="buttons">
      <button class="button button-clear" style="font-size: 16px"  ng-click="openPopover($event)">
        <img src="build/img/myInfo/add.png">
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="content-style">
    <div class="header-img-div" ng-click="ImageUpload()">
      <img ng-src="{{headerurl}}" class="header-image">
      <div style="margin-top: 11px;font-size: 16px;">
        {{addCardData.name}}
      </div>
    </div>
      <div class="row row-center send-item">
        <div  ng-click="ORCode(cardList[cardIndex])"  class="col col-50 " style="color:#5c636e;text-align:center">
          <div class="card-img" align="center">
            <img src="build/img/myInfo/card/erweima.png">
          </div>
          <div class="text">二维码</div>
        </div>
        <div class="col col-50" ng-click="shareMyCard(cardList[cardIndex])"  style="color:#5c636e;text-align:center">
          <div  class="card-img" align="center">
            <img class="img-share" src="build/img/myInfo/card/share.png">
          </div>
          <div class="text">
            分享
          </div>
        </div>
      </div>
    <div ng-if="cardList==0" style="height: 100px;" ng-click="addCard()">
      <div class="add-card">
        <img src="build/img/myInfo/card/addWhite.png">创建名片
      </div>
    </div>
    <ion-slide-box ng-if="cardList!=0" on-slide-changed="slideHasChanged($index)" class="main-slide">
      <ion-slide style="width: 100%;" ng-repeat="item in cardList">
        <div style="height: 270px;">
          <div class="row">
            <div class="col col-20 {{item.statusColor}}">
              {{item.status}}
            </div>
            <div class="col col-65"></div>
            <div class="col col-15" ng-click="moreOp(item)">
              <img src="build/img/myInfo/card/more.png" style="width:20px;position: absolute;right: 10px;">
            </div>
          </div>
          <div ng-click="goCardDetail(item)">
          <div style="    width: 98%;
    margin-left: 1%;
    height: 100px;
    padding-top: 10px;">
          <div class="card_name"  align="center">
            {{item.name}}
          </div >
            <div  class="card-item" align="center">
              {{item.name_en}}
            </div>
          <div class="card-item" align="center" style="margin-top: 10px;">
           {{item.job}}
          </div>
          <div class="card-item" align="center">
            {{item.job_en}}
          </div>
          </div>
          <div style="padding-top: 12px;" align="center">
              <div class="card-item">{{item.phone}}&nbsp;&nbsp;{{item.telephone}}</div>
              <div class="card-item" style="margin-top:10px;">{{item.email}}</div>
          </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="show-big-pic" ng-click="closeBigPic()" ng-if="showBig">
    <img ng-src="{{headerurl=='' ?  'build/img/application/information/icon_partner@3x.png' : headerurl}}"/>
  </div>
</ion-view>
