.sendCard{
  background: #f4f5f7;
  .PENDING{
    color:#f5c313 ;
  }
  .APPROVED{
    color:#9ed661 ;
  }
  .NEW{
    color:#fe6d4b ;
  }
  .REFUSED{
    color: #ADB4BE;
  }
  .CANCELED{
    color: #FA3A3A;
  }
  .popover {
    height: 80px!important;
    top: 187px;
    left: 179px !important;
    margin-left: 0px;
    opacity: 1;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    display: block;
    width: 180px;
  }
  .header-img-div{
    height:130px;background: #fff;border-bottom:1px solid rgba(209, 209, 209, 0.6);text-align: center;padding-top:10px;
  }
  .send-item{
    margin-top:15px;height: 90px;background: #fff;border-bottom: 1px solid rgba(209, 209, 209, 0.6);border-top: 1px solid rgba(209, 209, 209, 0.6);
    .send-item-text{
      text-align: center;
      color: #666;
      border-right: 1px solid #666;
      height: 40px;
      line-height: 35px;
    }
    .card-img{
      text-align:center;
    div {
      height: 40px;
       }
      img{
        height: 33px;width: 33px;
      }
      .img-share{
        height: 33px;width: 33px;
      }
      .text{
        margin-top: 2px;
        font-size: 15px;
        color: #666;
      }
    }
  }
  .add-card{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    text-align: center;
    line-height: 200px;
    background: #fff;
    margin-top: 30px;
    font-size: 17px;
    color: #1e8beb;
    box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.6);
    img{
      width: 20px;
      position: relative;
      top: 4px;
      margin-right: 5px;
    }
  }
  .main-slide{
    width:85%;
    margin-left:7.5%;
    border-radius:10px;
    background:#ffffff;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.6);
  }
  background: #f8f8f8;
  .header-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }
  .slider-pager {
    position: fixed;
    bottom: -20px;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
    margin-left: -7.5%;
  }
  .show-big-pic{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    img{
      max-width: 100vw;
      max-height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }
  .card_name{
    font-size: 17px;
    font-weight: bold;
    color: #272e38;
  }
  .card-item{
    font-size: 15px;
    color:#272e38 ;
  }
}
