<ion-view view-title="待办事项目" class="workflow">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <div class="title">
      <div class="workflow-filter">
        <a class="to-do-list" ng-click="fetchTodoList()"
           ng-class="{true: 'selected', false: 'no-selected'}[listStatus.todo.selected]">
          待处理
        </a>
        <a class="done-list" ng-click="fetchDoneList()"
           ng-class="{true: 'selected', false: 'no-selected'}[listStatus.done.selected]">
          已处理
        </a>
      </div>
    </div>

    <div class="buttons">
      <button class="button button-clear" style="font-size: 26px">
        <i class="ion-ios-help-outline"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-daiwen-bar">
    <ion-refresher ng-if="!fetchDataFlag" on-refresh="refresh()" pulling-text="正在刷新数据..." pulling-icon="ion-ios-loop">
    </ion-refresher>
    <div class="hms-hide-content" ng-if="fetchDataFlag">
      <div class="content">获取代办事项数据中</div>
      <div class="hide-icon">
        <ion-spinner icon="ios" class="spinner spinner-ios"></ion-spinner>
      </div>
    </div>
    <hms-workflow-list ng-if="!fetchDataFlag&&!pullRefreshDataFlag" ng-repeat="item in list"
                       workflow-title='item.title1'
                       workflow-icon='item.icon'
                       workflow-type='item.type'
                       workflow-type-value='item.typeValue'
                       workflow-node='item.node'
                       workflow-node-value='item.nodeValue'
                       workflow-submit='item.submit'
                       workflow-submit-person='item.submitPerson' ng-click="enterWorkflowDetail(item)">
    </hms-workflow-list>
    <!--<a class="workflow-list" ng-repeat="item in list">
      <div class="workflow-list-logo">
        <img src="build/img/application/profile@3x.png"/>
      </div>
      <div class="workflow-list-header">
        Timesheet解冻申请
      </div>
      <div class="workflow-list-content">
        <div class="row no-padding">
          <div class="col col-90 no-padding">
            <div class="row no-padding">
              <div class="col col-33 no-padding color-type">
                工作流类型
              </div>
              <div class="col col-67 no-padding color-content">
                Timesheet解冻申请
              </div>
            </div>
            <div class="row no-padding">
              <div class="col col-33 no-padding color-type">
                当前节点
              </div>
              <div class="col col-67 no-padding color-content">
                项目经理审批
              </div>
            </div>
            <div class="row no-padding">
              <div class="col col-33 no-padding color-type">
                提交人
              </div>
              <div class="col col-67 no-padding color-content">
                成志唯
              </div>
            </div>
          </div>
          <div class="col col-10 no-padding col-center workflow-list-select">
            <img src="build/img/workflow/select@3x.png"/>
          </div>
        </div>
      </div>
    </a>-->
  </ion-content>
  <ion-footer-bar class="foot-bar" style="bottom: 0px;" ng-if="showDetailArrow">
    <div class="buttons">
      <button class="button button-clear filter-icon" ng-click="filterTsInfo()">
      </button>
      <div class="filter-text" ng-click="filterTsInfo()">筛选</div>
      <!--<button class="button button-clear time-icon">-->
      <!--</button>-->
      <!--<div class="time-text">时间</div>-->
    </div>
  </ion-footer-bar>
</ion-view>
