<ion-view view-title="待办事项目" class="workflow">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <div class="title">
      <div class="workflow-filter">
        <a class="to-do-list" ng-click="fetchTodoList(false)"
           ng-class="{true: 'selected', false: 'no-selected'}[listStatus.todo.selected]">
          待办
        </a>
        <a class="done-list" ng-click="fetchDoneList(false)"
           ng-class="{true: 'selected', false: 'no-selected'}[listStatus.done.selected]">
          已办
        </a>
        <a class="mine-list" ng-click="fetchMineList(false)"
           ng-class="{true: 'selected', false: 'no-selected'}[listStatus.mine.selected]">
          我的
        </a>
      </div>
    </div>
    <div class="buttons" ng-click="changeBatchProcess()" ng-if="listStatus.todo.selected">
      <button class="button button-clear" style="font-size: 16px">
        <span ng-if="batchProcessFlag">取消</span>
        <span ng-if="!batchProcessFlag">操作</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="workflowListHandle" style="bottom:55px">

    <ion-refresher on-refresh="refresh()"
                   ng-if="!batchProcessFlag && !fetchDataFlag"
                   pulling-text="正在刷新数据..."
                   pulling-icon="ion-ios-loop">
    </ion-refresher>

    <div class="hms-hide-content" ng-if="!batchProcessFlag && fetchDataFlag">
      <hms-loading></hms-loading>
    </div>

    <ion-list can-swipe="!listStatus.done.selected && !batchProcessFlag">
      <ion-item class="workflow-list" ng-repeat="item in list">
        <hms-workflow-list ng-if="!fetchDataFlag&&!pullRefreshDataFlag"
                           workflow-selected-flag='item.selectedFlag'
                           workflow-show-checked-flag='item.showCheckedFlag'
                           workflow-title='item.title1'
                           workflow-icon='item.icon'
                           workflow-type='item.type'
                           workflow-type-value='item.typeValue'
                           workflow-node='item.node'
                           workflow-node-value='item.nodeValue'
                           workflow-submit='item.submit'
                           workflow-submit-person='item.submitPerson'
                           workflow-key1='item.key1'
                           workflow-value1='item.value1'
                           workflow-key2='item.key2'
                           workflow-value2='item.value2'
                           show-extra-flag="item.showExtraFlag"
                           ng-click="enterWorkflowDetail(item)">
        </hms-workflow-list>

        <ion-option-button class="hms-swipe-left-action">
          <div class="row approve-row" ng-click="workflowActionHandle.approveWorkflow(item)" ng-if="listStatus.todo.selected" >
            <img class="status-img"
                 ng-src="build/img/application/timesheet-approve/list/approval@3x.png"/>
          </div>
          <div class="row refuse-row" ng-click="workflowActionHandle.rejectWorkflow(item)" ng-if="listStatus.todo.selected">
            <img class="status-img" style="width: 61px;"
                 ng-src="build/img/application/timesheet-approve/list/refuse@3x.png"/>
          </div>
          <div class="row approve-row" ng-click="workflowActionHandle.cancelWorkflow(item)" ng-if="item.allow_cancel == 1" >
            <img class="status-img"
                 ng-src="build/img/application/timesheet-approve/list/refuse@3x.png"/>
          </div>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="loadMoreDataFlag" on-infinite="loadMoreData()"
                         distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="foot-bar" style="bottom: 0px;" ng-if="!batchProcessFlag">
    <div class="buttons">
      <button class="button button-clear filter-icon" ng-click="filterWorkFlowInfo()">
      </button>
      <div class="filter-text" ng-click="filterWorkFlowInfo()">筛选</div>
    </div>
  </ion-footer-bar>
  <footer-select
    style="bottom: 0px;"
    ng-if="batchProcessFlag"
    select-all-item="selectAll()"
    pass-through="processBatchWorkflow(0)"
    refuse="processBatchWorkflow(-1)"
  </footer-select>
</ion-view>
