.ecognition {
  background: #f8f8f8;
  .purpose-header {
    margin-top:10px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
  }

  .purpose{
    background: white;
    padding-left: 20px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
  }

  .ecognition-setting{
    background: white;
    margin-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
  }

  .login-item {
    opacity: 1;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 46px;
    &.has-line{
      border-bottom: 1px solid #e8e8e8;
    }
  }
  .login-item-row {
    padding: 0px;
    margin: 0px;
    height: 100%;
  }
  .login-icon-shelter {
    height: 24px;
    width: 24px;
    margin-top: 11px;
  }
  .login-icon {
    width: 15px;
    height: 16px;
    margin-top: 4px;
  }
  .login-label {
    font-size: 0.875rem;
    color: #4a4a4a;
    margin-top: 13px;
  }
  .arrow-icon {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 9px;
    height: 12px;
  }
  .login-item.item.activated {
    background-color: #f8f8f8;
    //opacity: 0.2;
  }
}
