.OpportunityDetailCompetitor{
  .info-item {
    /*  border-bottom: 1px solid #e5e5e5;*/
    position: relative;
    height: 72px;
    margin-left: 15px;
    margin-right: 15px;

    background-image:linear-gradient(0deg,#ddd,#ddd 50%,transparent 50%);
    background-position:bottom;
    background-size:100% 1px;
    background-repeat:no-repeat;
    /*  padding: 0 15px 0 15px;
      height: 55px;*/
  }
  /*  .info-item:before {
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      bottom: 0;
      border-bottom: 1px solid #d6e4ed;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5, .5);
      transform: scale(.5, .5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box
    }*/
  .sub-icon {
    right: 43px;
  }

  .search-button {
    position: absolute;
    top: 13px;
    left: 8%;
  }
  .search-button img {
    width: 17px;
  }
  .search-input {
    width: 95%;
    margin-left: 2.5%;
  }
  .search-input input {
    width: 80%;
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    padding-left: 10%;
  }
  input::-webkit-input-placeholder {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }
  .titles {
    z-index: 8;
    width: 100%;
    padding: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-color: #F5F5F5;
  }

  .title-img {
    position: absolute;
    left: 25px;
    top: 14px;
    color: #fff;
  }

  .title-img img {
    width: 16px;
  }

  .titles input {
    padding-left: 32px;
    margin-top: 7px;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    color: #959595;
    border-radius: 30px;
    width:85vw;
    background: #ffffff;
    border: none;
  }

  .margin-top {
    margin-top: 48px;
  }

  .div-top {
    height: 35px;
    padding: 13px 0px 0 0px;
    font-size: 16px;
    color: #333333;
  }
  .common-fix-div .bar-footer {
    padding: 0;color: #666666;height: 60px;
  }
  .div-bottom {
    height: 35px;
    font-size: 14px;
    padding-left: 0px;
    color: #959595;
    padding-top: 2px;
    padding-right: 0px;
  }
  .div-bottom-left {
    float: left;
  }
  .div-bottom-right1 {
    float: right;
    width: 51px;
    text-align: right;
    font-size: 12px;
  }
  .div-bottom-right2 {
    float: right;
    color: #959595;
    font-size: 13px;
  }
  .div-bottom-right2 img {
    width: 20px;
  }
}
