<ion-modal-view class="product-select crm">
  <crm-loading ng-if="showCrmEstimateLoading"></crm-loading>
  <ion-header-bar align-title="center" class="bar-stable">
    <img src="build/img/application/customer/detail/top_left_arrow@3x.png" ng-click="estimateModelHide()"/>
    <h2 class="title">请选择售前预估</h2>
  </ion-header-bar>
  <ion-content>
    <div ng-if="showEstimate" style="color:#adb4be;padding:15px;">
    说明：同一个售前预估只能关联一种报价类型。
    </div>
    <div class="value-list-header" ng-if="title!=''">
      <!--{{newEstimate.productName == '' ? '产品品牌' : '二级产品'}}-->
      <div ng-click="chooseSecond()" style="float: left;width: 200px;display: block;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">{{title}}</div><div style="float: left;" ng-if="!showEstimate"> > 报价类型</div><div style="clear: both;"></div>
    </div>
    <div class="list list-has-header">
      <ion-scroll direction="y" has-bouncing="true" scrollbar-y="false" delegate-handle="productScroll">
        <div ng-if="showEstimate" class="list-item" ng-repeat="item in addEstimateData" ng-click="chooseEstimate(item)" >
          {{item.productTypeName}}-{{item.productName}}-{{item.level2ProductName}}
          <div style="position: absolute;
    right: 21px;
    top: 14px;">{{item.flag=='Y'?'已创建报价单':''}}</div>
          <img src="build/img/application/opportunity/right_arrow@3x.png" ng-hide="newEstimate.productName"/>
        </div>
        <div ng-click="chooseProductType(item)" ng-if="!showEstimate"  class="list-item" ng-repeat="item in productType">
          {{item.offerTypeName}}
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-modal-view>
