.estimateModel{
  * {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }
  background:#f8f8f8;
  .row{
    margin: 0;
    padding: 0;
  }
  .col{
    margin: 0;
    padding: 0;
  }
}
