.platform-ios {
  .header-button {
    position: relative;
    top: 15px;
  }
}

.platform-android {
  .header-button {
  }
}
.contact-detail-guide{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/contact/contactDetailGuide.png);
    background-size: cover;
    z-index: 1000000;
}
.contactDetail {
  a {
    text-decoration: none;
    color: #32A4EC;
  }
  background: #f5f5f5;
  .header-bg {
    background: url('../img/contact/bg_contact@3x.png');
    background-size: cover;
  }
  .col-right {
    text-align: right;
  }
  .scroll-content {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }

  .selectable {
    -webkit-user-select: auto; /*控制网页内容选择范围*/
  }
  font-size: 1em;
  .row {
    padding-top: 5px !important;
  }
  .detail-item {
    position: relative;
    background: #ffffff;
    margin-top: 0;
    height: 50px;
    font-size: 16px;
    border: none !important;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%) !important;
    background-position: bottom !important;
    background-size: 100% 1px !important;
    background-repeat: no-repeat !important;
    .customer-img {
      border-radius: 50%;
      width: 38px;
      height: 38px;
      position: relative;
      top: -6px;
    }
    .customer-name {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
      white-space: nowrap;
      color: #333333;
    }
    .img-top-5 {
      width: 20px;
      position: relative;
      top: 5px;
    }
    .img-top-4 {
      width: 20px;
      position: relative;
      top: 4px;
    }
    .img-top-1 {
      width: 20px;
      position: relative;
      top: 1px;
    }
    .color-black {
      color: #333333;
    }
    .color-blue {
      color: #32A4EC;
    }
    .padding-bottom-10 {
      padding-bottom: 10px;
    }
    .address-detail {
      padding-right: 10px;
      padding-top: 0;
      color: #AAAAAA;
    }
  }
  .right-item {
    text-align: right;
    padding-right: 15px;
    color: #AAAAAA;
  }
  .col-left {
    text-align: left;
    padding-left: 15px;
  }
  .center-item {
    text-align: center;
  }
  .img-size {
    width: 26px;
  }
  .detail-top {
    position: relative;
    top: 15px;
  }
  .user_img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: relative;
    bottom: -13px;
  }
  .contact-detail-info {
    color: #ffffff;
    position: relative;
    top: 3px;
    .info-name {
      margin-bottom: 5px;
      .info-name-item {
        margin-right: 5px;
        font-size: 18px;
      }
      .info-name-img {
        width: 20px;
        position: relative;
        top: 4px;
      }
    }
    .info-department {
      margin-right: 15px;
    }
  }
  .status-info {
    margin-bottom: 13px;
    height: 75px;
    background: #ffffff;
    box-shadow: 0px 5px 5px #e5ecef;
    color: #666666;
    .info-type {
      text-align: left;
      padding-left: 10px;
      margin-top: -10px;
    }
    .info-role {
      margin-top: -10px;
    }
    .info-status {
      text-align: right;
      padding-right: 15px;
      margin-top: -10px;
    }
    img {
      width: 25px;
      position: relative;
      left: -2px;
      top: 8px;
    }

  }

}

