.colleagueLinkman .transmit-search {
  width: 78%;
  margin-left: 15px;
  background: white;
  height: 28px;
  color: gray;
  margin-top: 5px;
  padding-left: 15px;
  border-radius: 15px; }
.colleagueLinkman .transmit-search .transmit-button {
  float: left;
  width: 8%;
  margin-top: 5px;
  font-size: 18px; }
.colleagueLinkman .transmit-search input {
  float: left;
  width: 85%;
  height: 20px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none; }
