<ion-view view-title="线索详情" class="crm clue-detail">
  <ion-header-bar align-title="center" class="bar-stable">
    <img src="build/img/application/customer/detail/top_left_arrow@3x.png" ng-click="goBack()"/>
    <h1 class="title">线索详情</h1>
    <img src="build/img/application/customer/detail/icon_dot@3x.png" ng-click="showMenu()"/>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="customer-info">
      <div class="info-area">
        <span>{{clue.opportunityName}}</span>
        <span>{{clue.saleAreaName}}  {{clue.saleTeamName}}  {{clue.saleEmployeeName}}</span>
      </div>
      <img class="right-operate" src="build/img/application/customer/detail/icon_right_position@3x.png" ng-click="copyAddress()"/>
    </div>

    <div class="row" ng-click="goCustomer()">
      <div class="col col-90 col-center">
        <div style="margin-left:7px;font-size: 1.2em">{{'OPPORTUNITY_DETAIL.ASSOCIATE_CUSTOMERS'|T}}：{{clue.customerName}}</div>
      </div>
      <div class="col col-10 col-center">
        <i><img src="build/img/contact/right_arrow@3x.png" style="width: 20px;vertical-align: middle"></i>
      </div>
    </div>

    <div class="sub-header">
      <span ng-repeat="subHeader in subHeaders" ng-click="selectSubHeader($index)" ng-class="{true:'selected'}[subHeadersSelect[$index]]">
        <img ng-src="{{'build/img/application/customer/detail/' + subHeader.icon + (subHeadersSelect[$index] ? '_selected@3x.png' : '@3x.png') }}"/>
        {{subHeader.title}}
        <div class="bottom-line"></div>
      </span>
    </div>

    <div class="stage" on-drag="onDragContent($event)">
      <ion-scroll class="content-scroll" direction="y" scrollbar-y="true" has-bouncing="true" delegate-handle="detailScroll">
        <div class="inner" ng-include="contentInner">
        </div>
      </ion-scroll>
    </div>

  </ion-content>

  <img class="fix-button" ng-src="{{buttonImg}}" ng-class="{true:'edit-button'}[isEdit]" ng-click="chooseThis()"/>

</ion-view>
