<ion-view view-title="通讯录" class="crm crm-contact">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="title" ng-if="!hasCrm">通讯录</div>
    <div class="header-select-button" ng-if="hasCrm">
      <div class="selected" ng-click="selectSubHeader(0)" ng-class="{true:'selected'}[subHeadersSelect[0]]">  {{bilingual.customer}}</div>
      <div ng-click="selectSubHeader(1)" ng-class="{true:'selected'}[subHeadersSelect[1]]">  {{bilingual.colleague}}</div>
    </div>
    <img class="sub-icon" src="build/img/application/opportunity/icon_add_black@3x.png" ng-click="showMore()"/>
    <img src="build/img/contact/icon_code@3x.png"  ng-controller="ScanCardController"  ng-click="scanBusinessCard()"/>
  </ion-header-bar>
  <ion-content  delegate-handle="slideimgs" style="background: #f5f5f5;bottom: 50px;" class="customerLinkman contact-content">
  <!--  <div ng-if="subHeadersSelect[0]" ng-include="'build/pages/contact/customerLinkman/customerLinkman.html'"></div>
    <div ng-if="subHeadersSelect[1]" ng-include="'build/pages/contact/colleague/colleagueLinkman.html'"></div>-->
    <div ng-if="showCustomer==0">
    <crm-loading ng-if="showLoading"></crm-loading>
    <div class="titles">
      <div class="title-img">
        <img src="build/img/contact/icon_search@3x.png">
      </div>
      <input ng-click="goSearch()" placeholder="{{'CONTACTS.SEARCH'|T}}" ng-readonly="true">
      <img ng-click="showFilterContactsModel()" src="build/img/contact/icon_select_blue@3x.png" style="width: 40px;
    position: absolute;
    right: 2px;top: 2px;
    border: 10px solid transparent;"/>
    </div>
    <div class="row row-center bar-show" ng-click="hideArea(0)">
      <div class="col col-12">
        <img src="build/img/contact/icon_person@3x.png">
      </div>
      <div class="col col-68 result-style">
       {{bilingual.frequentContacts}}
      </div>
      <div class="col col-20 result-right-button">
        <div >{{hideAreaFlag[0] ? ("SHOW" | T) : ("HIDE" | T) }}</div>
      </div>
    </div>

    <ion-list ng-hide="hideAreaFlag[0]">
      <ion-item class="item-bg" ng-repeat="item in historyContact">
        <div class="row link-item">
          <div class="col col-20 col-center" ng-click="goDetail(item)">
            <div class="header-img">
              <img src="build/img/contact/user_img2@3x.png">
            </div>
          </div>
          <div class="col col-60 col-center" style="padding-left: 0px;" ng-click="goDetail(item)">
            <div class="row">
              <span style="font-size: 17px;">{{item.name}}</span>
              <span> <img ng-src="{{item.sexImg}}" class="sex-img"></span>
              <span class="linkRole">{{item.position}}</span>
            </div>
            <div class="row ">
              <span class="department">{{item.fullName}}</span>
            </div>
          </div>
          <div class="col col-20 col-center" align="center">
            <div class="col"><a href="tel:{{item.phone}}">
              <img src="build/img/contact/icon_phone_green@3x.png" class="phone-icon">
            </a></div>
          </div>
        </div>
        <ion-option-button class=" button-delete-icon"
                           ng-click="deleteHisItem(item,$index)" style="color:#FE9073">
          <img src="build/img/contact/icon_delete_white@3x.png" style="">
          xxxx
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="row row-center bar-gray-show" ng-if="showResult">
      <div class="col col-68 result-style">
        {{'CONTACTS.SCREENING_RESULTS'|T}}
      </div>
    </div>
    <ion-list>

      <ion-item class="item-bg" ng-repeat="item in linkmanData" ng-if="showResult">
        <div class="row link-item">
          <div class="col col-20 col-center" ng-click="goDetail(item)">
            <div class="header-img">
              <img src="build/img/contact/user_img@3x.png">
            </div>
          </div>
          <div class="col col-60 col-center" style="padding-left: 0px;" ng-click="goDetail(item)">
            <div class="row">
              <span style="font-size: 17px;">{{item.name}}</span>
              <span> <img ng-src="{{item.sexImg}}" class="sex-img"></span>
              <span class="linkRole">{{item.position}}</span>
            </div>
            <div class="row ">
              <span class="department">{{item.fullName}}</span>
            </div>
          </div>
          <div class="col col-20 col-center" align="center">
            <div class="col"><a href="tel:{{item.phone}}">
              <img src="build/img/contact/icon_phone_green@3x.png" class="phone-icon">
            </a></div>
          </div>
        </div>
      </ion-item>
      <ion-infinite-scroll
        immediate-check="false"
        ng-if="moreDataCanBeLoaded"
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>
    </ion-list>
    </div>
    <div ng-if="showCustomer==1">
     <!-- <div ng-include="'build/pages/contactCrm/colleague/colleagueLinkman.html'"></div>-->
      <div class="row search-contact-input input-height">
        <input type="search" class="text-input" placeholder="搜索" ng-readonly="true"
               ng-click="goInputSearch()"/>
      </div>
      <div class="org-structure">
        <div class="contact-item row no-padding" ng-click="goStructure()">
          <div class="col col-15 item-logo">
            <img class="contact-item-logo" src="build/img/login/login-hand.png"/>
          </div>
          <div class="col col-75 item-name">
            上海汉得信息技术股份有限公司
          </div>
          <div class="item-line"></div>
          <div class="item-arrow"></div>
        </div>
        <div class="contact-item row no-padding" ng-click="goStructure('current')">
          <div class="col col-15 item-logo">
            <img class="contact-item-logo" src="build/img/contact/line@3x.png"/>
          </div>
          <ion-spinner icon="ios-small" style="align-self: center;padding-left: 30%;"
                       ng-if="structureName === ''"></ion-spinner>
          <div class="col col-75 item-name" ng-bind="structureName">
          </div>
          <div class="item-arrow"></div>
        </div>
      </div>
      <div class="custom-link-man" ng-if="customContactsInfo.length !== 0">
        常用联系人
      </div>
      <div class="contact-item row no-padding"
           ng-repeat="i in customContactsInfo"
           ng-click="goDetailInfo(i.employeeNumber)"
        >
        <div class="col col-15 item-logo">
          <img class="contact-item-logo" ng-cloak ng-src="{{i.imgUrl | filterImg}}"/>
        </div>
        <div class="col col-85 item-name" ng-bind="i.name">
        </div>
        <div class="item-line"></div>
        <div class="tel-img" ng-click="telNumber($event,i.tel)"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
