.flayback-apply-view, .flyback-apply-project-model{
  .fbSelectproject {
    background-color: #5D6182;
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 14px;
    border: none;
    height: 50px;
  }

  .fbBlock {
    background-color: #FFFFFF;
    height: 90px;
    margin: 8px 8px 0px 8px;
    border-radius: 3px;
    box-shadow: 0 1px #b9b9b9;
  }
	
  .fbLeftblock {
    width: 14%;
    height: 90px;
    float: left;
  }

  .fbMiddleblock {
    width: 50%;
    height: 90px;
    line-height: 90px;
    font-size: 14px;
    float: left;
    display: inline;
    text-align: center;
  }

  .fbImgflight {
    width: 30px;
    margin-top: 35px;
    margin-left: 20px;
  }

  .fbImgarrow {
    width: 100%;
    height: 15px;
    line-height: 15px
  }

  .fbFlightdate {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #ffbe00;
  }

  .fbLocation {
    height: 90px;
    line-height: 90px;
    font-size: 18px;
    float: left;
    display: inline;
  }

  .fbFlight {
    width: 95%;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .fbaddinfo {
    margin: 16px 8px 0 8px;
    padding: 0;
    width: 95%;
  }

  .fbSeparator {
    width: 1px;
    background-color: #b9b9b9;
    opacity: 0.5;
  }

  

  .bar-subheader .input-search {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 0.375rem 0.375rem 0;
  }
	
  .bar-subheader .input-left {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    height: 2rem;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0.375rem 0 0 0.375rem;
    float: left;
  }
}

.fb-modal-list {
min-height: 40px;
line-height: 40px;
font-size: 14px;
width: 100%;
padding-left: 8px;
border-bottom: #e5e5e5 1px solid;
}

.flyback-apply-project-model{
  ion-header-bar{
    background-color:#f8f8f8;
    i{
      color:#aaaaaa;
      font-size: 20px;
      margin-right: 3px;
    }
  }
  ion-header-bar.bar-subheader{
    background-color:#f8f8f8;
    input-left{
      width:10%
    }
    div:nth-child(2){
      width:90%;
      float:left;
    }
  }
}




.flayback-apply-view{
    div.bar.bar-subheader{
      margin: 0px;
      padding: 0px;
      border: 0px;
      height: 50px;
    }
    
    ion-content{
      background-color: #ececec;
      margin-top: 50px;
      .fbBlock{
        div:nth-child(2){
          width: 16%;
          float: left;
          text-align: right;
        }
        div:nth-child(4){
          width: 20%;
          float: right;
        }
      }
      .fbaddinfo{
        background-color: #FFBE00;
        color: #FFFFFF;
        border-radius: 3px;
        box-shadow: 0 4px #FFA700;
      }
    }
    ion-footer-bar.first{
      background-color: #5B607A;
      colog:#FFFFFF;
      border:none;
      button{
        width:50%;
      }
    }
    ion-footer-bar.second{
      background-color: #5B607A;
      colog:#FFFFFF;
      border:none;
      div{
        width:100%;
        color:#ff3b30;
        text-align:center;
      }
    }
  }

.fbSelectproject{
  div:nth-child(1){
    width: 25px;
    padding-top: 1px;
    img{
    	width:25px;
    	margin-top:5px
    }
  }
  div:nth-child(2){
    float: left;
    padding-top: 12px;
  }
  div:nth-child(3){
    background-color:#5D6182;
    color:#FFFFFF;
    width:95%;
    text-overflow:ellipsis;
    input{
    	background-color: #5d6182;
    }
  }
}
.fbMiddleblock{
  img{
    width:85%;
    height: 10px;
  }
	.fbFlightdate{
	  padding-top: 10px;
	}
	.fbFlight{
	  margin-top:-5px;
}
}
