<ion-view view-title="休假详情">  <!---->
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title">{{pageTitle}}</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-help-outline" ng-click="showDescription()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-item class="time-off-detail-card">

      <div class="row text-row no-padding-margin" ng-click="selectTimeOffType()">
        <div class="col-20 text-left">休假类型:</div>
        <div class="col-80 text-right" ng-bind="timeOffData.timeOffTypeMeaning"></div>
        <div class="item-line"></div>
      </div>

      <div class="row text-row no-padding-margin" ng-if="operation.createMode">
        <div class="col-20 text-left">可用天数:</div>
        <div class="col-80 text-right" ng-bind="timeOffData.unusedHoliday"></div>
        <div class="item-line"></div>
      </div>

      <div class="row text-row no-padding-margin">
        <div class="col-20 text-left">起始日期:</div>
        <div class="col-80 text-right" ng-click="chooseStartDate()" ng-bind="getdateFromMeaning()"></div>
        <div class="item-line"></div>
      </div>

      <div class="row text-row no-padding-margin">
        <div class="col-20 text-left">结束日期:</div>
        <div class="col-80 text-right" ng-click="chooseEndDate()" ng-bind="getdateToMeaning()"></div>
        <div class="item-line"></div>
      </div>

      <div class="row text-row no-padding-margin important-value">
        <div class="col-20 text-left">休假天数:</div>
        <div class="col-80 text-right" ng-bind="timeOffData.timeLeave"></div>
        <div class="item-line"></div>
      </div>

      <textarea class="desc-text-area" type="text" placeholder="休假原因" ng-model="timeOffData.applyReason" ng-readonly="readOnly">
      </textarea>
      <!--<ion-item class="image-item">-->
        <!--<div class="row label-row" style="margin-top: 5px">-->
          <!--<label class="upload-description-label">提示：最多上传10张图片</label>-->
        <!--</div>-->
        <!--&lt;!&ndash;第一行&ndash;&gt;<div class="row label-row" ng-show="judgeRow(0)">-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[0][0]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[0].selected" ng-click="deleteImage(0)"></i>-->
            <!--<img ng-hide="imageList[0].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(0)"/>-->
            <!--<div ng-show="imageList[0].selected" style="background-image: url({{imageList[0].uri}})" on-tap="showBigPicture(0)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[0].deleteMode" ng-click="leaveDeleteModel(0)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[0][1]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[1].selected" ng-click="deleteImage(1)"></i>-->
            <!--<img ng-hide="imageList[1].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(1)"/>-->
            <!--<div ng-show="imageList[1].selected" style="background-image: url({{imageList[1].uri}})" on-tap="showBigPicture(1)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[1].deleteMode" ng-click="leaveDeleteModel(1)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[0][2]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[2].selected" ng-click="deleteImage(2)"></i>-->
            <!--<img ng-hide="imageList[2].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(2)"/>-->
            <!--<div ng-show="imageList[2].selected" style="background-image: url({{imageList[2].uri}})" on-tap="showBigPicture(2)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[2].deleteMode" ng-click="leaveDeleteModel(2)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-15 no-space">-->
        <!--</div>-->
      <!--</div>-->
        <!--&lt;!&ndash;第二行&ndash;&gt;<div class="row label-row" ng-show="judgeRow(1)">-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[1][0]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[3].selected" ng-click="deleteImage(3)"></i>-->
            <!--<img ng-hide="imageList[3].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(3)"/>-->
            <!--<div ng-show="imageList[3].selected" style="background-image: url({{imageList[3].uri}})" on-tap="showBigPicture(3)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[3].deleteMode" ng-click="leaveDeleteModel(3)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[1][1]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[4].selected" ng-click="deleteImage(4)"></i>-->
            <!--<img ng-hide="imageList[4].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(4)"/>-->
            <!--<div ng-show="imageList[4].selected" style="background-image: url({{imageList[4].uri}})" on-tap="showBigPicture(4)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[4].deleteMode" ng-click="leaveDeleteModel(4)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[1][2]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[5].selected" ng-click="deleteImage(5)"></i>-->
            <!--<img ng-hide="imageList[5].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(5)"/>-->
            <!--<div ng-show="imageList[5].selected" style="background-image: url({{imageList[5].uri}})" on-tap="showBigPicture(5)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[5].deleteMode" ng-click="leaveDeleteModel(5)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-15 no-space">-->
        <!--</div>-->
      <!--</div>-->
        <!--&lt;!&ndash;第三行&ndash;&gt;<div class="row label-row" ng-show="judgeRow(2)">-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[2][0]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[6].selected" ng-click="deleteImage(6)"></i>-->
            <!--<img ng-hide="imageList[6].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(6)"/>-->
            <!--<div ng-show="imageList[6].selected" style="background-image: url({{imageList[6].uri}})" on-tap="showBigPicture(6)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[6].deleteMode" ng-click="leaveDeleteModel(6)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[2][1]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[7].selected" ng-click="deleteImage(7)"></i>-->
            <!--<img ng-hide="imageList[7].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(7)"/>-->
            <!--<div ng-show="imageList[7].selected" style="background-image: url({{imageList[7].uri}})" on-tap="showBigPicture(7)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[7].deleteMode" ng-click="leaveDeleteModel(7)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[2][2]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[8].selected" ng-click="deleteImage(8)"></i>-->
            <!--<img ng-hide="imageList[8].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(8)"/>-->
            <!--<div ng-show="imageList[8].selected" style="background-image: url({{imageList[8].uri}})" on-tap="showBigPicture(8)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[8].deleteMode" ng-click="leaveDeleteModel(8)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-15 no-space">-->
        <!--</div>-->
      <!--</div>-->
        <!--&lt;!&ndash;第四行&ndash;&gt;<div class="row label-row" ng-show="judgeRow(3)">-->
        <!--<div class="col col-25 no-space">-->
          <!--<ion-item class="image-square-item" ng-show="matrix[3][0]">-->
            <!--<i class="ion-ios-close delete-icon" ng-show="imageList[9].selected" ng-click="deleteImage(9)"></i>-->
            <!--<img ng-hide="imageList[9].selected" src="build/img/myInfo/camera.png" class="camera-image" ng-click="showPictureModal(9)"/>-->
            <!--<div ng-show="imageList[9].selected" style="background-image: url({{imageList[9].uri}})" on-tap="showBigPicture(9)" class="common-image"></div>-->
            <!--&lt;!&ndash;<div ng-show="imageList[9].deleteMode" ng-click="leaveDeleteModel(9)" class="black-shelter"></div>&ndash;&gt;-->
          <!--</ion-item>-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
        <!--</div>-->
        <!--<div class="col col-5 no-space">-->
        <!--</div>-->
        <!--<div class="col col-25 no-space">-->
        <!--</div>-->
        <!--<div class="col col-15 no-space">-->
        <!--</div>-->
      <!--</div>-->
        <!--<div class="upload-bottom"></div>-->
      <!--</ion-item>-->

    <div class="bottom-bar">
      <div class="process-button"
           ng-class="{'submit-mode':operation.createMode,'revoke-mode':operation.revokeMode,'transparent-mode':operation.queryMode}"
           ng-bind="operationTypeMeaning"
           ng-click="submitTimeOff()"></div>
    </div>
  </ion-content>
  <div class="black-page" ng-if="descriptionFlag">
    <div class="platform-status-bar" ng-class="{true:'ios-status-bar',false:'android-status-bar'}[isIOSPlatform]"></div>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-close-outline right-button" ng-click="hideDescription()">
      </button>
    </div>
    <div class="black-head"></div>
    <ion-scroll has-bouncing="false" class="scroll-height">
      <div class="flank">
        <p class="paper-write">
          假期说明：（仅供参考，如有疑问，请与公司HR联系。）<br>
          A、带薪年假：<br>
          本年期初天数 ：期初为0天，上年未休完带薪年假不带入到下年<br>
          本年新增天数 ：<br>
          1、当年入职的，4月份前入职的是5天，8月份前入职的是2.5天，8月后入职的是1天。<br>
          2、非当年入职的，1年 < 工作年限 < 10 年，本年新增5天；10年 ≤ 工作年限 < 20年，本年新增10天；20年 ≤ 工作年限,本年新增带薪年假最多15天。<br>
          本年的假期天数：本年期初天数+本年新增天数；如果上年有假期要留到次年3月前休完，可以将各部门申请保留的假期天数累加到员工本年的假期天数。<br><br>

          B、额外福利年假：<br>
          本年期初天数：根据公司规定：额外福利年假的本年期初天数，由上年结余天数带过来，最多不能超过上年新增天数（假期累计不超过两年）；带入到本年的额外福利年假计算规则为：上年剩余天数-上年期初天数（前年未休完的额外福利年假的剩余天数，要作废掉处理）。<br>
          本年新增天数：<br>
          1、当年入职的员工没有额外福利年假。<br>
          2、入职的第二年：第二年的福利年假根据入职月份判断，在8月份之前入职的，额外福利年假为2天，8月后入职的为0天。<br>
          3、入职第3年 ≤工作年限 < 10年：从第三年开始以后每年额外福利年假天数多增加两天，再加上第二年的天数。累加最多不得超过10天。（比如：2007.7月份入职的员工，2007年没有假期，因为是8月份前入职的，08年假期为2天，从09年-10年间：2年*2天=4天，最终新增天数为2009，2010的4天+2008的2天=6天）。<br>
          4、入职后 10年 ≤工作年限 < 20年,额外福利年假5天。<br>
          5、入职后 20年 ≤工作年限,不享有额外福利年假。<br>
          6、额外福利年假的天数最多不超过20天。<br>
          本年的假期天数：本年期初天数+本年新增天数。<br><br>

          C、带薪病假：<br>
          本年期初天数：0天，上年未使用完的带薪病假清零，不带入到本年。<br>
          本年新增天数：5天 。<br>
          本年的假期天数：本年期初天数+本年新增天数。<br>
        </p>
      </div>
      <div class="scroll-bottom-line"></div>
    </ion-scroll>
  </div>
</ion-view>
