<ion-view view-title="休假详情">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title">休假详情</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-help-outline" ng-click="$ionicGoBack()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-item class="time-off-detail-card">
      <div class="row item-row">
        <div class="col-20 text-left">休假项目:</div>
        <div class="col-70 text-right"></div>
        <img class="col-10" src="">
      </div>
      <div class="row item-row">
        <div class="col-20 text-left">可用天数:</div>
        <div class="col-80 text-right">4</div>
      </div>
      <div class="row item-row">
        <div class="col-20 text-left">起始日期:</div>
        <div class="col-60 text-right">2016-05-04</div>
        <div class="col-20 text-right">上午</div>
      </div>
      <div class="row item-row">
        <div class="col-20 text-left">结束日期:</div>
        <div class="col-60 text-right">2016-05-04</div>
        <div class="col-20 text-right">下午</div>
      </div>
      <div class="row item-row">
        <div class="col-20 text-left">休假天数:</div>
        <div class="col-80 text-right">4</div>
      </div>
      <div class="row item-row description-row">
        <div class="col-20 text-left">申请描述:</div>
        <div class="col-80 text-right">4</div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
