<ion-view view-title="名片打印申请" class="printCard">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="$hmsGoBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">名片打印申请</h1>
  </ion-header-bar>
  <ion-content class="content-style">
    <div class="card-address" ng-click="chooseAddress()">
      无需邮寄，青浦自取
      <img src="build/img/contact/right_arrow@3x.png">
    </div>
    <div class="row row-center print-text">
      <div class="col col-60 ">
        印刷数量(盒)
      </div>
      <div class="col col-40">
        <div class="row row-center">
          <div class="col col-center">
            <img src="build/img/myInfo/card/delete.png" class="add-img">
          </div>
          <div class="col col-center print-num">
            <input type="number" ng-modal="" style="width:30px;">
          </div>
          <div class="col col-center">
            <img src="build/img/myInfo/card/add.png" class="add-img">
          </div>
        </div>
      </div>
    </div>
      <div class="card-detail-box">
        <div class="row border-bottom" style="">
          <div class="col col-30">
            名片信息
          </div>
        </div>
        <div ng-click="goCardDetail()">
          <div class="card-detail-item">
            <div  align="center">
              {{cardDetail.name}}
            </div >
            <div  align="center">
              {{cardDetail.job}}
            </div>
            <div  align="center">
              {{cardDetail.name_en}}
            </div>
            <div  align="center">
              {{cardDetail.job_en}}
            </div>
          </div>
          <div class="top-padding-12">
            <div class="row">
              <div class="col col-15"></div>
              <div class="col col-85">{{cardDetail.phone}}</div>
            </div>
            <div class="row">
              <div class="col col-15"></div>
              <div class="col col-85">{{cardDetail.telephone}}</div>
            </div>
            <div class="row">
              <div class="col col-15"></div>
              <div class="col col-85">{{cardDetail.email}}</div>
            </div>
          </div>
        </div>
      </div>
    <div class="prompt" style="">
      须知：请安排好印刷时间，至少5个工作日
    </div>
  </ion-content>
  <ion-footer-bar>
      <div  class="submit-button">提交</div>
  </ion-footer-bar>
</ion-view>
<style>

</style>
