.timesheet-write,.timesheet-batch-write {

  .title-header{
    width:100%; height: 28px;line-height: 28px
  }

  .title-sub-header{
    width:100%; height: 14px;line-height: 14px;font-size: 14px;font-weight: normal;
  }

  .no-padding{
    margin: 0;
    padding:0;
  }

  .timesheet-write-button {
    margin-left: 5%;
    margin-right: 5%;
    background: #F99D32;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    &.activated{
      background: #FCC896;
      margin-left: 6%;
      margin-right: 6%;
      height: 48px;
      line-height: 48px;
      border-radius: 18px;
      display: block;
      font-size: 16px;
    }
  }

}

.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}


.hms-input-list {
  margin: 5px 5px 20px 5px;
  padding-bottom: 25px;
  padding-left: 12px;
  border-bottom-right-radius: 25px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 8px #D2D2D2;

  .hms-textarea{
    width: 90%;height: 100px;
    margin:10px;
  }

  .hms-input-item {
    display: block;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #D2D2D2;

    .checkbox-size{
      font-size:24px;
      color: #24559C;
      margin-top: -2px;
    }
    .checkbox-font-size{
      font-size:16px;
      color: #24559C;
    }
    &.activated{
      background: #f5f5f5;
    }
    .hms-input-icon {
      img{
        width: 20px;
        height: 20px;
      }
    }
    .hms-input-content {
      font-size: 16px;
      color: #4A4A4A;
    }
    .hms-input-link {
      .hms-input-link-img{
        width: 20px;
        height: 20px;
        background: url("../img/application/timesheet/BackArrow@3x.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}
