.bus-information {
    background-color: #F5F5F5;
        font-size: 62.5%;
        background-color: #F5F5F5;
        font: 12px/1.2rem "微软雅黑",Arial,Tahoma, Helvetica,\5b8b\4f53, sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    
    .bus-information li {
        list-style: none;
    }
    .bus-information img {
        border: 0;
    }
    .module {
        width: 100vw;
        margin: 1vh 0 3vh;
    }
    .module .title {
        width: 100vw;
        height: 5vh;
        background: white;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        box-shadow: 0 0.5vh 0.5vh #CCCBCB;
    }
    .module .title .point {
        width: 4vw;
        height: 4vw;
        background: #4A90E2;
        border-radius: 50%;
        margin: 0 1.5vw 0 2vw;
    }
    .module:nth-child(2) .title .point {
        background: #7ED321;
    }
    .module .title p {
        font-size: 4.6vw;
        color: #24559C;
        /*font-weight: 600;*/
    }
    .module .title img {
        margin: 0 1.5vw;
    }
    .module .table_head {
        width: 100vw;
        height: 4.8vh;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: space-around;
    }
    .module .table_head li {
        margin-top: 0.4vh;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        font-size: 3.5vw;
        color: #24559C;
    }
    .module .table_head li:nth-child(1) img {
        height: 3vh;
        margin-right: 3vw;
    }
    .module .table_head li:nth-child(2) img,
    .module .table_head li:nth-child(3) img {
        height: 2.6vh;
        margin-right: 3vw;
    }
    .module .t_d {
        width: 100vw;
        height: 7vh;
        background: white;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: space-around;
    }
    .module .t_d li {
        font-size: 4.1vw;
        /*font-weight: 600;*/
    }
    .module .t_d li:nth-child(1) {
        color: #4A4A4A;
    }
    .module .t_d li:nth-child(2) {
        color: #D0021B;
    }
    .module .t_d li:nth-child(3) {
        color: #F5A623;
    }
    .module .journey ul:nth-child(4) {
        justify-content: space-between;
    }
    .module .journey ul:nth-child(4) li:nth-child(1) {
        margin: 0 0 0 4vw;
    }
    .module .journey ul:nth-child(4) li:nth-child(2) {
        margin: 0 7.5vw 0 0;
    }
    .module .journey ul:nth-child(4) li:nth-child(3) {
        margin: 0 9.5vw 0 0;
    }
    .module .journey ul:nth-child(3) {
        border-bottom: 1px solid #D3D3D3;
        border-top: 1px solid #D3D3D3;
    }
    .module .station {
        width: 100vw;
        height: 4.8vh;
        line-height: 4.8vh;
        font-size: 3.9vw;
        /*font-weight: 600;*/
        color: #24559C;
    }
    .module .station img {
        height: 2.8vh;
        vertical-align: middle;
        margin: 0 3vw 0 7vw;
    }
    .module .detail {
        width: 100vw;
        height: 14vh;
        background: white;
        border-radius: 0 0 3vw 3vw;
        box-shadow: 0 0.8vh 0.5vh #CCCBCB;
    }
    .module .detail p {
        width: 90vw;
        line-height: 3.7vh;
        margin: 0 auto;
        padding-top: 1.5vh;
        font-size: 4.1vw;
        color: black;
    }
}