/************************************
滑动导航栏
*/

.contractflow {
  .transparent {
    opacity: 0;
  }
  .padding-zero {
    padding: 0px;
  }
  .size-filling {
    height: 100%;
    width: 100%;
  }
  .height-filling {
    top: 0px;
    bottom: 0px;
  }
  .hrms-color-blue {
    color: #24559C;
  }
  .hrms-color-gray {
    color: gray;
  }
  .hrms-bg-blue {
    background: #24559C;
  }
  .div-slide {
    left: 0px;
    top: 43px;
    bottom: 50px;
    padding: 0px;
    width: 100%;
    position: fixed;
  }
  .div-subheader {
    left: 0px;
    top: 43px;
    padding: 0px;
    width: 100%;
    height: 34px;
    position: fixed;
    z-index: 4;
  }
  .contract-subheader {
    background: #D2D2D2;
    position: absolute;
    width: 100%;
    height: 34px;
  }
  .contract-subheader-scroll {
    height: 34px;
    width: 100%;
    background: white;
    overflow: visible;
  }
  .contract-subheader-marker {
    margin-top: 6px;
    height: 3px;
  }
  .contract-subheader-marker-selected {
    animation: subheader-selected 0.5s;
    -webkit-animation: subheader-selected 0.5s;
  }
  @-webkit-keyframes subheader-selected {
    0% {
      width: 0%;
      margin-left: 50%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes subheader-selected {
    0% {
      width: 0%;
      margin-left: 50%;
    }
    100% {
      width: 100%;
    }
  }
  .contract-subheader-marker-deselected {
    width: 0%;
    //-webkit-animation: subheader-deselected 0.5s;
  }
}