<ion-view view-title="合同管理" class="workflow contractflow">
  <ion-header-bar align-title="center" class="bar-stable padding-zero">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title">合同管理</h1>
  </ion-header-bar>

  <div id="contractlist-div-subheader" class="div-subheader">
    <div id="contractSubheader" class="contract-subheader">
      <ion-scroll class="contract-subheader-scroll" delegate-handle="subheaderHandle" direction="x" scrollbar-x="false" has-bouncing="true" overflow-scroll="false">
        <div id='contractSubheaderScroll' class="row padding-zero" style="width:1000px; overflow:hidden;">
          <div class="contractSubheaderMarker" ng-click="clickSubheader(i)" ng-repeat="i in subheaderTitleKey" style="padding:6px; padding-bottom:0px;">
            <label ng-bind="subheaderTitleValue[i]" ng-class="{true:'hrms-color-blue',false:'hrms-color-gray'}[subheaderSelectFlag[i]]" style="white-space: nowrap;"></label>
            <div ng-class="{true:'contract-subheader-marker-selected hrms-bg-blue',
                            false:'contract-subheader-marker-deselected hrms-bg-blue'}
                            [subheaderSelectFlag[i]]" class="contract-subheader-marker">
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
  </div>
  <div id="contractlist-div-slidebox" class="div-slide">
    <ion-slide-box on-slide-changed="changeSlide($index)" show-pager="false" style="width:100%;height:100%;">
      <ion-slide ng-repeat="k in subheaderTitleKey">
        <ion-content style="top:34px; bottom:4px;">
          <!--<ion-refresher ng-if="!fetchDataFlag" on-refresh="refresh()" pulling-text="正在刷新数据..." pulling-icon="ion-ios-loop">
          </ion-refresher>-->
          <div class="hms-hide-content" ng-if="fetchDataFlag && subheaderSelectFlag[k]">
            <hms-loading></hms-loading>
          </div>
          <ion-list ng-if="k == type">
            <ion-item class="workflow-list padding-zero opacity-zero" ng-style="fadeStyle($index)" ng-repeat="item in list | limitTo: (pageNum * pageNumLimit) track by $index">
              <hms-workflow-list workflow-title='item.title1' workflow-icon='item.icon' workflow-type='item.type' workflow-type-value='item.typeValue' workflow-node='item.node' workflow-node-value='item.nodeValue' workflow-submit='item.submit' workflow-submit-person='item.submitPerson'
                ng-click="enterWorkflowDetail(item, $index)">
              </hms-workflow-list>
            </ion-item>
          </ion-list>
          <ion-infinite-scroll ng-if="subheaderSelectFlag[k] && loadMoreDataFlag" on-infinite="loadMoreData()" distance="1%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-slide>
    </ion-slide-box>
  </div>

  <ion-footer-bar class="foot-bar" style="bottom: 0px;" ng-if="true">
    <div class="buttons">
      <button class="button button-clear filter-icon" ng-click="filterWorkFlowInfo()"></button>
      <div class="filter-text" ng-click="filterWorkFlowInfo()">筛选</div>
    </div>
  </ion-footer-bar>
</ion-view>