<div class="hms-filter-bg">
  <ion-modal-view class="hms-filter-modal">
    <ion-header-bar align-title="center" class="bar-modal modal-height">
      <div class="buttons modal-button-margin">
        <button class="button button-clear" ng-click="dataFilterHandle.cancelDataFilter()">取消</button>
      </div>
      <h1 class="title modal-button-margin" ng-click="dataFilterHandle.clearDataFilterParams()">清空筛选</h1>
      <div class="buttons modal-button-margin">
        <button class="button button-clear" ng-click="dataFilterHandle.confirmDataFilter()">确定</button>
      </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true" style="overflow: hidden;top:44px!important;">
      <div class="row no-padding hms-filter-items-row">
        <div class="select-items">
          <div class="data-filter-type" ng-bind="type.name" ng-repeat="type in selectFilterTypeList "
               ng-click="dataFilterHandle.selectFilterType(type)"
               ng-class="{true: 'selected', false: 'no-selected'}[type.selected]">
          </div>
        </div>
        <ion-scroll class="filter-item-list" delegate-handle="hmsFilterCondition">
          <div class="filter-item-detail" ng-repeat="filterItem in filterItemList track by $index"
               ng-click="dataFilterHandle.selectFilterItem(filterItem)"
               ng-class="{true: 'selected', false: 'no-selected'}[filterItem.selected]">
            <div class="row no-padding">
              <div class="col no-padding col-80 filter-condition-item"
                   ng-class="{true: 'selected', false: 'no-selected'}[filterItem.selected]"
                   ng-bind="filterItem.itemDesc">
              </div>
              <div class="col no-padding col-20 col-center" ng-if="filterItem.selected" style="text-align: center">
                <i class="ion-checkmark checked"></i>
              </div>
            </div>
          </div>
        </ion-scroll>
      </div>
    </ion-content>
  </ion-modal-view>
</div>
