<ion-view view-title="拼车详情" class="carpooling-list-detail">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="history-backtext">返回</span>
      </button>
    </div>
    <h1 class="title">拼车详情</h1>
    </div>
  </ion-header-bar>
  <ion-content  class=" has-header">
    <div class="body" ng-style="{height:sevenSeat?'465':'395'}">
      <div id="allmap" class="route-map"></div>

      <div class="start-end">
        <div class="row detail-location-choose">
          <div class="detail-icon-start-end">
            <div class="detail-circle-up"></div>
            <div class="detail-line-center"></div>
            <div class="detail-circle-down"></div>
          </div>
          <div class="col col-83"  style="padding-left: 12px;">
            <div class="detail-start-text">
              <span class="detail-start-text-style text-over-hidden">起点：<i class="gray-text">{{listInfo.startAddr}}</i></span>
            </div>
            <div class="input-center-line"></div>
            <div class="detail-end-text">
              <span class="detail-start-text-style text-over-hidden" >终点：<i class="gray-text">{{listInfo.targetAddr}}</i> </span>
            </div>
          </div>
        </div>
        <div class="detail-time">
          <div class="detail-start">
            <span class="detail-start-time">{{listInfo.departureTime}}&nbsp;&nbsp;&nbsp;&nbsp;出发</span>
            <span class="detail-start-perference">{{listInfo.departurePreference}}</span>
          </div>
        </div>
        <div class="detail-vertical-line"></div>
        <div class="detail-seat">
          <div class="detail-remain-seat">
            <img src="build/img/application/carpooling/seat-1@3x.png" class="detail-img-seat">
            <span class="detail-seat-number">成行人数&nbsp;&nbsp;<i style="color: #0D4391;"> {{listInfo.hasJoinedSeats}}</i></span>
          </div>
          <div class="detail-total">
            <img src="build/img/application/carpooling/car-g@3x.png" class="detail-total-car">
            <span class="detail-total-font">共{{listInfo.carType}}座</span>
          </div>
        </div>
        <div class="detail-enjoy-people">
          <div class="detail-img-people">
            <img ng-src="{{cp_number[0].avatar}}" class="detail-img-people-icon"/>
            <span class="{{cp_number[0].font}}">{{cp_number[0].empName}}</span>
          </div>
          <div class="detail-img-people">
            <img  ng-src="{{cp_number[1].avatar}}" class="detail-img-people-icon"/>
            <span class="{{cp_number[1].font}}">{{cp_number[1].empName}}</span>
          </div>
          <div class="detail-img-people">
            <img  ng-src="{{cp_number[2].avatar}}" class="detail-img-people-icon"/>
            <span class="{{cp_number[2].font}}">{{cp_number[2].empName}}</span>
          </div>
          <div class="detail-img-people">
            <img  ng-src="{{cp_number[3].avatar}}" class="detail-img-people-icon"/>
            <span class="{{cp_number[3].font}}">{{cp_number[3].empName}}</span>
          </div>
        </div>
        <!--7人座-->
        <div class="detail-enjoy-people" style="margin-top: 10px" ng-if="sevenSeat">
          <div class="detail-img-people">
            <img  ng-src="{{cp_number[4].avatar}}" class="detail-img-people-icon"/>
            <span  class="{{cp_number[4].font}}">{{cp_number[4].empName}}</span>
          </div>
          <div class="detail-img-people">
            <img  ng-src="{{cp_number[5].avatar}}" class="detail-img-people-icon"/>
            <span  class="{{cp_number[5].font}}">{{cp_number[5].empName}}</span>
          </div>
          <div class="detail-img-people">
            <img  ng-src="{{cp_number[6].avatar}}" class="detail-img-people-icon"/>
            <span class="{{cp_number[6].font}}">{{cp_number[6].empName}}</span>
          </div>
        </div>
        <div class="detail-vertical-line" style="margin-top: 10px" ng-if="sevenSeat"></div>
        <div class="detail-cost-plain">
          <img class="detail-cost-icon" src="build/img/application/carpooling/charge@3x.png">
          <span class="detail-cost-text">费用计划</span>
        </div>
        <div class="detail-cost-perference"><span>{{listInfo.feeType}}</span></div>
      </div>
    </div>
    </div>
    <div class="button-release">
      <button type="button"  ng-if="!joinButtonHide" class="release-button" ng-click="joinCapooling()">加入</button>
    </div>
  </ion-content>
</ion-view>
