.timesheet {
  .hms-calendar {
    .hms-calendar-month {
      height: 200px;
      width: 100%;
      background: #4cd964;
    }
  }
}

.timesheet-year-list{
  .timesheet-year-item{
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    color: #4C5665;
    &.selected{
      color: #F99D32;
    }
  }
}


/**
* 自定义pop
*/
.timesheet-year-pop-container {
  height: 250px;
  width: 155px;
}
