.resources-query{
  .row,
  .col {
    padding: 0;
    width: auto;
  }
  .tr {
    height: 2rem;
    line-height: 2rem;
  }

  .td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8d8d8;
  }

  .left,
  .right {
    width: 100%;
  }

  .right td {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .table-header {
    height: 2.25rem;
    white-space: nowrap;
  }

  .table-body {
    position: absolute;
    top: 2.25rem;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
  }

  .table-header-tr {
    background-color: #ece9d8;
  }

  .column-default-width {
    width: 3.5rem;
  }

  .text-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .isHoliday {
    background-color: #9cf;
  }

  .isTodo {
    background-color: #ffabd7;
  }

  .isDone {
    background-color: #cf9;
  }

  .div-query {
    position: absolute;
    z-index: 999;
    background-color: #f8f8f8;
    width: 100%;
    //height: 66.7%;
    //border-top: 1px solid #ddd;
    //border-bottom: 1px solid #ddd;
    //box-shadow: 0 2px 2px #999;
    padding: .75rem 1.3%;
  }

  .btn {
    width: 94%;
    margin: 0 3%;
    height: 3rem;
    min-height: 3rem;
    line-height: 3rem;
    margin-top: .75rem;
    border-radius: 1rem;
    background: #f99d32;
    color: #fff;
  }

  .tr-odd-bgcolor {
    background-color: #FFFFFF;
  }

  .tr-even-bgcolor {
    background-color: #f5f5f5;
  }

  .hidden-query {
    display: none;
  }

  .hidden-left {
    margin-left: -25%;
  }

  .label-row {

    height: 2rem;
    line-height: 2rem;
    margin-top: .5rem;


  }

  .div-block {
    padding: .5rem ;
    //border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 2px #ccc;
  }

  .label-date {
    display: block;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    color: #9b9b9b;

  }

  //.input-date {
  //  width: 100%;
  //  text-align: center;
  //  height: 1.5rem;
  //  line-height: 1.5rem;
  //  padding: 4px 0 0;
  //  color: #e6b400;
  //}

  .select-date{
    width:100%;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    height: 2rem;
    margin-top: .5rem;
    .month{
      text-align: right;
      font-size: 1em;
      height: 1rem;
      margin-right: .2rem;
    }
    .week{
      text-align: right;
      font-size: 1em;
      height: 1rem;
      margin-right: .3rem;
    }
    .day{
      text-align: left;
      font-size: 2.4em;
      height: 2rem;
      font-weight: 500;
      line-height: initial;
    }
  }

  .div-block-middle {
    height: 2.5rem;
    margin: 0 3%;
    .clear-img{
      width: 18px;
      height: 18px;
      background-color: rgba(250, 250, 250, 0.6);
      border-radius: 50%;
      float: right;
      margin-right: -5px;
      margin-top: -24px;
    }
  }

  //.div-block-middle img {
  //  width: 1.5rem;
  //  height: 1.5rem;
  //  position: relative;
  //  top: 4px;
  //}

  .div-block-middle input {
    height: 2rem;
    line-height: 2rem;
    background-color: #fff;
    text-align: right;
    border: 0;
  }

  .col-20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  #scroll-bar-v .col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  .col-75 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .font-select{
    color: #ccc;
    text-align: right;
  }

  /* 修改ionic样式 */
  .toggle .track {
    height: 22px;
  }

  .toggle .handle {
    width: 24px;
    height: 24px;
    left: 5px;
  }

  .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }

  /*css动画*/
  .animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  @-webkit-keyframes fadeOutUp {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }

  .fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
  }

  @-webkit-keyframes fadeInRight {
    from {
      margin-left: -25%;
    }

    to {
      margin-left: 0;
    }
  }

  @keyframes fadeInRight {
    from {
      margin-left: -25%;
    }

    to {
      margin-left: 0;
    }
  }

  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  @-webkit-keyframes fadeOutLeft {
    from {
      margin-left: 0;
    }

    to {
      margin-left: -25%;
    }
  }

  @keyframes fadeOutLeft {
    from {
      margin-left: 0;
    }

    to {
      margin-left: -25%;
    }
  }

  .fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }



}
.popup-open{
  .popup{
    margin-top: -50px;
    background: rgba(51, 51, 51, 0.8);
    .popup-head{
      border: 0;
      .popup-title{
        color: #fff;
      }
    }
  }
}

//.popup-open{
//  .padding_zero {
//    padding: 0;
//  }
//
//  .ionic_datepicker_popup .font_bold {
//    font-weight: bold;
//  }
//
//  .ionic_datepicker_popup .padding_top_zero {
//    padding-top: 0;
//  }
//
//  .ionic_datepicker_popup .padding_left_5px {
//    padding-left: 5px;
//  }
//
//  .ionic_datepicker_popup .padding_right_5px {
//    padding-right: 5px;
//  }
//
//  .ionic_datepicker_popup .month_year_section {
//    padding: 5px 0;
//  }
//
//  .ionic_datepicker_popup .calendar_grid {
//    height: 215px;
//  }
//
//  .ionic_datepicker_popup .calendar_grid .weeks_row {
//    padding: 0;
//  }
//
//  .ionic_datepicker_popup .today {
//    border: 1px solid #3669ad;
//    border-radius: 50%;
//  }
//
//  .ionic_datepicker_popup .selected_date {
//    background-color: #3669ad;
//    border-radius: 50%;
//    color: #fff;
//    font-weight: bold;
//  }
//
//  .ionic_datepicker_popup .popup-head {
//    background-color: #3669ad;
//    display: none;
//  }
//
//  .ionic_datepicker_popup .popup-head .popup-title {
//    color: #ffffff;
//  }
//
//  .ionic_datepicker_popup .popup-head .popup-sub-title {
//    color: #ffffff;
//  }
//
//  .ionic_datepicker_popup .popup-body {
//    background-color: #ffffff;
//  }
//
//  .ionic_datepicker_popup .popup-body .selected_date_full {
//    background-color: #3669ad;
//    margin: -10px -10px 0 -10px;
//    height: 45px;
//    text-align: center;
//    font-weight: bold;
//    color: #fff;
//    line-height: 45px;
//    font-size: 18px;
//  }
//
//  .ionic_datepicker_popup .popup-body .select_section {
//    padding: 1px 5px;
//  }
//
//  .ionic_datepicker_popup .popup-body .pointer_events_none {
//    pointer-events: none;
//    color: #aaaaaa !important;
//  }
//
//  .ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
//    border: none;
//    border-bottom: 1px solid #3669ad;
//    padding: 0;
//  }
//
//  .ionic_datepicker_popup .popup-body .month_select .input-label, .ionic_datepicker_popup .popup-body .year_select .input-label {
//    padding: 2px 0;
//    width: 0;
//  }
//
//  .ionic_datepicker_popup .popup-body .month_select select, .ionic_datepicker_popup .popup-body .year_select select {
//    left: 10px;
//    border: none;
//    padding: 0;
//  }
//
//  .ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
//    right: 5px;
//    color: #3669ad;
//  }
//
//  .ionic_datepicker_popup .popup-body .show_nav {
//    padding: 10px 0 0 0;
//  }
//
//  .ionic_datepicker_popup .popup-body .show_nav .prev_btn_section {
//    padding: 5px 0;
//    text-align: left;
//  }
//
//  .ionic_datepicker_popup .popup-body .show_nav .prev_btn_section button {
//    padding: 0;
//  }
//
//  .ionic_datepicker_popup .popup-body .show_nav .next_btn_section {
//    padding: 5px 0;
//    text-align: right;
//  }
//
//  .ionic_datepicker_popup .popup-body .show_nav .next_btn_section button {
//    padding: 0;
//  }
//
//  .ionic_datepicker_popup .popup-body .button-clear {
//    color: #3669ad;
//  }
//
//  .ionic_datepicker_popup .popup-buttons {
//    padding: 0;
//    min-height: 45px;
//  }
//
//  .ionic_datepicker_popup .popup-buttons button {
//    background-color: #3669ad;
//    border-radius: 0;
//    margin-right: 1px;
//    color: #ffffff;
//  }
//
//  .ionic_datepicker_popup .row + .row {
//    padding: 0;
//  }
//
//  .ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
//    background-color: #3669ad;
//  }
//
//  .ionic_datepicker_modal .header .title, .ionic_datepicker_modal .header .button, .ionic_datepicker_modal .footer .title, .ionic_datepicker_modal .footer .button {
//    color: #ffffff;
//  }
//
//  .ionic_datepicker_modal .footer .button-block {
//    margin: 0;
//  }
//
//  .ionic_datepicker_modal .today {
//    border: 1px solid #3669ad;
//  }
//
//  .ionic_datepicker_modal .selected_date {
//    background-color: #3669ad;
//    color: #fff;
//    font-weight: bold;
//  }
//
//  .ionic_datepicker_modal .pointer_events_none {
//    pointer-events: none;
//    color: #aaaaaa !important;
//  }
//
//  .ionic_datepicker_modal .select_section {
//    padding: 1px 5px;
//  }
//
//  .ionic_datepicker_modal .button-clear {
//    color: #009688;
//  }
//
//  .ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
//    border: none;
//    border-bottom: 1px solid #3669ad;
//    padding: 0;
//  }
//
//  .ionic_datepicker_modal .month_select .input-label, .ionic_datepicker_modal .year_select .input-label {
//    padding: 2px 0;
//    width: 0;
//  }
//
//  .ionic_datepicker_modal .month_select select, .ionic_datepicker_modal .year_select select {
//    left: 10px;
//    border: none;
//    padding: 0 10px;
//  }
//
//  .ionic_datepicker_modal .month_select:after, .ionic_datepicker_modal .year_select:after {
//    right: 5px;
//    color: #009688;
//  }
//
//  .ionic_datepicker_modal .padding_left_5px {
//    padding-left: 5px;
//  }
//
//  .ionic_datepicker_modal .padding_right_5px {
//    padding-right: 5px;
//  }
//
//  .ionic_datepicker_modal .date_col {
//    height: 50px;
//    line-height: 50px;
//  }
//
//  .ionic_datepicker_modal .font_bold {
//    font-weight: bold;
//  }
//
//  .ionic_datepicker_modal .font_22px {
//    font-size: 22px;
//  }
//
//  .platform-android .ionic_datepicker_modal .bar .title.title-left {
//    text-align: center;
//  }
//
//  .platform-android .ionic_datepicker_modal select {
//    left: 25%;
//  }
//
//  .platform-ios .ionic_datepicker_modal select {
//    left: 5%;
//  }
//}



.employeeModal{
  top: 0;
   .header-search {
    width: 100%;
    height: 3.125rem;
    background-color: #f8f8f8;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

   .input-search {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

   .input-left {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0.375rem 0 0 0.375rem;
  }

   .input-right {
    height: 2rem;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0 0.375rem 0.375rem 0;
    padding: 0.25rem;
  }

   .font-search {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #999;
  }

   .input-right.active,
   .input-right.activated {
    background-color: #eee;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  }
}


.departmentModal{

   .header-search {
    width: 100%;
    height: 3.125rem;
    background-color: #f8f8f8;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

   .input-search {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 0.375rem 0.375rem 0;
  }

   .input-left {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0.375rem 0 0 0.375rem;
  }

   .input-right {
    height: 2rem;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0 0.375rem 0.375rem 0;
    padding: 0.25rem;
  }

   .font-search {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #999;
  }

   .input-right.active,
   .input-right.activated {
    background-color: #eee;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  }
}



.groupModal{
   .header-search {
    width: 100%;
    height: 3.125rem;
    background-color: #f8f8f8;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

   .input-search {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 0.375rem 0.375rem 0;
  }

   .input-left {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0.375rem 0 0 0.375rem;
  }

   .input-right {
    height: 2rem;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0 0.375rem 0.375rem 0;
    padding: 0.25rem;
  }

   .font-search {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #999;
  }

   .input-right.active,
   .input-right.activated {
    background-color: #eee;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  }


}

