<!--<ion-view id="resourceQuery" view-title="资源查询">-->
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear" ng-click="toggleQuery()">查询</button>-->
  <!--</ion-nav-buttons>-->


  <ion-view view-title="资源查询" class="resources-query">
  <ion-header-bar align-title="center" ng-class="{'bar-stable blur-back':descriptionAppearance,'bar-stable clear-back':!descriptionAppearance}">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">资源查询</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="toggleQuery()">
        <span class="back-button-text">查询</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class=" div-query animated {{toggleUpDownAnimate}}"
    ng-class="{true: '',false: 'hidden-query'}[toggleUpDownFlag]">
    <div class="row div-block">
      <div class="col col-50">
        <label for="formDate" class="label-date">起始日期</label>
        <input type="date" id="formDate" class="input-date" ng-model="queryParams.dateFrom">
      </div>
      <div class="col col-50" style="border-left: 1px solid #e8e8e8;">
        <label for="toDate" class="label-date">结束日期</label>
        <input type="date" id="toDate" class="input-date" ng-model="queryParams.dateTo">
      </div>
    </div>
    <div class="div-block" style="padding: 0 .5rem;margin-top: .5rem">
      <div class="div-block-middle" style="border-bottom: 1px solid #e8e8e8">
        <label class="row label-row">
          <div class="col col-15" style="text-align: center">
            <img src="build/img/application/resources-query/icon-employee.gif">
          </div>
          <span class="col col-15">员工</span>
          <input class="col col-70" placeholder="请选择" readonly ng-model="queryParams.employee"
                 ng-click="openEmployeeModal()"/>
        </label>
      </div>
      <div class="div-block-middle" style="border-bottom: 1px solid #e8e8e8">
        <label class="row label-row">
          <div class="col col-15" style="text-align: center">
            <img src="build/img/application/resources-query/icon-department.gif">
          </div>
          <span class="col col-15">部门</span>
          <input class="col col-70" placeholder="请选择" readonly ng-model="queryParams.department"
                 ng-click="openDepartmentModal()"/>
        </label>
      </div>
      <div class="div-block-middle">
        <label class="row label-row">
          <div class="col col-15" style="text-align: center">
            <img src="build/img/application/resources-query/icon-group.png">
          </div>
          <span class="col col-15">分组</span>
          <input class="col col-70" placeholder="请选择" readonly ng-model="queryParams.group"
                 ng-click="openGroupModal()"/>
        </label>
      </div>
    </div>
    <div class="row div-block" style="margin-top: .5rem">
      <div style="width: 50%;margin-left: 5%;line-height: 1.875rem">包含离职人员</div>
      <div style="width: 50%;text-align: right;padding-right: .25rem">
        <label class="toggle toggle-energized" style="height: 2.5rem;line-height: 2.5rem;">
          <input type="checkbox" ng-model="dimission.include" ng-click="dimissionClick()">

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <button class="button button-energized btn" ng-click="doQuery()">查询</button>
    </div>
    <!--首行首列固定的滚动表格 begin-->
    <ion-content scroll="false">
      <div class="row table-header animated {{toggleLeftRightAnimate}}"
           ng-class="{true: '',false: 'hidden-left'}[toggleLeftRightFlag]">
        <div class="col col-40" style="z-index: 2">
          <table class="left">
            <tr class="table-header-tr" ng-click="toggleLeft()" ng-show="tableShow">
              <td style="width: 20%">#</td>
              <td style="width: 30%">工号</td>
              <td style="width: 50%">姓名</td>
            </tr>
          </table>
        </div>
        <div class="col col-60" style="z-index: -1">
          <ion-scroll delegate-handle="tableHeader" has-bouncing="false" direction="x" scrollbar-x="false"
                      style="margin-top: 0;margin-left: -1px">
            <table class="right">
              <tr class="table-header-tr">
                <td ng-class="{true: 'isHoliday',false: ''}[headers.isHoliday=='Y']"
                    ng-repeat="headers in headerItems">
                  <div class="column-default-width column-{{$index}}">
                    {{headers.isHoliday=='Y'?headers.date+"(休)":headers.date}}
                  </div>
                </td>
              </tr>
            </table>
          </ion-scroll>
        </div>
      </div>
      <div class="table-body animated {{toggleLeftRightAnimate}}"
           ng-class="{true: '',false: 'hidden-left'}[toggleLeftRightFlag]">
        <ion-scroll direction="y" style="height: 100%">
          <div class="row">
            <div class="col col-40" style="z-index: 1">
              <table class="left">
                <tr ng-class="{true:'tr-odd-bgcolor',false:'tr-even-bgcolor'}[$index%2==0]"
                    ng-repeat="lineItem in lineItems">
                  <td style="width: 20%;background-color: rgba(236,233,216,1)">{{$index+1}}</td>
                  <td style="width: 30%;background-color: rgba(236,233,216,.5)">
                    {{lineItem.employeeCode}}
                  </td>
                  <td style="width: 50%;background-color: rgba(236,233,216,.5)">
                    {{lineItem.employeeName}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col col-60" style="z-index: 0">
              <ion-scroll delegate-handle="tableBody" has-bouncing="false" direction="x" scrollbar-x="false"
                          on-scroll="scroll()" style="margin-top: 0;margin-left: -1px">
                <table class="right">
                  <tr ng-class="{true:'tr-odd-bgcolor',false:'tr-even-bgcolor'}[$index%2==0]"
                      ng-repeat="lineItem in lineItems">
                    <td ng-class="{'isTodo':lines.project=='无项目','isDone':lines.project==''}"
                        ng-repeat="lines in lineItem.projLists">
                      <div class="text-overflow-ellipsis column-default-width column-{{$index}}"
                           ng-click="resetWidth($index,lines.project)">
                        {{lines.project}}
                      </div>
                    </td>
                  </tr>
                </table>
              </ion-scroll>
            </div>
          </div>
        </ion-scroll>
      </div>
    </ion-content>
    <!--end-->
</ion-view>
