.platform-android{
  .time-off-header-bg {
    .platform-status-bar {
      width: 100%;
      height: 0px;
    }
  }
  .time-off-content {
    top: 180px;
  }
}
.platform-ios{
  .time-off-header-bg {
    .platform-status-bar {
      width: 100%;
      height: 20px;
    }
  }
  .time-off-content {
    top: 200px;
  }
}

.cardDetail{
  background: #f4f5f7;
  .font-left{
    text-align:left;
    background: #fff;
    border-top:1px solid rgba(209, 209, 209, 0.59);
  }
  .submit-left{
    /* height: 30px; */
    /* line-height: 40px; */
    width: 50%;
    /* float: left; */
    background: #fff;
    color: #1e8beb;
    text-align: center;
    margin: 10px 0 10px 0;
    border-right:1px solid rgba(209, 209, 209, 0.59);
  }
  .submit-right{
    width:50%;float:left;background: #fff;color: #1e8beb;text-align: center;   margin: 10px 0 10px 0;
  }
  .bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    background:#fff;
  }
  .float-20{
    float: left;width: 20%;text-align: left;background: #fff;
  }
  .float-60{
    float: left;width: 60%;text-align: left;background: #fff;
  }
  .float-80{
    float: left;width: 80%;text-align: left;background: #fff;
  }
  .float-80{
    float: left;width: 90%;text-align: left;background: #fff;
  }
  .clear{
    clear: both;
  }
  .card-item{
    background: #fff;
    padding: 10px;
    border-top: none;
    border-bottom: 1px solid #d1d1d1;
  }
  #company{
    margin-top:20px;border-top:1px solid rgba(209, 209, 209, 0.59);
  }
  .row+.row {
    margin-top:0px!important;
    padding-top: 5px!important;
  }
.time-off-header-bg {
  background-image: url("./../img/myInfo/card/bg1.png")!important;
  background-size: cover;
  //background-size: cover;
  //background: #48ACF8; /* 为较旧的或者不支持的浏览器设置备用属性 */
  //background: -moz-linear-gradient(top, #48ACF8, #FAFAFA 8%);
  //background: -webkit-gradient(linear, 50% 50%, 50% 50%, from(#48ACF8), to(#FAFAFA));
  .time-off-header-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    right: 0;
    left: 0;
    z-index: 9;
    padding: 0px;
    width: 100%;
    height: 180px;
    border-width: 0;
    border-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(209, 209, 209, 0.59);
    .title {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      overflow: hidden;
      margin: 0 10px;
      min-width: 30px;
      height: 43px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 17px;
      font-weight: 500;
      line-height: 44px;
      color: white;
    }
    .buttons {
      display: inherit;
      .right-button {
        position: absolute;
        top: 0px;
        right: 5px;
        color: white;
        font-size: 17px;
        min-height: 31px;
        line-height: 42px;
        z-index: 1;
        padding: 0 8px;
        min-width: initial;
      }
      .left-button {
        position: absolute;
        top: 0px;
        left: 5px;
        color: white;
        font-size: 17px;
        min-height: 31px;
        line-height: 42px;
        z-index: 1;
        padding: 0 8px;
        min-width: initial;
      }
    }
  }
}

.time-off-sub-header {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top:15px;
  height: 100px;
  width: 100%;
  .time-off-col {
    text-align: center;
    padding: 0px;
    margin: 0px;
    .circle-warp {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: 84px;
      width: 78px;
    }
    .bottom-title {
      height: 15px;
      text-align: center;
      font-size: 12px;
      color: white;
      display: block
    }
  }
}
  .header-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }
}
