<ion-view view-title="名片详情" class="cardDetail">
  <div class="time-off-header-bg">
    <div class="platform-status-bar"></div>
    <div class="time-off-header-bar">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-back left-button" ng-click="$hmsGoBack()">
          <span class="back-text">返回</span>
        </button>
      </div>
      <h1 class="title"></h1>
        <div id="language" style="z-index: 10000;
    position: fixed;
    top: 6px;
    right: 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
    line-height: 24px;" ng-click="changeLauguage()">{{EN?'中':'En'}}</div>
      <div class="time-off-sub-header" align="center">
          <div style="height: 70px;">
            <img ng-src="{{cardDetail.pic_url}}" class="header-image">
          </div>
          <div style="margin-top:15px;font-size:15px;color: #fff;">{{EN?cardDetail.name_en:cardDetail.name}}</div>
          <div style="margin-top:10px;font-size:15px;color: #fff">{{EN?cardDetail.job_en:cardDetail.job}}</div>
          <div style="font-size:15px;color: #fff">{{EN?companyInfo.name_en:companyInfo.name}}</div>
      </div>
    </div>
  </div>
  <ion-content class="time-off-content content-style">
    <div align="center">
      <div style="background: #fff;">

      <div>
      <div class="row font-left">
        <div class="col col-10">
          <img src="build/img/myInfo/card/myphone.png" style="width: 20px;">
        </div>
        <div class="col col-20 col-center">{{EN?ENdata.phone:"手机"}}</div>
        <div class="col col-70  col-center" href="tel:{{cardDetail.phone}}">{{cardDetail.phone}}</div>
      </div>
      <div class="row font-left" style="text-align:left;">
        <div class="col col-10">
          <img src="build/img/myInfo/card/email.png" style="width: 20px;">
        </div>
        <div class="col col-20 col-center">{{EN?ENdata.email:"邮箱"}}</div>
        <div class="col col-70 col-center">{{cardDetail.email}}</div>
      </div>
      <div class="row font-left" style="text-align:left;">
        <div class="col col-10">
          <img src="build/img/myInfo/card/address.png" style="width: 20px;">
        </div>
        <div class="col col-20 col-center">{{EN?ENdata.address:"地址"}}</div>
        <div class="col col-70 col-center">{{EN?companyInfo.address_en:companyInfo.address}}</div>
      </div>
      <div class="row font-left" style="text-align:left;">
        <div class="col col-10 col-center">
          <img src="build/img/myInfo/card/telephone.png" style="width: 20px;">
        </div>
        <div class="col col-20 col-center">{{EN?ENdata.telephone:"座机"}}</div>
        <div class="col col-70 col-center" >{{cardDetail.telephone}}</div>
      </div>
      </div>
    </div>
      <div class="card-item" id="company">
        <div class="float-80">{{EN?companyInfo.name_en:companyInfo.name}}</div>
        <div class="float-10">
          <img  id="arrow" src="build/img/myInfo/card/arrow.png" style="width:20px;">
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar>
    <div class="submit-left" ng-click="ORCode(cardDetail)">{{EN?ENdata.CDcard:"二维码"}}</div>
    <div class="submit-right" ng-click="shareMyCard(cardDetail)">{{EN?ENdata.share:"分享"}}</div>
  </ion-footer-bar>
</ion-view>
<style>

</style>
