.plans-detail {
  .info-item {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid rgba(226, 227, 228, 0.6);
  }

  .info-item-name {
    font-size: 16px;
  }

  .required:after {
    content: '  *';
    color: #fe9073;
  }

  ion-footer-bar {
    padding: 0;
    color: #666666;
    height: 60px;
  }

  .sifting-item {
    &.select-item {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      font-size: 16px;
      div {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        img {
          position: static;
          width: 20px;
          height: 20px;
          margin-right: 2vw;
          vertical-align: middle;
        }
      }
    }
  }
  .info-item-con div {
    width: 100%;
  }

  .info-item-con img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .info-item-con {
    /*  color: #AAAAAA;*/
    text-align: right;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-wrap {
    width: 100%;
    height: 100%;
    /* margin-top: 32px; */
    margin-top: 3px;
    .button-confirm {
      float: left;
      width: 39%;
      height: 44px;
      line-height: 44px;
      text-align: center;
      div {
        margin: 5px;
        border-radius: 30px;
        background: #32A4EC;
        color: #ffffff;
        img {
          width: 20px;
          position: relative;
          top: 4px;
          right: 5px;
        }
      }
    }
    .button-confirm2 {
      width: 90%;
      height: 44px;
      line-height: 44px;
      text-align: center;
      margin-left: 5%;
      div {
        margin: 5px;
        border-radius: 30px;
        background: #32A4EC;
        color: #ffffff;
        img {
          width: 20px;
          position: relative;
          top: 4px;
          right: 5px;
        }
      }
    }
    .footer-button {
      float: left;
      width: 55%;
      height: 44px;
      margin-left: 3%;
      line-height: 44px;
      text-align: center;
      div {
        margin: 5px;
        border-radius: 30px;
        background: #E6F4FD;
      }
    }
  }
  .comment-title {
    text-align: right;
    position: relative;
    color: #bfbfbf;
    width: 92%;
    padding-right: 5px;
    font-size:13px;
    img {
      width: 18px;
      height: 16px;
      position: absolute;
      top: 0px;
      right: -20px;
    }
  }
  .comment-text{
    margin: 2px 10px 5px 15px;
    color: #666666;
    background: #f2f2f2;
    padding:5px 5px 5px 5px;
    i {
      color: #00a5ee;
    }
  }
  .holdFooter {
    bottom: 110px;
    background:none;
    z-index: 1000;
    .wave-hold {
      width: 30%;
      float: left;
      height: 40px;
      display: table;
      div {
        vertical-align: middle;
        display: table-cell;
        height: 40px;
        width: 60px;
        text-align: center;
      }
      img {
        width: 60px;
      }
    }
    .wave-text {
      width: 40%;
      float: left;
      height: 40px;
      display: table;
      div {
        color: #666;
        vertical-align: middle;
        display: table-cell;
        height: 40px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .common-voice {
    float: left;
    width: 10%;
    display: table;
    div {
      vertical-align: middle;
      display: table-cell;
      height: 40px;
      width: 20px;
      text-align: center;
    }
    img {
      width: 20px;
      position: absolute;
      bottom: 12px;
      left: 10px;
    }
  }
  .common-content {
    float: left;
    width: 80%;
    max-height: 110px;
    textarea {
      overflow-y: visible;
      width: 100%;
      word-break: break-all;
      border: 1px solid #ddd;
      border-radius: 5px;
      max-height: 100px;
    }
  }
  .common-submit {
    float: left;
    width: 10%;
    display: table;
    div {
      vertical-align: middle;
      display: table-cell;
      position: absolute;
      bottom: 12px;
      right: 5px;
    }
  }
}
