.flyback-detail-view{
	.fb-area-title {
    background-color: white;
    margin-bottom: 10px;
    background-color: slategray;
    color: white;
  }

  .fb-area {
    background-color: white;
    margin-bottom: 10px;
  }

  .fb-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 6px 0 5px 16px;
  }

  .fb-input-label {
    width: 13%;
    font-size: 20px;
    color: #687F87;
  }

  .fb-input-label1 {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 13%;
    font-size: 20px;
    color: #687F87;
  }

  .fb-input-label2 {
    display: table;
    padding: 7px 0px 7px 0px;
    max-width: 200px;
    width: 15%;
    font-size: 14px;
    color: #555555;
  }

  .fb-item-input input {
    width: 100%;
    height: 100%;
    /*margin-left: -6px;*/
    color: #979797;
    background: none;
    border: none;
  }

  .fb-item-select .fb-select1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 48px 8px 0px;
    border: none;
    background: #fff;
    color: #333;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    margin-left: -3px;
  }

  .fb-item-input2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px;
    border-bottom: #e5e5e5 1px solid;
    /*border-radius: 20px;*/
  }

  .fb-submit-button {
    width: 90%;
    margin-left: 5%;
    height: 25px;
  }

  .fb-checkbox {
    font-size: 18px;
    padding-right: 15px;
    color: #11c1f3;
  }

  .fb-span {
    padding: 0px 5px;
    font-size: 14px;
    color: #000000;
  }

  .fb-modal-list {
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    padding-left: 8px;
    border-bottom: #e5e5e5 1px solid;
  }

  .fbSeparator {
    width: 1px;
    background-color: #e5e5e5;
    opacity: 0.5;
    height: 25px;
    margin-top: 10px;
    float: left;
  }
}

.flyback-detail-select-model{
  .ion-ios-arrow-back{
    color:#aaaaaa;
    font-size: 20px;
    margin-right: 3px;
  }
  .xbr-flag-b{
      text-align: center;
  }
}
.flyback-detail-view{
  ion-content{
    background-color: #ececec;
    .ion-ios-calendar-outline{
      font-size:20px; color: white;text-overflow:ellipsis;
    }
    .fb-item-select.a{
      width:80%;
      input{
        background: none;
        font-size: 13px;
      }
    }
    .xbr-arrow{
      position: fixed;
      width:60px;
      height:20px;
      padding-left:16px;
      margin-top: -12px;
      background-color: #FFFFFF;
      color:#FFFFFF;
      img{
        height: 20px;
      }
    }
    .xbr-more-info{
      height:40px;
      line-height: 40px;
      color:#878787;
      text-align:center;
      font-size:14px;
      margin-top: -8px;
    }
    .fb-area.xbr1{
      label:nth-child(1){
        background: none;
        font-size: 13px;
        margin-left:10px;
      }
      label:nth-child(2){
        input{
          background: none;
          font-size: 13px;
          margin-left:10px;
        }
      }
      label:nth-child(3){
        input{
          background: none;
          font-size: 13px;
          margin-left:10px;
        }
      }
    }
    .fb-item-input2.xbr2-other{
        #ticketonly{
          margin-left:14px
        }
    }
    .fb-area.xbr3{
      textarea{
        width:100%;
      }
    }
    .xbr4{
      background-color: #5B607A;
      colog:#FFFFFF;
      border:none;
      height:45px;
      line-height:45px;
      button{
        width:100%;
        float:left;
        height:45px;
        line-height:45px;
      }
    }
    .ion-ios-location{
        color: #11c1f3;
      }
      .ion-flag{
        color:#ff3b30;
      }
      .text-input--underbar.width-full{
        width: 100%
      }
  }
}