<ion-view view-title="应用" class="application">
  <ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title">应用</h1>
    <!--<div class="buttons">
      <button class="button button-clear" style="font-size: 26px" ng-click="openSetting()">
        <i class="ion-ios-gear-outline"></i>
      </button>
    </div>-->
    <div class="buttons">
      <button class="button button-clear" style="font-size: 16px" ng-click="freshMenuList()">
        刷新
      </button>
    </div>

  </ion-header-bar>
  <ion-content class="mainApplication" style="bottom:48px;" scrollbar-y="false">
    <div on-release="onRelease()" class="application-setting-outer"
         ng-show="animationsEnabled">
    </div>
    <div class="application-setting" ng-if="animationsEnabled">
      <div class="setup">
        <ion-item class="setup-panel">
          <div class="row setup-panel-row1">
            <label class="setup-label">Timesheet滑动填写</label>
          </div>
          <div class="ts-toggle-position">
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-checked="slippingEnableFlag" ng-click="changeSlippingSetting()">
              <div class="track setup-track">
                <div class="handle setup-handle"></div>
              </div>
            </label>
          </div>
        </ion-item>
      </div>
    </div>
    <div class="application-outer">
      <div class="hms-animated application-left" ng-class="{true: 'start', false: ''}[animationsEnabled]">
        <!--<div class="appRegion">
          <div class="appAreaBorder">
            <div class="appTitle office">CRM</div>
          </div>
          <div class="appArea" ng-repeat="appList in manageApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==0||$index==1"
                 ng-click="goPage(appItem)">
              <div class="appItem">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>-->
        <div class="appRegion">
          <div class="appTitle office">个人办公</div>
          <div class="appArea" ng-repeat="appList in officeApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==0||$index==1">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <div class="app-extra" ng-if="appItem.hasWorkflowNum&&!fetchWorkflowData&&appItem.count!=0"
                       ng-bind="appItem.count">
                  </div>
                  <div ng-if="appItem.hasWorkflowNum&&fetchWorkflowData" class="app-extra-refresh">
                    <ion-spinner icon="ios" class="spinner spinner-ios"></ion-spinner>
                  </div>
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>

        <div class="appRegion">
          <div class="appTitle project">项目门户</div>
          <div class="appArea" ng-repeat="appList in projectApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==0||$index==1">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>

        <div class="appRegion">
          <div class="appTitle employee">员工社区</div>
          <div class="appArea" ng-repeat="appList in employeeApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==0||$index==1">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="hms-animated application-right" ng-class="{true: 'start', false: ''}[animationsEnabled]">
        <!--<div class="appRegion">
          <div class="appTitle"></div>
          <div class="appArea" ng-repeat="appList in manageApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==2||$index==3">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>-->
        <!--<div class="appRegion">
          <div class="appTitle"></div>
          <div class="appArea" ng-repeat="appList in manageApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==2||$index==3"
                 ng-click="goPage(appItem)">
              <div class="appItem">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>-->
        <div class="appRegion">
          <div class="appTitle"></div>
          <div class="appArea" ng-repeat="appList in officeApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==2||$index==3">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <div class="app-extra" ng-if="appItem.hasWorkflowNum&&!fetchWorkflowData&&appItem.count!=0"
                       ng-bind="appItem.count">
                  </div>
                  <div ng-if="appItem.hasWorkflowNum&&fetchWorkflowData" class="app-extra-refresh">
                    <ion-spinner icon="ios" class="spinner spinner-ios"></ion-spinner>
                  </div>
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>

        <div class="appRegion">
          <div class="appTitle"></div>
          <div class="appArea" ng-repeat="appList in projectApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==2||$index==3">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>

        <div class="appRegion">
          <div class="appTitle"></div>
          <div class="appArea" ng-repeat="appList in employeeApp">
            <div class="appList" ng-repeat="appItem in appList.list" ng-if="$index==2||$index==3">
              <div class="appItem" ng-click="goPage(appItem)">
                <div class="app-item-content">
                  <img ng-src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
                </div>
              </div>
              <div class="appText">{{appItem.appName}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
