<ion-view view-title="应用" class="hrms-pancel-corlor">
  <ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title">应用</h1>
    <div class="buttons">
      <button class="button" ng-click="$ionicGoBack">反馈</button>
    </div>
  </ion-header-bar>
  <ion-content class="mainApplication">
    <div class="appRegion">
      <div class="appTitle office">个人办公</div>
      <div class="appArea">
        <div class="appList" ng-repeat="appItem in officeApp">
          <div class="appItem" ng-click="goPage(appItem)">
            <img src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
          </div>
          <div class="appText">{{appItem.appName}}</div>
        </div>
      </div>
    </div>

    <div class="appRegion">
      <div class="appTitle project">项目门户</div>
      <div class="appArea">
        <div class="appList" ng-repeat="appItem in projectApp">
          <div class="appItem" ng-click="goPage(appItem)">
            <img src="{{appItem.imageUrl}}" ng-if="appItem.imageUrl!=''"/>
          </div>
          <div class="appText">{{appItem.appName}}</div>
        </div>
      </div>
    </div>

    <div class="appRegion">
      <div class="appTitle employee">员工社区</div>
      <div class="appArea">
        <div class="appList" ng-repeat="appItem in employeeApp">
          <div class="appItem" ng-click="goPage(appItem)">
            <img src="{{appItem.imageUrl}}"/>
          </div>
          <div class="appText">{{appItem.appName}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
