$applicationColor:  white !default;

.mainApplication{
  .header{
    background: $applicationColor;
  }

  .appRegion{

    .appTitle{

    }
    .appArea{

      .appList{
        height: 150px;
        width: 100%;
        .appItem{
          width: 25%;
          float: left;
          img{
            height: 100px;
            width: 100px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

    }
  }
}
