<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hand.calendar">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"
        />
    <application>
      <activity
        android:name="com.hand.calendar.timessquare.CalendarActivity"
        android:launchMode="singleTop" />
    </application>

</manifest>
