<ion-view class="resources-detail-person" >
  <div class="row common-head">
    <button class="button button-clear back-button" style="color: #0d3349;z-index: 999" ng-click="goBackPage()">
      <i class="ion-ios-arrow-back"></i>
      <span class="back-text">返回</span>
    </button>

  </div>

  <div id="next-slide">
    <div class="person-top">
      <div  class="person-head-image" style="background: url('build/img/application/resources-query/3.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
      </div>
      <div class="person-info">
        <div class="img-section">
          <img class="img-person" ng-cloak ng-src="{{empInfo.avatar}}"/>
          <p class="person-name">{{empInfo.name}}&nbsp;&nbsp;{{empInfo.employee_number}}</p>
        </div>
        <div class="person-subject">
          <div class="subject-item" ng-repeat="subject in subject">
            <div class="subject-item-circle" style="background: {{subject.color}}"></div>
            <div class="subject-item-name">{{subject.project_name}}</div>
          </div>
        </div>
        <div class="person-bottom row">
          <div class="person-bottom-left col-40" ng-click="goLastPerson()">
            <span class="person-left-span ion-ios-arrow-left"></span>
            <div class="person-left-name">顾森林 3705</div>
          </div>
          <div class="col-20">
            <div class="person-triangle"></div>
          </div>
          <div class="person-bottom-right col-40" ng-click="goNextPerson()">
            <span class="person-right-span ion-ios-arrow-right"></span>
            <div class="person-right-name">顾森林 4404</div>
          </div>
        </div>
      </div>
    </div>
    <div class="person-top">
      <div class="person-head-image" style="background: url('build/img/application/resources-query/3.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
      </div>
      <div class="person-info">
        <div class="img-section">
          <img class="img-person" ng-cloak ng-src="{{empInfo.avatar}}"/>
          <p class="person-name">{{empInfo.name}}&nbsp;&nbsp;{{empInfo.employee_number}}</p>
        </div>
        <div class="person-subject">
          <div class="subject-item" ng-repeat="subject in subject">
            <div class="subject-item-circle" style="background: {{subject.color}}"></div>
            <div class="subject-item-name">{{subject.project_name}}</div>
          </div>
        </div>
        <div class="person-bottom row">
          <div class="person-bottom-left col-40" ng-click="goLastPerson()">
            <span class="person-left-span ion-ios-arrow-left"></span>
            <div class="person-left-name">顾森林 3705</div>
          </div>
          <div class="col-20">
            <div class="person-triangle"></div>
          </div>
          <div class="person-bottom-right col-40" ng-click="goNextPerson()">
            <span class="person-right-span ion-ios-arrow-right"></span>
            <div class="person-right-name">顾森林 4404</div>
          </div>
        </div>
      </div>
    </div>
    <div class="person-top">
      <div  class="person-head-image" style="background: url('build/img/application/resources-query/3.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
      </div>
      <div class="person-info">
        <div class="img-section">
          <img class="img-person" ng-cloak ng-src="{{empInfo.avatar}}"/>
          <p class="person-name">{{empInfo.name}}&nbsp;&nbsp;{{empInfo.employee_number}}</p>
        </div>
        <div class="person-subject">
          <div class="subject-item" ng-repeat="subject in subject">
            <div class="subject-item-circle" style="background: {{subject.color}}"></div>
            <div class="subject-item-name">{{subject.project_name}}</div>
          </div>
        </div>
        <div class="person-bottom row">
          <div class="person-bottom-left col-40" ng-click="goLastPerson()">
            <span class="person-left-span ion-ios-arrow-left"></span>
            <div class="person-left-name">顾森林 3705</div>
          </div>
          <div class="col-20">
            <div class="person-triangle"></div>
          </div>
          <div class="person-bottom-right col-40" ng-click="goNextPerson()">
            <span class="person-right-span ion-ios-arrow-right"></span>
            <div class="person-right-name">顾森林 4404</div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--<div class="employee-name" ng-cloak>-->
  <!--{{employeeInfo.emp_name}} {{employeeInfo.emp_code}}-->
  <!--</div>-->
  <ion-content class="person-content">
    <!--<hms-loading ng-if="contactLoading" style="padding-top: 30px"></hms-loading>-->
    <div class="calendar-month">
      <span class="arrow ion-ios-arrow-left" ng-click="lastMonth()"></span>
      <span class="word-font">{{currentYear}}</span>
      <span class="word-font">{{currentEnglishMonth}} {{currentMonth}}月</span>
      <span class="arrow ion-ios-arrow-right" ng-click="nextMonth()"></span>
    </div>
    <div class="calendar-day">
      <div class="calendar-title">
        <div class="title-item" ng-repeat="title in weekTitleList">
          {{title}}
        </div>
      </div>
      <div class="calendar-each-week">
        <!--<div class="calendar-week" ng-repeat="week in calendar">-->
          <!--<a class="day-item" ng-repeat="day in week.list">-->
            <!--<div  ng-class="{'each-day-blank':su, 'each-day-purple':day.isSubject,-->
            <!--'each-day-green':day.isHoliday, 'each-day-red':subjec}">{{day.day}}</div>-->
          <!--</a>-->
        <!--</div>-->


        <a class="day-item" ng-repeat="day in calendarDayList">
          <div class="each-day-blank" ng-class="{'each-day-purple':day.isSubject1,
          'each-day-green':day.isHoliday, 'each-day-red':day.isSubject2}">{{day.day}}</div>
        </a>

      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="foot-bar" style="bottom: 0px;">
    <div class="button-list" ng-click="filterWorkFlowInfo()"></div>
  </ion-footer-bar>


</ion-view>
