<ion-view class="resources-detail-branch">
  <ion-header-bar align-title="center" ng-class="{'bar-stable blur-back':descriptionAppearance,'bar-stable clear-back':!descriptionAppearance}">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title"><input type="text" class="title-input" disabled ng-model="branchName"></h1>
    <div class="buttons">
      <button class="button-small button-clear button-list" ng-click="toggleQuery()">

      </button>
    </div>
  </ion-header-bar>


  <ion-content class="person-content">
    <hms-loading ng-if="contactLoading" style="padding-top: 30px"></hms-loading>
    <ion-slide-box id="branch-slide" delegate-handle="branch-handle" active-slide="monthIndex" on-slide-changed="monthChanged($index)">
      <ion-slide  ng-repeat="x in branchResourceList">
        <div class="calendar-month">
          <span class="arrow ion-ios-arrow-left" ></span>
          <span class="word-font">{{x.record_date}}</span>
          <span class="word-font"></span>
          <span class="arrow ion-ios-arrow-right" ></span>
        </div>
        <div class="calendar-subject">
          <div class=""></div>
        </div>
        <div class="calendar-branch" ng-repeat="y in x.timesheet_details">
          <div class="calendar-day">
            <div class="calendar-title">
              {{y.employee_name}}&nbsp;&nbsp;{{y.employee_number}}
            </div>
            <div class="calendar-each-week">
              <!--<div class="calendar-week" ng-repeat="week in calendar">-->
                <!--<a class="{{day.style_color}}" ng-repeat="day in week.list">-->
                  <!--<div class="{{day.style_outline}}">{{day.day}}</div>-->
                <!--</a>-->
              <!--</div>-->
              <a class="day-item" ng-repeat="day in y.resource_details">
                <div class="each-day" ng-cloak >
                  <span class="day-border" ng-class="{true:'border-red',false:'border-green'}[day.is_holiday]">{{day.record_date.substring(8,10)}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!--<ion-infinite-scroll on-infinite="loadMore()"-->
                             <!--ng-if="showInfinite"-->
                             <!--immediate-check="false"-->
                             <!--distance="0.5%">-->
        <!--</ion-infinite-scroll>-->
      </ion-slide>
    </ion-slide-box>



  </ion-content>

  <!--<ion-footer-bar class="foot-bar" style="bottom: 0px;">-->
    <!--<div class="foot-circle" style="border-color: green"></div>-->
    <!--<div class="foot-word">有项目</div>-->
    <!--<div class="foot-circle" style="border-color: gray"></div>-->
    <!--<div class="foot-word">无项目</div>-->
    <!--<div class="foot-circle" style="border-color: red"></div>-->
    <!--<div class="foot-word" >法定节假日</div>-->
    <!--<div class="button-list" ng-click="filterWorkFlowInfo()"></div>-->
  <!--</ion-footer-bar>-->


</ion-view>