<ion-view view-title="待办事项明细" class="workflow-detail">
  <ion-header-bar align-title="center" style="background:none">
    <div class="buttons">
      <button ng-if="showBackbtn" class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title" style="color: white">待办事项明细</h1>
    <div class="buttons" ng-if="!isWeixinWebview && !myPrsonalApplicationFlag">
      <button class="button button-clear" ng-click="goEmployeeDetail()">
        <i class="ion-chatbubble-working" style="color: white;font-size: 30px"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content ng-class="{'true':'detail-has-footer'}[workflowActionShowFlag]" delegate-handle="workflowDetailHandle">

    <!--工作流历史记录-->
    <div class="hms-workflow-history" ng-if="historyList.length>0">
      <div class="history-slide">
        <i class="ion-ios-arrow-right"></i>
      </div>
      <div style="margin-top: 48px;width:100%; position: absolute; border-bottom: 1px solid #FAFAFA;"></div>
      <div class="history-content">
        <ion-scroll ng-style="workflowDetailScroll" direction="x" scrollbar-x="false" scrollbar-y="false"
                    style="height: 136px">
          <div ng-style="workflowDetailHistoryWidth" style="height: 136px;">
            <div class="history-item" ng-repeat="history in historyList">
              <div class="history-item-time-line" ng-bind="history.creation_date">
              </div>
              <div class="history-item-node-icon">
                <img src="build/img/workflow/process-O@2x.png"/>
              </div>
              <div class="history-item-node-name" ng-bind="history.node_name">
              </div>
              <div class="history-item-employee" ng-bind="history.name">
              </div>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>


    <div class="hms-hide-content" ng-if="LoadingPushData || LoadingModalData">
      <hms-loading></hms-loading>
    </div>

    <div ng-if="!LoadingPushData&&!LoadingModalData">

      <!--合同续签方式维护方式-->
      <div class="hms-workflow-array" ng-if="showList.contractRenewShowFlag">
        <div class="hms-singal-array-header">
          <div class="hms-singal-array-name">
            <i class="ion-record"></i>合同续签方式维护通知
          </div>
          <div class="hms-singal-array-operation-text" ng-click="renewContractUtil.submit()" ng-if="!processedFlag">
            保存
          </div>
        </div>
        <div class="hms-singal-array-content">
          <div class="hms-singal-array-line" ng-click="renewContractUtil.showDataList()">
            <div class="hms-singal-array-key">
              续签方式
            </div>
            <div class="hms-singal-array-value" ng-bind="renewContract.method">
            </div>
          </div>
          <div class="hms-singal-array-line">
            <div class="hms-singal-array-key">
              续签地址
            </div>
            <div class="hms-singal-array-value" ng-bind="renewContract.address" ng-if="!renewContractEditable">
            </div>
            <input class="hms-singal-array-value" placeholder="请填写邮寄地址"
                   ng-model="renewContract.address" ng-if="renewContractEditable" style="height: 22px;border:0;">
            </input>
          </div>
        </div>
      </div>

      <!--转正申请-->
      <div class="hms-workflow-array" ng-if="showList.applicationFullMemberShowFlag">
        <div class="hms-singal-array-header">
          <div class="hms-singal-array-name">
            <i class="ion-record"></i>转正信息
          </div>
          <div class="hms-singal-array-operation"
               ng-click="workflowDetailUtil.showContent(applicationEmployeeDetail,$event)">
            <i
              ng-class="{'true':'ion-ios-minus-outline','false':'ion-ios-plus-outline'}[applicationEmployeeDetail.showFlag]"></i>
          </div>
        </div>
        <div ng-if="applicationEmployeeDetail.showFlag">
          <div class="hms-singal-array-content">
            <div class="hms-singal-array-line" ng-click="showDataList()">
              <div class="hms-singal-array-key">
                申请者
              </div>
              <div class="hms-singal-array-value" ng-bind="applicationEmployeeDetail.applier">
              </div>
            </div>
            <div class="hms-singal-array-line" ng-click="openPositionModal()">
              <div class="hms-singal-array-key">
                转正职位
              </div>
              <div class="hms-singal-array-value" ng-bind="applicationEmployeeDetail.position">
              </div>
            </div>
            <div class="hms-singal-array-line" ng-click="applicationFullMemberUtil.showDate()">
              <div class="hms-singal-array-key">
                转正日期
              </div>
              <div bg-if="!isWeixinWebview" class="hms-singal-array-value" ng-bind="applicationEmployeeDetail.trial_date">
              </div>
              <input bg-if="isWeixinWebview" type="date" class="hms-singal-array-value"
              ng-style="inputIosStyle()" style="height:19px;padding:0px;" ng-model="applicationEmployeeDetail.inputDate"
              ng-focus="applicationFullMemberUtil.inputDateStart()" ng-change="applicationFullMemberUtil.inputDateIng()" ng-blur="applicationFullMemberUtil.inputDateEnd()"/>
            </div>
            <div class="hms-singal-array-line">
              <div class="hms-singal-array-key">
                转正意见
              </div>
              <div class="hms-singal-array-value">
                <a class="application-member-opioion"
                   ng-class="{'true':'selected'}[applicationEmployeeType.agree.selected]"
                   ng-click="applicationFullMemberUtil.changeType(applicationEmployeeType.agree,'agree')">同意</a>
                <a class="application-member-opioion"
                   ng-class="{'true':'selected'}[applicationEmployeeType.reject.selected]"
                   ng-click="applicationFullMemberUtil.changeType(applicationEmployeeType.reject,'reject')">不同意</a>
                <a class="application-member-opioion"
                   ng-class="{'true':'selected'}[applicationEmployeeType.notChange.selected]"
                   ng-click="applicationFullMemberUtil.changeType(applicationEmployeeType.notChange,'notChange')">试用中</a>
              </div>
            </div>
          </div>
          <a class="hms-application-member-button" ng-if="workflowActionShowFlag"
             ng-click="applicationFullMemberUtil.savePositiveBlock1(applicationEmployeeDetail,applicationEmployeeType)">保存</a>
          <div class="hms-singal-array-sub-header">
            <div class="hms-singal-array-name">
              试用期信息
            </div>
          </div>
          <div class="hms-singal-array-content">
            <div class="hms-singal-array-line" ng-repeat="info in applicationEmployeeInfo">
              <div class="hms-singal-array-key" ng-bind="info.item_name">
              </div>
              <div class="hms-singal-array-value" ng-bind="info.item_value">
              </div>
            </div>
          </div>
          <div ng-if="!workflowActionShowFlag || currentDetail.nodeId==10031">
            <div class="hms-singal-array-sub-header">
              <div class="hms-singal-array-name">
                考评结果
              </div>
            </div>
            <div class="hms-singal-array-content">
              <div class="hms-singal-array-line" ng-repeat="ability in applicationEmployeeAbility"
                   ng-click="applicationFullMemberUtil.showEmployeeGrade(ability)">
                <div class="hms-singal-array-key" ng-bind="ability.element_name">
                </div>
                <div class="hms-singal-array-value" ng-bind="ability.element_desc">
                </div>
              </div>
            </div>
            <a class="hms-application-member-button" ng-if="workflowActionShowFlag"
               ng-click="applicationFullMemberUtil.saveAbility(applicationEmployeeAbility)">保存</a>
          </div>
          <div class="hms-singal-array-sub-header">
            <div class="hms-singal-array-name">
              试用期总结
            </div>
          </div>
          <div class="hms-singal-array-content" ng-repeat="trial in applicationEmployeeTrial">
            <div class="hms-singal-array-textarea-line">
              <div class="hms-singal-array-textarea-key" ng-bind="trial.field_name">
              </div>
              <div class="hms-singal-array-textarea-value" ng-if="trial.can_update==0" ng-bind="trial.field_value">
              </div>
              <textarea ng-model="trial.field_value" ng-if="trial.can_update==1"></textarea>
            </div>
          </div>
          <a class="hms-application-member-button" ng-if="workflowActionShowFlag"
             ng-click="applicationFullMemberUtil.saveTrailResult(applicationEmployeeTrial)">保存</a>
        </div>
      </div>

      <!--一维数组-->
      <div class="hms-workflow-array" ng-repeat="array in singalArrayList">
        <div class="hms-singal-array-header">
          <div class="hms-singal-array-name">
            <i class="ion-record"></i>{{array.detail_title}}
          </div>
          <div class="hms-singal-array-operation" ng-click="workflowDetailUtil.showContent(array,$event)">
            <i ng-class="{'true':'ion-ios-minus-outline','false':'ion-ios-plus-outline'}[array.showFlag]"></i>
          </div>
        </div>
        <div class="hms-singal-array-content" ng-if="array.showFlag">
          <div class="hms-singal-array-line" ng-repeat="arrayItem in array.detail" ng-if="true">
            <div class="hms-singal-array-key" ng-bind="arrayItem.item_name">
            </div>
            <div class="hms-singal-array-value" ng-if="arrayItem.item_name.substring(0,2) == '附件'"
                 ng-click="workflowDetailUtil.goUrl(arrayItem.item_value)">
              <i class="ion-android-attach"></i>
            </div>
            <div class="hms-singal-array-value" ng-bind="arrayItem.item_value"
                 ng-if="arrayItem.item_name.substring(0,2) != '附件'">
            </div>
          </div>
        </div>
      </div>

      <!--多维数组-->
      <div class="hms-workflow-array" ng-repeat="array in multipleLine" ng-if="!multpleLine.editAble">
        <div class="hms-multiple-array-header">
          <div class="hms-singal-array-name">
            <i class="ion-record"></i>{{array.title}}
          </div>
        </div>
        <div class="hms-multiple-array-sub-header">
          <div class="hms-singal-array-link">
            <a class="hms-array-selector">共{{array.arrayList.length}}条</a>
            <a class="hms-array-selector" ng-click="workflowDetailUtil.toBack(array)"
               ng-class="{'true':'no-activated'}[array.currentPage==1]">上一条</a>
            <a class="hms-array-selector" ng-click="workflowDetailUtil.goForward(array)"
               ng-class="{'true':'no-activated'}[array.currentPage==array.arrayList.length]">下一条</a>
          </div>
          <div class="hms-singal-array-operation" ng-click="workflowDetailUtil.showContent(array,$event)">
            <i ng-class="{'true':'ion-ios-minus-outline','false':'ion-ios-plus-outline'}[array.showFlag]"></i>

          </div>
        </div>
        <div class="hms-singal-array-content" ng-if="array.showFlag">
          <div class="hms-singal-array-line" ng-repeat="item in array.currentArray">
            <div class="hms-singal-array-key" ng-bind="item.name">
            </div>
            <div class="hms-singal-array-value" ng-if="item.name.substring(0,2) =='附件'"
                 ng-click="workflowDetailUtil.goUrl(item.value)">
              <i class="ion-android-attach"></i>
            </div>
            <div class="hms-singal-array-value" ng-bind="item.value" ng-if="item.name.substring(0,2) !='附件'">
            </div>
          </div>
        </div>
      </div>

      <!--可以编辑的多维数组-->
      <div class="hms-workflow-array" ng-repeat="array in multipleLine" ng-if="multpleLine.editAble">
        <div class="hms-multiple-array-header">
          <div class="hms-singal-array-name">
            <i class="ion-record"></i>{{array.title}}
          </div>
          <div class="hms-singal-array-operation" ng-click="workflowDetailUtil.saveEditLine(array)">
            <i>保存</i>
          </div>
        </div>
        <div class="hms-multiple-array-sub-header">
          <div class="hms-singal-array-link">
            <a class="hms-array-selector">共{{array.arrayList.length}}条</a>
            <a class="hms-array-selector" ng-click="workflowDetailUtil.toBackEdit(array)"
               ng-class="{'true':'no-activated'}[array.currentPage==1]">上一条</a>
            <a class="hms-array-selector" ng-click="workflowDetailUtil.goForwardEdit(array)"
               ng-class="{'true':'no-activated'}[array.currentPage==array.arrayList.length]">下一条</a>
          </div>
          <div class="hms-singal-array-operation" ng-click="workflowDetailUtil.showContent(array,$event)">
            <i ng-class="{'true':'ion-ios-minus-outline','false':'ion-ios-plus-outline'}[array.showFlag]"></i>
          </div>
        </div>

        <div class="hms-singal-array-content" ng-if="array.showFlag">
          <div class="hms-singal-array-line" ng-repeat="item in array.currentArray.array">
            <div class="hms-singal-array-key" ng-bind="item.name">
            </div>
            <div class="hms-singal-array-value" ng-if="item.name.substring(0,2) =='附件'"
                 ng-click="workflowDetailUtil.goUrl(item.value)">
              <i class="ion-android-attach"></i>
            </div>
            <div class="hms-singal-array-value" ng-if="item.name.substring(0,2) !='附件'">
              <div ng-if="item.canUpdate=='N'">{{item.value}}</div>

              <div ng-if="item.canUpdate=='Y' && item.type=='input'"
                   class="text-overflow-ellipsis"
                   ng-click="workflowDetailUtil.showInputFieldScreen(item.name,item)">
                <i class="ion-compose"></i>&nbsp;{{item.value}}
              </div>
              <div ng-if="item.canUpdate=='Y' && item.type=='lov'" style="min-width: 80px">
                <select ng-model="item.currentValue"
                        ng-class="{'required':item.required=='Y' && item.value ==''}"
                        ng-options="lovOption.name for lovOption in item.lov track by lovOption.value"
                        style="width: 100%;color:#333333;height: 24px;line-height: 20px;font-size: 12px;appearance:none;-webkit-appearance:none;text-align: right">
                </select>
              </div>
              <div ng-if="item.canUpdate=='Y' && item.type=='checkbox'">
                <div ng-model="item.value"
                     ng-class="{'ion-ios-checkmark timesheet-checkbox':item.value =='1',
                                'ion-ios-circle-outline timesheet-checkbox':item.value=='0'||item.value==''|| item.value==null}"
                     ng-click="workflowDetailUtil.checkBoxChange(item,array.currentArray.array)"
                     ng-class="{'required':item.required=='Y' && item.value==''}"
                     style="width: 100%;appearance:none;-webkit-appearance:none">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--新开项目-->
      <div class="hms-workflow-array" ng-if="showList.newOpenProjectShowFlag">
        <div class="hms-singal-array-header">
          <div class="hms-singal-array-name">
            <i class="ion-record"></i>确认信息
          </div>
          <div class="hms-singal-array-operation" ng-click="workflowDetailUtil.showContent(openProjectDetail,$event)">
            <i
              ng-class="{'true':'ion-ios-minus-outline','false':'ion-ios-plus-outline'}[openProjectDetail.showFlag]"></i>
          </div>
        </div>
        <div class="hms-singal-array-content" ng-if="openProjectDetail.showFlag">
          <div class="hms-singal-array-line">
            <div class="hms-singal-array-key">
              合同销售金额
            </div>
            <input class="hms-singal-array-value" placeholder="合同金额"
                   ng-model="openProjectDetail.amount" style="height: 22px; border:0;">
            </input>
          </div>
          <div class="hms-singal-array-line" ng-click="openProjectUtil.openProjectTypeShow()">
            <div class="hms-singal-array-key">
              是否新开项目
            </div>
            <div class="hms-singal-array-value" ng-bind="openProjectDetail.openProjectTypeDesc">
            </div>
          </div>
          <div class="hms-singal-array-line">
            <div class="hms-singal-array-key">
              项目代码
            </div>
            <input class="hms-singal-array-value" placeholder="项目代码" ng-if="openProjectDetail.openNewProjectFlag == '0'"
                   ng-model="openProjectDetail.projectCode" style="height: 22px; border:0;">
            </input>
            <div class="hms-singal-array-value" ng-bind="openProjectDetail.projectCode"
                 ng-click="showOpenProjectModal()"
                 ng-if="openProjectDetail.openNewProjectFlag=='1'">
            </div>
          </div>
          <div class="hms-singal-array-line">
            <div class="hms-singal-array-key">
              项目名称
            </div>
            <input class="hms-singal-array-value" placeholder="项目名称"
                   ng-if="openProjectDetail.openNewProjectFlag =='0'"
                   ng-model="openProjectDetail.projectName" style="height: 22px; border:0;">
            </input>
            <div class="hms-singal-array-value" ng-bind="openProjectDetail.projectName"
                 ng-if="openProjectDetail.openNewProjectFlag=='1'">
            </div>
          </div>
        </div>
        <a class="hms-application-member-button" ng-if="workflowActionShowFlag"
           ng-click="openProjectUtil.saveOpenProject(openProjectDetail)">保存</a>
      </div>
    </div>


    <!-- special code -->
    <div class="hms-workflow-array" ng-if="workflowActionShowFlag && needList">
      <div class="hms-singal-array-header">
        <div class="hms-singal-array-name">
          <i class="ion-record"></i>确认信息
        </div>
      </div>

      <div class="hms-singal-array-content">
        <div class="hms-singal-array-line" ng-repeat="need in needList">
          <div class="hms-singal-array-key" ng-bind="need.title">
          </div>
          <div class="hms-singal-array-value">
            <div ng-if="need.type=='input'">
              <input ng-model="need.value"
                     ng-class="{true:'required',false:''}[need.required=='Y' && need.value=='']"
                     style="width: 100%;color:#333333;height: 24px;text-align: right">
            </div>

            <div ng-if="need.type=='textarea'">
              <textarea ng-model="need.value"
                        ng-class="{true:'required',false:''}[need.required=='Y' && need.value=='']"
                        style="width: 100%;color:#333333;height: 100px;font-size: 12px;border: 1px solid #ccc"></textarea>
            </div>

            <div ng-if="need.type=='lov'">
              <select ng-model="need.lov"
                      ng-options="lovOption.name for lovOption in need.options track by lovOption.value"
                      style="width: 100%;color:#333333;height: 24px;text-align: right;appearance:none;-webkit-appearance:none;">
                <!--<option ng-repeat="lovOption in need.options" value="{{lovOption.value}}">
                  {{lovOption.name}}
                </option>-->
              </select>
            </div>

            <div ng-if="need.type=='datepicker'">
              <ionic-datepicker bg-if="!isWeixinWebview" input-obj="need.datepickerObject">
                <input ng-class="{true:'required',false:''}[need.required=='Y' && need.value=='']"
                       style="width: 100%;color:#333333;height: 24px;text-align: right;background-color: #fff"
                       readonly ng-model="need.datepickerObject.dateModel">
              </ionic-datepicker>
              <input bg-if="isWeixinWebview" type="date" class="hms-singal-array-value"
              ng-style="inputIosStyle()" style="height:19px;padding:0px;" ng-model="applicationEmployeeDetail.inputDate"
              ng-focus="applicationFullMemberUtil.inputDateStart()" ng-change="applicationFullMemberUtil.inputDateIng()" ng-blur="applicationFullMemberUtil.inputDateEnd()"/>
            </div>

            <div ng-if="need.type=='checkbox'">
              <div
                ng-class="{'ion-ios-checkmark timesheet-checkbox':need.value=='1','ion-ios-circle-outline timesheet-checkbox':need.value=='0'||need.value==''||need.value==null}"
                ng-click="checkChange(need)"
                style="margin-left: 10px;height: 40px;line-height:40px;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="hms-application-member-button"
         ng-click="workflowDetailUtil.needSave()">保存</a>

    </div>

    <!--处理意见和转交人-->
    <div class="hms-extra-info" ng-if="workflowActionShowFlag">
      <div class="hms-opinion">
        <input class="" type="text" placeholder="请填写处理意见" ng-model="processExtroInfo.opinion">
        </input>
      </div>
      <div class="hms-transmit" ng-click="workflowDetailUtil.chooseTransmitPerson()">
        <div class="row row-col-no-padding">
          <div class="col col-20 transmit-title row-col-no-padding">
            转交人
          </div>
          <div class="col col-66 transmit-person row-col-no-padding">
            {{processExtroInfo.transmitPerson.name}}
          </div>
          <div class="col col-10 row-col-no-padding">
            <img src="build/img/workflow/select@3x.png"/>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>

  <div class="hms-workflow-submit" ng-if="workflowActionShowFlag">
    <div class="hms-workflow-reject">
      <div class="hms-workflow-reject-content" ng-click="workflowDetailUtil.submitAction(actionType.reject)"
           ng-if="currentDetail.canRefuse=='Y'">
        <span>拒绝</span>
      </div>
    </div>
    <div class="hms-workflow-other">
      <div class="hms-workflow-function" ng-class="{'true':'only'}[currentDetail.canTransmit=='N']">
        <div class="hms-work-transmit" ng-click="workflowDetailUtil.submitAction(actionType.transmit)"
             ng-if="currentDetail.canTransmit=='Y'">
          <img src="build/img/workflow/deliver@3x.png"/>
        </div>
        <div class="hms-work-approve" ng-click="workflowDetailUtil.submitAction(actionType.approve)"
             ng-if="currentDetail.canApprove=='Y'">
          <img src="build/img/workflow/approval2@3x.png"/>
        </div>
      </div>
      <div class="hms-workflow-other-alias" ng-class="{'true':'only'}[currentDetail.canTransmit=='N']">
        <div class="hms-work-transmit-alias" ng-if="currentDetail.canTransmit=='Y'">
          转交
        </div>
        <div class="hms-work-approve-alias" ng-if="currentDetail.canApprove=='Y'">
          审批
        </div>
      </div>
    </div>
    <div class="hms-workflow-back">
      <div class="hms-workflow-back-content" ng-click="workflowDetailUtil.submitAction(actionType.back)">
        <span ng-if="currentDetail.canBackTo=='Y'">退回</span>
      </div>
    </div>
  </div>
</ion-view>


<script id="project-modal.html" type="text/ng-template">

  <style>
    #projectModal .header-search {
      width: 100%;
      height: 3.125rem;
      background-color: #f8f8f8;
      padding: 0.5rem 0.75rem;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

    #projectModal .input-search {
      width: 100%;
      height: 2rem;
      padding: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }

    #projectModal .input-left {
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
      font-size: 1.5rem;
      color: #555;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ccc;
      border-right: none;
      border-radius: 0.375rem 0 0 0.375rem;
    }

    #projectModal .input-right {
      height: 2rem;
      text-align: center;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      border-radius: 0 0.375rem 0.375rem 0;
      padding: 0.25rem;
    }

    #projectModal .font-search {
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 1rem;
      color: #999;
    }

    #projectModal .input-right.active,
    #projectModal .input-right.activated {
      background-color: #eee;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    }

  </style>

  <ion-modal-view id="projectModal" style="top: 0;">
    <ion-header-bar style="background-color: #f8f8f8">
      <button class="button button-clear" ng-click="closeOpenProjectModal()" style="color: #333">返回</button>
      <h1 class="title">合并项目选择</h1>
      <button class="button button-clear" ng-click="clearOpenProjectChoose()" style="color: #333">清选</button>
    </ion-header-bar>
    <ion-content>
      <!--<ion-refresher pulling-text="下拉刷新" on-refresh=""></ion-refresher>-->
      <div class="row header-search">
        <div class="input-left" style="width: 10%;"><i class="ion-ios-search"></i></div>
        <div style="width: 70%;">
          <input class="input-search" placeholder="输入项目代码或名称" ng-model='openProjectDetail.condition'/>
        </div>
        <div class="input-right" style="width: 20%;" ng-click="openProjectSearch()">
          <span class="font-search">查询</span>
        </div>
      </div>
      <ion-list>
        <ion-item style="padding: 0.25rem 0.5rem" ng-repeat="item in projectItems">
          <div class="row" ng-click="openProjectChoose(item)">
            <span style="font-size: 0.875rem;white-space:normal;">({{item.value}}) {{item.name}}</span>
          </div>
        </ion-item>
      </ion-list>
      <!--<ion-infinite-scroll on-infinite="" ng-if="" immediate-check="false"></ion-infinite-scroll>-->
    </ion-content>
  </ion-modal-view>

</script>
