<ion-view view-title="{{page.name}}" class="structure">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <div class="title">
      <div class="title-header">{{page.name}}</div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-click="nextStructure()" style="height: 30px;text-align: center">click me!</div>
  </ion-content>
</ion-view>
