<ion-view view-title="住宿详情" class="dorm-apply-detail-b">
  <div class="tall-header" style="background: url('build/img/application/dorm-apply/dorm-apply-detail-curtain.png');background-size: 100% 100%;background-color: #fafafa">
    <ion-header-bar align-title="center" class="bar-tall-header">
      <div class="buttons">
        <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
          <span class="back-button-text">返回</span>
        </button>
      </div>
      <h1 class="title title-color">住宿详情</h1>
    </ion-header-bar>
    <div class="bar-tall-bottom">
      <div class="row circle-row">
        <div class="col col-33 time-off-col"></div>
        <div class="col col-33 time-off-col">
          <div class="row no-space">
            <div class="dorm-circle-wrap">
              <div class="dorm-hrms-circle">
                <div class="dorm-shelter left">
                  <div id="left_ball" class="dorm-circle dorm-left-circle dorm-apply-style-circle"></div>
                </div>
                <div class="dorm-shelter right">
                  <div id="right_ball" class="dorm-circle dorm-right-circle dorm-apply-style-circle"></div>
                </div>
                <label class="dorm-up-title" style="width: 100%">剩余</label>
                <label class="dorm-center-title dorm-apply-style" style="width: 100%">{{leftDays}}天</label>
              </div>
            </div>
          </div>
          <div class="row circle-label-row1">
            <label class="circle-label">住宿时间</label>
          </div>
          <div class="row circle-label-row2">
            <label class="circle-label">剩余时间：{{leftDays}}天</label>
          </div>
        </div>
        <div class="col col-33 time-off-col"></div>
      </div>
    </div>
  </div>
  <ion-content class="content-style" circle-rotate="dorm-apply,left_ball,right_ball" style="top: 213px">
    <ion-item class="apply-card">
      <div class="row image-row">
        <img src="build/img/application/dorm-apply/back-hand.png" class="figure-image"/>
      </div>
      <label class="roomnum-figure">房间号{{applyInfo.roomNumber}}</label>
      <div class="row card-row" style="margin-top: 10px;">
        <div class="col no-padding-or-margin put-left">
          <label class="left-label">入住时间:</label>
        </div>
        <div class="col no-padding-or-margin put-right">
          <label class="right-label">{{applyInfo.checkinDate}}</label>
        </div>
      </div>
      <div class="row card-row">
        <div class="col no-padding-or-margin put-left">
          <label class="left-label">结束时间:</label>
        </div>
        <div class="col no-padding-or-margin put-right">
          <label class="right-label">{{applyInfo.checkoutDate}}</label>
        </div>
      </div>
      <div class="room-label-shelter">
        <label class="room-label">房间信息</label>
      </div>
      <div class="row card-row" style="margin-top: 5px">
        <div class="col no-padding-or-margin put-left">
          <label class="left-label">申请类型:</label>
        </div>
        <div class="col no-padding-or-margin put-right">
          <label class="right-label">{{applyInfo.applyType}}</label>
        </div>
      </div>
      <div class="row card-row">
        <div class="col no-padding-or-margin put-left">
          <label class="left-label">楼层:</label>
        </div>
        <div class="col no-padding-or-margin put-right">
          <label class="right-label">{{applyInfo.floorNumber}}</label>
        </div>
      </div>
      <div class="row card-row" style="border: none">
        <div class="col no-padding-or-margin put-left">
          <label class="left-label">房间类型:</label>
        </div>
        <div class="col no-padding-or-margin put-right">
          <label class="right-label">{{applyInfo.roomType}}</label>
        </div>
      </div>
      <div class="cut-line"></div>
      <button class="button button-block confirm-button" ng-click="renewContract()">{{buttonText}}</button>
    </ion-item>
    <img src="build/img/application/dorm-apply/big-stamp-checkin.png" class="image-stamp" ng-show="checkIn"/>
    <img src="build/img/application/dorm-apply/big-stamp-checkout.png" class="image-stamp" ng-show="checkOut"/>
  </ion-content>
</ion-view>
