<ion-view view-title="记一笔" hide-tabs="true" class="accounts-view">
   <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons"> 
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div> 
    <h1 class="title">记一笔</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="showHelp()">
        <i class=" icon ion-ios-information-outline"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="accoutlogo">
      <img src="build/img/application/expense/note.png">
    </div>
    <ion-list >
      <ion-item modifier="chevron" class="item-icon-right xbr-ion-item-1" ng-click="openCreatePage()" >
          <div class="list-item-left">
            <i class="ion-compose"></i>
          </div>
          <div class="list-item-right">
            <div class="list-item-content">

              <div class="name">新建记一笔</div>
            </div>
          </div>
          <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item modifier="chevron" class="item-icon-right xbr-ion-item-2"
                ng-click="openAccountListPage()">
            <div class="list-item-left">
              <i class="ion-map"></i>
            </div>
            <div class="list-item-right">
              <div class="list-item-content">
                <div class="name">记一笔查询</div>
              </div>
            </div>
            <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item modifier="chevron" class="item-icon-right xbr-ion-item-3" ng-click="openUploadBatchPage()" >
        <div class="list-item-left">
          <i class="ion-share"></i>

        </div>
        <div class="list-item-right">
          <div class="list-item-content">
            <div class="name">批量上传</div>
          </div>
        </div>

        <i class="icon ion-ios-arrow-right"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
