<ion-view title="记一笔列表" class="attachmentList-view">

     <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons"> 
          <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
            <span class="back-text">返回</span>
          </button>
        </div> 
        <h1 class="title" >记一笔列表</h1>
        <div class="buttons">
        </div>
      </ion-header-bar>

    <ion-content>

        <ion-list>
            <ion-item modifier="chevron" class="list-item-container" ng-click="openCreatePage()">
                <div class="list-item-left">
                    <img src="build/img/application/expense/ionic.png" class="avator">
                </div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="name">新建记一笔</div>
                    </div>
                </div>
            </ion-item>

            <ion-item modifier="chevron" class="list-item-container"
                      ng-click="globalNavigator.pushPage('html/acc/accountList.html', { animation : 'slide' });">
                <div class="list-item-left">
                    <img src="build/img/application/expense/ionic.png" class="avator">
                </div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="name">记一笔查询</div>
                    </div>
                </div>
            </ion-item>
            
            <ion-item modifier="chevron" class="list-item-container" ng-click="openUploadBatchPage()">
                <div class="list-item-left">
                    <img src="build/img/application/expense/ionic.png" class="avator">
                </div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="name">批量上传</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


<ons-page class="xbr-ons-page-flag" ng-controller="photosController" on-device-backbutton="globalNavigator.popPage()">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">记一笔</div>
        <div class="right"><ons-toolbar-button  ng-click="getPhoto()">拍照</ons-toolbar-button></div>
    </ons-toolbar>


    <a class="xbr-flag-a" target="_self" href="{{serverURL}}/atm_download.svc?attachment_id=119&table_name=MOBILE_EXP_REPORT_DETAIL&table_pk_value=42"
       title="handCalendar.css">
        <div>
            <img src="{{serverURL}}/atm_download.svc?attachment_id=117&table_name=EXP_REIMBURSEMENT_LN&table_pk_value=159">hand.jpg
        </div>
    </a>

    <a class="xbr-flag-a" target="_self" href="http://10.211.130.245:8080/bts/atm_download.svc?attachment_id=119&table_name=MOBILE_EXP_REPORT_DETAIL&table_pk_value=42"
       title="handCalendar.css">
        <div >
            <img src="http://10.211.130.245:8080/bts/atm_download.svc?attachment_id=119&table_name=MOBILE_EXP_REPORT_DETAIL&table_pk_value=42">hand.jpg
        </div>
    </a>

    <a class="xbr-flag-a" target="_self" href="http://10.211.130.245:8080/bts/atm_download.svc?attachment_id=117&table_name=EXP_REIMBURSEMENT_LN&table_pk_value=159"
       title="handCalendar.css">
        <div >
            <img src="build/img/application/expense/logo.png">hand.jpg
        </div>
    </a>
</ons-page>
