<ion-view title="选择币种" hide-tabs="true" class="currencyList-view">

  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons"> 
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div> 
    <h1 class="title" >选择币种</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>

  <ion-content>
    <div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="输入币种" ng-model="search">
      </label>
    </div>
    <ion-list class="airport-list">
      <ion-item class="airport list-item-container" modifier="tappable"
                ng-repeat="currency in currencyList | filter:search">
        <div class="row">
          <div class="airport-name col" currencyName="{{currency.currencyName}}"
               currencyCode="{{currency.currencyCode}}"
               exchangeRate="{{currency.exchangeRate}}" ng-click="selectCurrency($event)">
            {{currency.currencyCode}}-{{currency.currencyName}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

