<ion-view titile="图片明细" class="photoDetail-view">

    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons"> 
          <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
            <span class="back-text">返回</span>
          </button>
        </div> 
        <h1 class="title" >图片明细</h1>
        <div class="buttons">
        </div>
      </ion-header-bar>

    <ion-content>
        <div  >
            <img class="xbr-flag-img" ng-src="{{photoPathURL+tempPhoto.photo_name}}">
        </div>




        <div class=" button-area">
            <div class="row">
                <div class="col" width="3px"></div>
                <div class="col">
                    <button class="button button-stable"  ng-click="back()" >返  回</button>
                </div>
                <div class="col" width="1%"></div>
                <div class="col">
                    <buuton class="button button-stable " ng-disabled="!canEdit" ng-click="removePhoto()" >删  除</buuton>
                </div>
                <div class="col" width="3px"></div>
            </div>
        </div>

    </ion-content>




</ion-view>