.plans-add{
  .required:after{
    content: '  *';
    color: #fe9073;
  }
  .row{
    margin:0!important;
    padding-top: 5px!important;
  }
  .row-item{
    border-bottom: 1px solid #AAAAAA
  }
  textarea::-webkit-input-placeholder {padding:0px; font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
  .normal-img{
    width:90px;height:90px;margin-top:15px
  }
  .plan-wrap{
    margin: 0 15px 0 15px;
  }
  .big-img{
    width:100px;height:100px;margin-top:10px
  }
  .sifting-item.select-item{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 16px;
    div{
      display: inline-block;
      height: 50px;
      line-height: 50px;
      img{
        position: static;
        width: 20px;
        height: 20px;
        margin-right: 2vw;
        vertical-align: middle;
      }
    }
  }
  .small_voice{
    float: right;margin-right:20px;
  }
  .small_voice img{
    width: 40px;height: 40px;
  }
  .slideparam {
    font-size: 1.2em;
    text-align: center;
    height: 40px;
    line-height:25px;
    color: #32a4ec;
    border-bottom: 2px solid #32a4ec;
  }
   .slideparamSelect{
     font-size: 1.2em;
     text-align: center;
     color: #666666;
     height: 40px;
     line-height:25px;
     border-bottom: 1px solid #ddd;
   }
   .select-info-item{
     padding-left:6px!important;
     padding-right:40px!important;
   }
  .info-item {
    height: 50px;
    padding-left: 0px;
    padding-right:0px;
    border-bottom: 1px solid rgba(226, 227, 228, 0.6);
  }
  .info-item-name {
    font-size: 16px;
  }

  .info-img {
    width: 22px;
    position: relative;
    top: 2px;
  }

  .info-item-con div {
    width: 100%;
  }

  .info-item-con img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .info-item-con {
    color: #AAAAAA;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-wrap {
    width: 100%;
    height: 100%;
    /* margin-top: 32px; */
    margin-top: 3px;
  }

  .footer-button {
    float: left;
    width: 55%;
    height: 44px;
    margin-left: 3%;
    line-height: 44px;
    text-align: center;
  }

  .footer-button div {
    margin: 5px;
    border-radius: 30px;
    background: #E6F4FD;
  }

  .button-confirm {
    float: left;
    width: 39%;
    height: 44px;
    line-height: 44px;
    text-align: center;
  }
  .button-confirm2{
    width: 90%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-left: 5%;
  }
  .button-confirm2 img{
    width: 20px;
    position: relative;
    top: 4px;
    right: 5px;
  }
  .button-confirm2 div {
    margin: 5px;
    border-radius: 30px;
    background: #32A4EC;
    color: #ffffff
  }
  .button-confirm div {
    margin: 5px;
    border-radius: 30px;
    background: #32A4EC;
    color: #ffffff
  }

  .button-confirm img {
    width: 20px;
    position: relative;
    top: 4px;
    right: 5px;
  }

  ion-footer-bar {
    padding: 0;
    color: #666666;
    height: 60px;
  }

  .slideParam2 {
    height: 44px;
    line-height: 44px;
    width: 90%;
    margin-left: 5%;
    border-radius: 30px;
    background: #32A4EC;
    color: #ffffff;
    text-align: center;
  }

  .slideParam2 img {
    width: 20px;
    position: relative;
    top: 4px;
    right: 5px;
  }
  .text-wrap{
    margin-left: 5px;
  }
  .text-wrap-week {
    padding: 5px 20px 0 22px;
  }
  .text-wrap-week textarea {
    color: #000;
    background: none;
    width: 100%;
    height: 150px;
    font-size: 16px;
    overflow-y: scroll;
  }
  .text-wrap textarea {
    color: #000;
    background: none;
    width: 100%;
    height: 150px;
    font-size: 16px;
    overflow-y: scroll;
  }
  .scroll-container{
    width: 100%;
    height: 100px;
    perspective: 800px;
    perspective-origin: 50% 50%;
    overflow: hidden;
    .stage {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.2s;
      -webkit-transition: transform 0.2s;
      //overflow: hidden;
      .scroll-item {
        background: white;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        position: absolute;
        width: 50vw;
        height: 20px;
        left: 25vw;
        top: 40px;
        text-align: center;
        line-height: 20px;
        color: #d5d5d5;
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
      }
      .scroll-item.selected{
        color: #333333;
      }
    }
  }

  .year{
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: 30vw;
    margin-left: 35vw;
    text-align: center;
    left: 0;
    height: 40px;
    line-height: 40px;
    top: 30px;
    font-size: 1.2em;
    border-bottom: 1px solid #959595;
  }

  .select-week{
    margin-top: 5vh;
    width: 30vw;
    margin-left: 35vw;
    border: none;
    box-shadow: 0 0 1px 1px #959595;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #959595;
    font-size: 1.2em;
    border-radius: 20px;
  }

}
