<div class="modal" class="flyback-detail-select-model">
  <ion-header-bar class="bar-stable">
    <button class="button button-clear" ng-click="closeModal()">
      <i class=" icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">--请选择--</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="fb-modal-list" ng-repeat="item in lists" ng-click="closeModal(item)">
        {{item.name}}
      </div>
    </ion-list>
    <ion-list>
      <div class="fb-modal-list" style="text-align: center;" ng-click="clearSelect()">
        清空
      </div>
    </ion-list>
  </ion-content>
</div>