<ion-view view-title="乘机受益人" class="flight-passenger-list">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">乘机受益人</h1>
    <div class="buttons" ng-if="!createMode && !editMode">
      <button class="button button-icon" ng-click="createPassenger()">
        <img class="add-icon" src="build/img/myInfo/my-certificate-add.png"/>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="content-style">
    <hms-loading ng-if="showLoading" style="padding-top: 180px"></hms-loading>
    <div ng-if="!showData">
      <div class="no-data-shelter">
        <div class="row no-data-no-space">
          <img src="build/img/application/dorm-apply/no-data.png" class="no-data-image"/>
        </div>
        <div class="row no-data-no-space-label-row">
          <label class="no-data-label">未创建乘机受益人</label>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="passenger-item" ng-repeat="x in passengerList" ng-if="!editMode && !createMode && showData">
        <div class="row passenger-name-row">
          <label class="passenger-name">姓名：</label>
          <label class="passenger-name-text">{{x.passenger_name}}</label>
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">性别：</label>
          <label class="passenger-id-text">{{judgePassengerGender($index)}}</label>
          <!--<div class="checkbox-active-position" ng-class="{'selected-checkbox':judgeMaleGender(x.passenger_gender),'non-selected-checkbox':judgeFemaleGender(x.passenger_gender)}"></div>-->
          <!--<label class="checkbox-label">男</label>-->
          <!--<div class="checkbox-negative-position" ng-class="{'selected-checkbox':judgeFemaleGender(x.passenger_gender),'non-selected-checkbox':judgeMaleGender(x.passenger_gender)}"></div>-->
          <!--<label class="checkbox-label">女</label>-->
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">关系：</label>
          <label class="passenger-id-text">{{judgePassengerRelationship($index)}}</label>
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">身份证号：</label>
          <label class="passenger-id-text">{{x.passenger_id}}</label>
        </div>
        <div class="row passenger-passport-row">
          <label class="passenger-id">护照：</label>
          <label class="passenger-id-text">{{x.passenger_passport}}</label>
        </div>
        <ion-option-button>
          <div class="option-button-row1">
            <button class="button button-block first-option-button" ng-click="deletePassenger($index)">删除</button>
          </div>
          <div class="option-button-row2">
            <button class="button button-block second-option-button" ng-click="editPassenger($index)">编辑</button>
          </div>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="passenger-edit-item" ng-if="editMode && showData">
        <div class="row passenger-name-row">
          <label class="passenger-name">姓名：</label>
          <input type="text" class="first-input ios-input-top-mend" placeholder="请输入乘机人姓名" ng-model="editItem[0].passenger_name"/>
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">性别：</label>
          <div class="checkbox-active-position" ng-class="{'selected-checkbox':judgeMaleGender(editItem[0].passenger_gender),'non-selected-checkbox':judgeFemaleGender(editItem[0].passenger_gender)}" ng-click="switchEditGender('male')"></div>
          <label class="checkbox-label" ng-click="switchEditGender('male')">男</label>
          <div class="checkbox-negative-position" ng-class="{'selected-checkbox':judgeFemaleGender(editItem[0].passenger_gender),'non-selected-checkbox':judgeMaleGender(editItem[0].passenger_gender)}" ng-click="switchEditGender('female')"></div>
          <label class="checkbox-label" ng-click="switchEditGender('female')">女</label>
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">身份证号：</label>
          <label class="passenger-id-text" ng-click="cannotEditId()">{{editItem[0].passenger_id}}</label>
        </div>
        <div class="row passenger-id-row" ng-click="editRelationship('edit')">
          <label class="passenger-id">关系：</label>
          <label class="passenger-id-text">{{judgeRelationship(editItem[0].relation_code)}}</label>
        </div>
        <div class="row passenger-passport-row">
          <label class="passenger-id">护照：</label>
          <input type="text" class="second-input ios-input-top-mend" placeholder="请输入乘机人护照" ng-model="editItem[0].passenger_passport"/>
        </div>
        <ion-option-button>
          <div class="option-button-full-row">
            <button class="button button-block first-option-button" ng-click="cancelEdit()">取消</button>
          </div>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="passenger-edit-item" ng-if="createMode && showData">
        <div class="row passenger-name-row">
          <label class="passenger-id">姓名(必填)：</label>
          <input type="text" class="second-input ios-input-top-mend" placeholder="请输入乘机人姓名" ng-model="createItem[0].passenger_name"/>
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">性别(必填)：</label>
          <div class="checkbox-active-position" ng-class="{'selected-checkbox':judgeMaleGender(createItem[0].passenger_gender),'non-selected-checkbox':judgeFemaleGender(createItem[0].passenger_gender)}" ng-click="switchCreateGender('male')"></div>
          <label class="checkbox-label" ng-click="switchCreateGender('male')">男</label>
          <div class="checkbox-negative-position" ng-class="{'selected-checkbox':judgeFemaleGender(createItem[0].passenger_gender),'non-selected-checkbox':judgeMaleGender(createItem[0].passenger_gender)}" ng-click="switchCreateGender('female')"></div>
          <label class="checkbox-label" ng-click="switchCreateGender('female')">女</label>
        </div>
        <div class="row passenger-id-row">
          <label class="passenger-id">身份证号(必填)：</label>
          <input type="text" class="second-input ios-input-top-mend" placeholder="请输入乘机人身份证号" ng-model="createItem[0].passenger_id"/>
        </div>
        <div class="row passenger-id-row" ng-click="editRelationship('create')">
          <label class="passenger-id">关系(必填)：</label>
          <label class="passenger-id-text">{{createItem[0].relation_text}}</label>
        </div>
        <div class="row passenger-passport-row">
          <label class="passenger-id">护照(选填)：</label>
          <input type="text" class="second-input ios-input-top-mend" placeholder="请输入乘机人护照" ng-model="createItem[0].passenger_passport"/>
        </div>
        <ion-option-button>
          <div class="option-button-full-row">
            <button class="button button-block first-option-button" ng-click="cancelCreate()">取消</button>
          </div>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <button class="button button-block confirm-button" ng-if="editMode || createMode" ng-click="confirm()">确定</button>
  </ion-content>
</ion-view>
