<div class="modal flyback-apply-project-model">
  <ion-header-bar class="first bar-stable">
    <button class="button button-clear" ng-click="closeModal()">
      <i class=" icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">项目列表</h1>
  </ion-header-bar>

  <ion-header-bar class="bar-subheader">
      <div class="input-left"><i class="ion-ios-search"></i></div>
      <div>
        <input class="input-search" placeholder="输入项目名称" ng-model="param.filter"/>
      </div>
  </ion-header-bar>
  
  <ion-content>
    <ion-list>
      <div class="fb-modal-list" ng-repeat="project in projectList|filter:param.filter" ng-click="closeModal({{project}})">
        {{project.name}}
      </div>
    </ion-list>
  </ion-content>

</div>  