.face-ecognition {

  background: #f8f8f8;

  .content-style {

    .face-ecognition-content {

      padding-top: 30px;
      .title {
        color: #9B9B9B;
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
      }

      .info-list {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        .info-item {
          margin-top: 15px;
          margin-bottom: 35px;
          height: 65px;
          .info-item-icon {
            width: 80px;
            height: 60px;
            float: left;
            img {
              width: 80px;
              height: 60px;
            }
          }
          .info-item-text {
            padding-left: 20px;
            float: left;
            height: 65px;
            line-height: 65px;
            color: #4A4A4A;
            font-size: 16px;
          }
        }
      }

      .face-ecognition-button {
        padding-top:15px;
        .button-image {
          width: 76px;
          height: 76px;
          margin-left: auto;
          margin-right: auto;
          img {
            width: 76px;
            height: 76px;
          }
        }
        .button-text {
          margin-top: 8px;
          width: 100%;
          text-align: center;
          font-size: 16px;
          color: #1F8CEB;
        }
      }
    }

    .face-ecognition-result {
      .face-area {
        position: relative;
        margin-top: 15px;
        padding: 10px 30px 30px 10px;
        margin-left: 15px;
        margin-right: 15px;
        background: url("../img/myInfo/cover@3x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        .face-img {
          img {
            transform: rotate(-3.3deg);
          }
        }

        .face-identification {
          width: 82px;
          height: 82px;
          position: absolute;
          right: -5px;
          bottom: -5px;
          img {
            width: 82px;
            height: 82px;
          }
        }
      }

      .last-background {
        background: url("../img/myInfo/last-line.png");
        background-repeat: no-repeat;
        background-position: bottom;
        height: 5px;
      }

      .face-result-list {
        background: white;
        margin-top:10px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 4px;
        background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
        background-position: top;
        background-size: 100% 1px;
        background-repeat: no-repeat;

        .no-padding {
          padding: 0;
          margin: 0;
        }
        .face-result-item {
          &.last-line {
            background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
            background-position: bottom;
            background-size: 100% 1px;
            background-repeat: no-repeat;
          }
          .col {
            padding-top: 12px;
            padding-bottom: 12px;
          }
          .face-item {
            padding: 4px 15px;
            height: 28px;
            &.has-right-line {
              border-right: 1px solid #e8e8e8;
            }
            .item-img {
              float: left;
              width: 20%;
              height: 20px;
              img {
                width: 20px;
                height: 20px;
              }
            }
            .item-name {
              float: left;
              width: 35%;
              height: 20px;
              font-size: 16px;
              color: #6D7A80;
            }

            .item-value {
              float: left;
              width: 50%;
              height: 20px;
              color: #6D7A80;
            }
          }
        }
      }


    }
  }
}
.face-result-button {
  position: fixed;
  bottom: 5px;
  right: 50%;
  height: 90px;
  .re-face {
    height: 90px;
    float: left;
    width: 50%;
    position: relative;
    .re-face-item {
      width: 75px;
      position: absolute;
      right: 20px;
      img {
        width: 50px;
        height: 50px;
        margin-left: 12px;
      }
      .text {
        margin-top: 5px;
        text-align: center;
        font-size: 16px;
        color: #9B9B9B;
      }
    }
  }

  .face-ok {
    height: 90px;
    float: left;
    width: 50%;
    position: relative;
    .face-ok-item {
      width: 75px;
      position: absolute;
      left: 20px;
      img {
        width: 50px;
        height: 50px;
        margin-left: 12px;
      }
      .text {
        margin-top: 5px;
        text-align: center;
        font-size: 16px;
        color: #9B9B9B;
      }
    }
  }
}
