<ion-view view-title="创建人脸识别" class="face-ecognition">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" ng-click="$hmsGoBack()">
        <span class="back-button-text">返回</span>
      </button>
    </div>
    <h1 class="title">创建人脸识别</h1>
  </ion-header-bar>
  <ion-content class="content-style">
    <div class="face-ecognition-content" ng-if="!vm.faceEcognitionResult">
      <div class="face-ecognition-header">
        <div class="title">
          创建时，请保持正脸对准屏幕
        </div>
        <div class="title">
          并遵从如下事项
        </div>
      </div>

      <div class="info-list">
        <div class="info-item" ng-repeat="item in vm.list">
          <div class="info-item-icon">
            <img ng-src="{{item.image}}">
          </div>
          <div class="info-item-text" ng-bind="item.text">
          </div>
        </div>
      </div>

      <div class="face-ecognition-button" ng-click="vm.faceEcognition();">
        <div class="button-image">
          <img src="build/img/myInfo/photo@3x.png">
        </div>
        <div class="button-text">
          开始扫描
        </div>
      </div>
    </div>

    <div class="face-ecognition-result" ng-if="vm.faceEcognitionResult">
      <div class="face-area" ng-style="vm.faceStyle.area">
        <div class="face-img" ng-style="vm.faceStyle.imageOuter">
          <img ng-src="{{vm.faceResult.imgUrlSrc}}" ng-style="vm.faceStyle.imageInner">
        </div>
        <div class="face-identification">
          <img src="build/img/myInfo/success@3x.png">
        </div>
      </div>

      <div class="face-result-list">
        <div class="face-result-item last-line">
          <div class="row no-padding">
            <div class="col col-50 no-padding">
              <div class="face-item has-right-line">
                <div class="item-img">
                  <img src="build/img/myInfo/sex@3x.png">
                </div>
                <div class="item-name">
                  性别:
                </div>
                <div class="item-value" ng-bind="vm.faceResult.gender">
                </div>
              </div>
            </div>
            <div class="col col-50 no-padding">
              <div class="face-item">
                <div class="item-img">
                  <img src="build/img/myInfo/age@3x.png">
                </div>
                <div class="item-name">
                  年龄:
                </div>
                <div class="item-value" ng-bind="vm.faceResult.age">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="face-result-item">
          <div class="row no-padding">
            <div class="col col-50 no-padding">
              <div class="face-item has-right-line">
                <div class="item-img">
                  <img src="build/img/myInfo/expression@3x.png">
                </div>
                <div class="item-name">
                  表情:
                </div>
                <div class="item-value" ng-bind="vm.faceResult.expression">
                </div>
              </div>
            </div>
            <div class="col col-50 no-padding">
              <div class="face-item">
                <div class="item-img">
                  <img src="build/img/myInfo/charm@3x.png">
                </div>
                <div class="item-name">
                  魅力:
                </div>
                <div class="item-value" ng-bind="vm.faceResult.beauty">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="last-background"></div>

      <!--<div class="face-result-button">
        <div class="re-face" ng-click="vm.reFaceEcognition()">
          <div class="re-face-item">
            <img src="build/img/myInfo/photo-2@3x.png">
            <div class="text">重新扫描</div>
          </div>
        </div>
        <div class="face-ok" ng-click="vm.complete()">
          <div class="face-ok-item">
            <img src="build/img/myInfo/complete@3x.png">
            <div class="text">完成</div>
          </div>
        </div>
      </div>-->

    </div>
  </ion-content>
  <div class="face-result-button" ng-if="vm.faceEcognitionResult">
    <div class="re-face" ng-click="vm.reFaceEcognition()">
      <div class="re-face-item">
        <img src="build/img/myInfo/photo-2@3x.png">
        <div class="text">重新扫描</div>
      </div>
    </div>
    <div class="face-ok" ng-click="vm.complete()">
      <div class="face-ok-item">
        <img src="build/img/myInfo/complete@3x.png">
        <div class="text">完成</div>
      </div>
    </div>
  </div>
</ion-view>
