<ion-view view-title="商机详情" class="crm opportunity-detail">
  <ion-header-bar align-title="center" class="bar-stable">
    <img src="build/img/application/customer/detail/top_left_arrow@3x.png" ng-click="goBack()"/>
    <h1 class="title">{{'OPPORTUNITY_DETAIL.OPPORTUNITY_DETAIL'|T}}</h1>
    <img src="build/img/application/customer/detail/icon_dot@3x.png" ng-click="showMenu()"/>
  </ion-header-bar>
  <ion-content ng-class="{true:'hide-title'}[hideTitleFlag]" overflow-scroll="true">
    <div class="customer-info">
      <div class="info-area">
        <span>{{opportunity.opportunityName}}</span>
        <span>{{opportunity.saleAreaName}}  {{opportunity.saleTeamName}}  {{opportunity.saleEmployeeName}}</span>
      </div>
      <img class="right-operate" src="build/img/application/customer/detail/icon_right_position@3x.png" ng-click="showLocation()"/>
    </div>
    <div class="row status-area">
      <div class="col">
        <div class="row">
          <div class="col statusStyle">{{opportunity.statusName}}</div></div>
        <div class="row"> <div class="col statusTitle">数据状态</div></div>
      </div>
      <div class="col">
        <div class="row "> <div class="col statusStyle">{{opportunity.opportunityStatusName}}</div></div>
        <div class="row"> <div class="col statusTitle">商机状态</div></div>
      </div>
      <div class="col">
        <div class="row "> <div class="col statusStyle">{{opportunity.preMoney}}{{opportunity.currencyName}}</div></div>
        <div class="row"> <div class="col statusTitle">{{'OPPORTUNITY_DETAIL.INCOME'|T}}</div></div>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;" ng-click="goCustomer()">
      <div class="col col-90 col-center">
        <div style="margin-left:7px;font-size: 1.2em">{{'OPPORTUNITY_DETAIL.ASSOCIATE_CUSTOMERS'|T}}：{{opportunity.customerName}}</div>
      </div>
      <div class="col col-10 col-center">
        <i><img src="build/img/contact/right_arrow@3x.png" style="width: 20px;vertical-align: middle"></i>
      </div>
    </div>

    <div class="sub-header">
      <ion-scroll class="sub-header-scroll" delegate-handle="subHeaderScroll" direction="x" scrollbar-x="false" has-bouncing="true">
        <span ng-repeat="subHeader in subHeaders" ng-click="selectSubHeader($index)" ng-class="{true:'selected'}[subHeadersSelect[$index]]">
          <img ng-src="{{'build/img/application/customer/detail/' + subHeader.icon + (subHeadersSelect[$index] ? '_selected@3x.png' : '@3x.png') }}"/>
          {{subHeader.title}}
          <div class="bottom-line"></div>
        </span>
      </ion-scroll>
    </div>
    <div class="stage" on-drag="onDragContent($event)" ng-class="{true:'show-more'}[hideTitleFlag]">
      <ion-scroll class="content-scroll" direction="y" scrollbar-y="true" has-bouncing="true" delegate-handle="detailScroll">
        <div class="inner"
          ng-include="contentInner">
        </div>
      </ion-scroll>
    </div>

  </ion-content>

  <div class="common-fix-div" ng-class="{true:'showUp'}[showSelect]">
    <div class="common-fix-div-header">
      <span class="left" ng-click="showSelectDiv()">返回</span>
      请选择
      <span class="right">清选</span>
    </div>
    <div class="sifting-area">
      <input type="text" placeholder="搜索..." ng-change="searchValue()" ng-model="searchValueKey"/>
    </div>
    <div class="list">
      <ion-scroll direction="y" has-bouncing="true" scrollbar-y="false">
        <div class="item" ng-repeat="item in items track by $index" ng-click="selectItem($index)">{{item[nowSelectTarget['showKey']]}}</div>
      </ion-scroll>
    </div>
  </div>

  <img class="fix-button" ng-src="{{buttonImg}}" ng-class="{true:'edit-button'}[isEdit]" ng-click="chooseThis()"/>

</ion-view>
