.opportunity-detail{
  .last-div{
    height: 200px;
    width: 100%;
    background: white
  }
  ion-content{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

  ion-content.hide-title{
    top: -177px !important;
  }

  .fix-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    transition: transform 0.25s;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .statusStyle{
    text-align: center;
    color:#fe9073 ;
    font-size: 1.2em;
  }
  .statusTitle{
    text-align: center;
    color: #666666;
    font-size:1.1em;
  }
  .fix-button.edit-button{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }

  .header-menu{
    position: fixed;
    top: 50px;
    right: 2vw;
    width: 30vw;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255,0.8);
    color: black;
    text-align: center;
    z-index: 6;
    text-shadow: 2px 2px 2px #797979;
    box-shadow: 0 0 15px 10px #e5ecef;
    font-size: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    opacity: 0;
  }

  .header-menu.showDown{
    animation: fadeInDownMenu 0.5s ease forwards;
    -webkit-animation: fadeInDownMenu 0.5s ease forwards;
  }

  .header-menu.hideUp{
    animation: fadeOutUpMenu 0.5s ease forwards;
    -webkit-animation: fadeOutUpMenu 0.5s ease forwards;
  }

  @keyframes fadeInDownMenu {
    from{
      opacity: 0;
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }


  @keyframes fadeOutUpMenu {
    from{
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
    to{
      opacity: 0;
      transform: translateY(-50px);
      -webkit-transform: translateY(-50px);
    }
  }

  .customer-info{
    width: 100%;
    padding: 10px 3vw;
    display: flex;
    background: white;
    position: relative;
    box-shadow: 0 8px 5px #e5ecef;
    .info-area,img{
      display: inline-block;
    }

    img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .info-area{
      flex: 1;
      height: 70px;
      padding-top: 10px;
      padding-left: 2%;

      span{
        margin: 0;
        line-height: 35px;
        display: block;
      }

      span:first-child{
        color: #333333;
        font-size: 1.3em;
        line-height: 20px;
      }

      span:last-child{
        font-size: 1.1em;
        line-height: 16px;
        color: #959595;
        margin-top: 14px;
      }

    }

    .right-operate{
      position: absolute;
      right: 0;
      height: 40px;
      width: auto;
      top: 25px;
      border-radius: 0;
    }


  }
  .status-area{
    margin-top: 10px;
    border-bottom: 1px solid #e9e9e9;
  }
  .sub-header{

    background: #f8f8f8;
    height: 70px;
    width: 100vw;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    .sub-header-scroll{
      height: 100%;
      width: 100vw;
      white-space: nowrap;
      span{
        display: inline-block;
        min-width: 50px;
        line-height: 20px;
        text-align: center;
        position: relative;
        width: 80px;
        height: 68px;
        color: #a7b1be;
        font-size: 1em;
        margin: 0 2vw;
        img{
          width: 24px;
          height: 24px;
          display: block;
          position: relative;
          margin: 10px 0 5px 28px;
        }
        .bottom-line{
          position: absolute;
          bottom: 0;
          height: 2px;
          border-radius: 20%;
          background: #36a6ec;
          width: calc(100% - 20px);
          left: 10px;
          transform-origin: 50% 0;
          -webkit-transform-origin: 50% 0;
          transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transform: scale(0) rotateY(0deg);
          -webkit-transform: scale(0) rotateY(90deg);
        }

      }

      span.selected{
        color: #36a6ec;

        .bottom-line{
          transform: scale(1) rotateY(180deg);
          -webkit-transform: scale(1) rotateY(180deg);
        }

      }

    }

  }

  .stage{
    width: 100%;
    background: white;
    height: calc(100vh - 350px);
    .content-scroll{
      width: 100%;
      height: 100%;
    }
    .inner{
      height: 100%;
    }
  }

  .stage.show-more{
    height: calc(100vh - 114px);
  }

  .fix-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    transition: transform 0.25s;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
  }

  .fix-button.edit-button{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }

}
