.myTab{
  @mixin tab-icon($imgUrl) {
    background: url($imgUrl) no-repeat center;
    background-size: contain;
    width: 23px;
  }

  .list-on {
      @include tab-icon("./../img/application/carpooling/carpooling-B@3x.png");
    }
  .list-off {
      @include tab-icon("./../img/application/carpooling/carpooling-G@3x.png");
    }
  .create-on {
      @include tab-icon("./../img/application/carpooling/create-B@3x.png");
    }
  .create-off {
      @include tab-icon("./../img/application/carpooling/create-G@3x.png");
    }
  .history-on {
      @include tab-icon("./../img/application/carpooling/history-B@3x.png");
    }
  .history-off {
      @include tab-icon("./../img/application/carpooling/history-G@3x.png");

  }
  .repeat-font-style{
    color:#24559C;
    float: left;
    margin-left: 5px;
    margin-right: -15px;
  }
  .repeat-click-tab{
    float: left;
    padding:8px 12px 10px 12px;
  }
}
