<ion-view view-title="通讯录" class="contact-quick">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$hmsGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title">
      通讯录
    </h1>
  </ion-header-bar>
  <ion-content delegate-handle="contactQuick" overflow-scroll="true" style="right:20px">
    <div class="contact-list">
      <div class="contact-item" ng-repeat="item in list">
        <div class="contact-header" id="element{{item.header}}">
          {{item.header}}
        </div>
        <div class="contact-element">
          <div class="contact-element-value" ng-repeat="element in item.elementList">
            {{element.element}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <contact-quick-bar
    bar-element-size = '14px';
    bar-element-color="blue"
    bar-background="#f8f8f8"
    show-Animate=true
    bar-element-height = '16'
    on-element-click="click()">
  </contact-quick-bar>
</ion-view>
