.login{
  ///////////////////////////////////新版
  //background: url("../img/login/login-back.png");
  //background-size: cover;
  //.login-item{
  //  background: url("../img/login/login-item.png");
  //  background-size: 100% 100%;
  //}
  //.big-portrait{
  //  margin:auto;
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  z-index: 999;
  //}
  //.big-portrait.ng-hide-remove{
  //  -webkit-animation: zoomIn 0.3s;
  //  animation: zoomIn .3s;
  //}
  //.little-portrait{
  //  margin:auto;
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  z-index: 999;
  //}
  //.little-portrait.ng-hide-remove{
  //  -webkit-animation: zoomIn 0.3s;
  //  animation: zoomIn .3s;
  //}
  //.remember-password-button{
  //  margin: 0px;
  //  padding: 0px;
  //  position: absolute;
  //  right: 2px;
  //  top: 0px;
  //  min-height: 20px;
  //  line-height: 20px;
  //  width: 62px;
  //  border: none;
  //  padding-top: 10px;
  //  padding-bottom: 10px;
  //  background-color: transparent;
  //  padding-left: 6px;
  //  font-size: 0.875rem;
  //}
  //.remember-password-unchecked{
  //  color: #9b9b9b;
  //}
  //.remember-password-checked{
  //  color: #24559c;
  //}
  //.login-button{
  //  padding: 0px;
  //  margin: 0px;
  //  width: 67%;
  //  min-height: 50px;
  //  line-height: 50px;
  //  margin-left: 16.5%;
  //  margin-top: 34px;
  //  border-radius: 20px;
  //}
  //.gray-button{
  //  opacity: 1;
  //  transform: scale(0.95,0.95);
  //  -webkit-transform: scale(0.95,0.95);
  //  background-color: #ffffff;
  //  color: #9b9b9b;
  //  font-size: 1rem;
  //  border: 1px solid #9b9b9b;
  //}
  //.blue-button{
  //  transition: all 0.3s ease-in 0s;
  //  -webkit-transition: all 0.3s ease-in 0s;
  //  opacity: 1;
  //  transform: scale(1.05,1.05);
  //  -webkit-transform: scale(1.05,1.05);
  //  background-color: #ffffff;
  //  color: #24559c;
  //  font-size: 1rem;
  //  border: 1px solid #24559c;
  //}
  //
  //.finish-button{
  //  background-color: #24559c;
  //  font-size: 1rem;
  //  color: #ffffff;
  //  border: 1px solid #24559c;
  //}
  //.button-icon{
  //  position: relative;
  //  top: 3px;
  //  width: 21px;
  //  height:16px;
  //  padding: 0px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  transition: all 0.2s ease-in 0s;
  //  -webkit-transition: all 0.2s ease-in 0s;
  //  opacity: 1;
  //  transform: rotate(0deg);
  //  -webkit-transform: rotate(0deg);
  //}
  //.button-icon.ng-hide-remove{
  //  opacity: 0;
  //  transform: rotate(-90deg);
  //  -webkit-transform: rotate(-90deg);
  //}
  //.gray-line{
  //  transition: all 0.3s ease-in 0s;
  //  -webkit-transition: all 0.3s ease-in 0s;
  //  transform: scale(1,1);
  //  -webkit-transform: scale(1,1);
  //  width: 82.6%;
  //  height: 2px;
  //  margin-left: 8.7%;
  //  margin-top: 5px;
  //  background-color: #d2d2d2;
  //  opacity: 1;
  //}
  //.blue-line{
  //  transition: all 0.3s ease-in 0s;
  //  -webkit-transition: all 0.3s ease-in 0s;
  //  opacity: 1;
  //  transform: scale(1.05,1.05);
  //  -webkit-transform: scale(1.05,1.05);
  //  width: 82.6%;
  //  height: 2px;
  //  margin-left: 8.7%;
  //  margin-top: 5px;
  //  background-color: #24559c;
  //  opacity: 1;
  //}
  //.blue-line.CLASS-add{
  //  opacity: 0;
  //}
  //.gray-line.CLASS-add{
  //  opacity: 0;
  //}
  //#only-button.button.activated{
  //  opacity: 1;
  //  transform: scale(1,1);
  //  -webkit-transform: scale(1,1);
  //  background-color: #24559c;
  //  color: #ffffff;
  //}
  //////////////////////旧版
  //
  background: url("../img/login/backgroundImg.png");
  background-size: cover;
  .login-up{
    width: 34%;
    height: 120px;
    margin-top: 20%;
    margin-left: 33%;
    margin-right: 33%;
    .login-logo{
      width: 100%;
      height: 80px;
      background: url("../img/login/hand@3x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .login-title{
      width: 100%;
      height: 40px;
      background: url("../img/login/BetterExperience@3x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .login-form{
    margin-top: 18px;
    .login-input-item{
      margin-top: 8px;
      width: 68%;
      margin-left: 16%;
      margin-right: 16%;
      height: 40px;
      padding-top: 7px;
      padding-bottom: 7px;
      background: rgb(223, 232, 244);
      border-radius: 12px;
      .login-input-user{
        float: left;
        width: 15%;
        height: 26px;
        background: url("../img/login/username@3x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .login-input-passwd{
        float: left;
        width: 15%;
        height: 26px;
        background: url("../img/login/password@3x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .login-input-text{
        float: left;
        height: 26px;
        width: 70%;
        background: none;
      }
      .login-input-clear{
        float: left;
        width: 15%;
        height: 18px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 3px;
        padding-right: 3px;
        background: url("../img/login/delete@3x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .login-remember-passwd{
      margin-top: 12px;
      height: 32px;
      width: 68%;
      margin-left: 16%;
      margin-right: 16%;
      .login-remember-checkbox{
        float: right;
        width: 20%;
        height: 32px;
      }
      .login-remember-text{
        float: right;
        width: 30%;
        height: 32px;
        line-height: 32px;
        color: white;
      }
    }
    .login-button{
      margin-top: 34px;
      width: 68%;
      margin-left: 16%;
      margin-right: 16%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 12px;
      background: #D72F32;
      color: white;
      display: block;
      font-weight: bold;
      &.activated{
        background: #B95756;
        color: white;
      }
    }
    .login-version{
      margin-top: 15px;
      width: 100%;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: white;
    }
  }



}
