<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <ion-item class="login-item">
      <label ng-class="{'focus-user-label':!focusUsername,'blur-user-label':focusUsername}">用户名</label>
      <input type="text" autocomplete="off" class="username-input" ng-model="loginInfo.username"
             ng-focus="usernameFocus()" ng-blur="usernameBlur()" ng-change="usernameChange()"/>
      <ion-item class="user-clear-item" ng-show="showUserClearButton">
        <button class="button button-block clear-button" ng-click="clearUsername()">
          <img src="build/img/login/login-clear.png" class="clear-image"/>
        </button>
      </ion-item>
      <div ng-class="{'gray-line':!fillUsername,'blue-line':fillUsername}"></div>
      <label ng-class="{'focus-password-label':!focusPassword,'blur-password-label':focusPassword}">密码</label>
      <input type="password" autocomplete="off" class="password-input" ng-model="loginInfo.password"
             ng-focus="passwordFocus()" ng-blur="passwordBlur()" ng-change="passwordChange()"/>
      <ion-item class="password-clear-item" ng-show="showPasswordClearButton">
        <button class="button button-block clear-button" ng-click="clearPassword()">
          <img src="build/img/login/login-clear.png" class="clear-image"/>
        </button>
      </ion-item>
      <div ng-class="{'gray-line':!fillPassword,'blue-line':fillPassword}"></div>
      <ion-item class="login-checkbox-item">
        <img ng-src="{{passwordChecked}}" class="login-checkbox-icon" ng-click="savePassword()"/>
        <button class="button button-block"
                ng-class="{'remember-password-button remember-password-unchecked':!rememberPassword,'remember-password-button remember-password-checked':rememberPassword}"
                ng-click="savePassword()">记住密码
        </button>
      </ion-item>
      <button id="false-button"
              ng-class="{'button button-block login-button gray-button':buttonStyle[0],'button button-block login-button blue-button':buttonStyle[1]}"
              ng-disabled="disableButton" ng-hide="showLoginButton" ng-click="login()">登录
      </button>
      <button id="real-button" class="button button-block login-button finish-button" ng-show="showLoginButton"><img
        src="build/img/login/login-ready.png" class="button-icon" ng-show="showButtonIcon"/></button>
    </ion-item>
    <!--<div class="row wechat-row">-->
      <!--<div class="col-40 wechat-left-col">-->
        <!--<div class="wechat-left-line"></div>-->
      <!--</div>-->
      <!--<div class="col-20 wechat-center-line">-->
        <!--<button class="button button-icon wechat-button" ng-click="goToWechat()">-->
          <!--<img src="build/img/login/login-wechat.png" class="wechat-image"/>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="col-40 wechat-right-col">-->
        <!--<div class="wechat-right-line"></div>-->
      <!--</div>-->
    <!--</div>-->
    <img ng-src="{{bigPortrait}}" class="big-portrait" ng-show="showBigPortrait" id="big-portrait"/>
    <img ng-src="{{littlePortrait}}" class="little-portrait" ng-show="showLittlePortrait" id="little-portrait"/>
  </ion-content>
</ion-view>
