<ion-view class="login">
  <ion-content>
    <div class="login-up">
      <div class="login-logo">
      </div>
      <div class="login-title"></div>
    </div>

    <div class="login-form">
      <div class="login-input-item">
        <div class="login-input-user"></div>
        <input type="text" placeholder="用户名" ng-model="loginData.username" class="login-input-text">
        <div class="login-input-clear" ng-click="clearUser()"></div>
      </div>
      <div class="login-input-item">
        <div class="login-input-passwd">
        </div>
        <input type="password" placeholder="密码" ng-model="loginData.password" class="login-input-text">
        <div class="login-input-clear" ng-click="clearPassword()"></div>
      </div>
      <div class="login-remember-passwd">
        <div class="login-remember-text">记住密码</div>
        <div class="login-remember-checkbox">
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-checked="checkboxSavePwd" ng-click="savePassword()">
            <div class="track" style="height: 24px;width: 40px;margin-top: 5px;border: none;">
              <div class="handle" style="height: 22px;width: 22px;top: 11px;border: none;"></div>
            </div>
          </label>
        </div>
      </div>

      <a class="login-button" ng-click="doLogin()">登录</a>
      <div class="login-version">{{currentVersionNum}}</div>
    </div>
  </ion-content>
</ion-view>
<!--新版代码-->
<!--<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait">-->
  <!--<ion-content style="background-color: transparent" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll" >-->
    <!--<ion-item class="login-item" style="padding: 0px;margin: 0px;border: none;width: 92%;margin-left: 4%;height: 334px;margin-top: 32.5%;">-->
      <!--<input type="text" style="color: #4a4a4a;font-size: 1rem;background-color: transparent;width:82.6%;margin-left: 8.7%;height: 30px;border: none;margin-top: 73px;" ng-model="loginInfo.username" ng-focus="usernameFocus()" ng-blur="usernameBlur()" ng-change="usernameChange()"/>-->
      <!--<div ng-class="{'gray-line':!fillUsername,'blue-line':fillUsername}"></div>-->
      <!--<input type="text" style="color: #4a4a4a;font-size: 1rem;background-color: transparent;width:82.6%;margin-left: 8.7%;height: 30px;border: none;margin-top: 21px;" ng-model="loginInfo.password" ng-focus="passwordFocus()" ng-blur="passwordBlur()" ng-change="passwordChange()"/>-->
      <!--<div ng-class="{'gray-line':!fillPassword,'blue-line':fillPassword}"></div>-->
      <!--<ion-item style="padding: 0px;margin: 0px;border: none;height: 30px;width: 82.6%;margin-left: 8.7%;margin-top: 5px;">-->
        <!--<img ng-src="{{passwordChecked}}" style="width: 15px;height: 15px;position: absolute;top: 12.5px;right: 62px;" ng-click="savePassword()"/>-->
        <!--<button class="button button-block" ng-class="{'remember-password-button remember-password-unchecked':!rememberPassword,'remember-password-button remember-password-checked':rememberPassword}" ng-click="savePassword()">记住密码</button>-->
      <!--</ion-item>-->
     <!--<button id="only-button" ng-class="{'button button-block login-button gray-button':buttonStyle[0],'button button-block login-button blue-button':buttonStyle[1]}" ng-disabled="disableButton" ng-hide="showLoginButton" ng-click="login()">登录</button>-->
     <!--<button class="button button-block login-button finish-button" ng-show="showLoginButton"><img src="build/img/login/login-ready.png" class="button-icon" ng-show="showButtonIcon"/></button>-->
    <!--</ion-item>-->
    <!--<img ng-src="{{bigPortrait}}" class="big-portrait" ng-show="showBigPortrait" id="big-portrait" />-->
    <!--<img ng-src="{{littlePortrait}}" class="little-portrait" ng-show="showLittlePortrait" id="little-portrait" />-->
  <!--</ion-content>-->
<!--</ion-view>-->
<!---->
