<ion-view class="transmit-person-modal globelSearch">
  <ion-header-bar class="bar-stable" align-title="center">
    <form ng-submit="searchResult(selectParam)" class="form-style" >
    <div class="transmit-search">
      <div class="transmit-button">
       <img src="build/img/contact/icon_search@3x.png">
      </div>
      <input id="employeeInputSearch" placeholder="{{searchPlaceHolder}}"
             ng-model="searchParam.keyWord"
             ng-change="searchWholeData()" type="search">
      <img src="build/img/application/icon_circle@3x.png" class="employee-clear-img"
           ng-if="searchParam.keyWord!=''"
           ng-click="clearInputContent()"/>
    </div>
    </form>
    <div class="buttons transmit-buttons">
      <button class="button button-icon icon button-text" ng-click="hideSearch()">
        <span>{{'CANCEL'| T }}</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="employee-search-content"  delegate-handle="slideimgs">
    <div class="hideContent" ng-hide="showContent">
      <div class="hide-icon">
        <ion-spinner icon="ios-small" class="spinner spinner-ios"></ion-spinner>
      </div>
    </div>
    <div ng-show="showContent">
    <div ng-if="historys.length==0&&searchParam.keyWord==''" >
         <div class="history-img" style="" align="center" scroll-height-img>
            <div>
              <img src="build/img/application/search_miss@3x.png">
            </div>
           <div class="with-margin">
             {{'GLOBEL_SEARCH.NO_HISTORY'|T}}
           </div>
         </div>
    </div>
    <div ng-if="historys.length !== 0&&searchParam.keyWord==''" class="searchResult" >
      <div class="row history-logo-wrap">
        <span class="col-25 history-logo col-center"> {{'GLOBEL_SEARCH.HISTORY_RECORD'|T}}</span>
      </div>
      <div class="history-item" ng-repeat="values in historys track by $index">
        <div class="history-item-2"></div>
        <div class="history-item-img with-table" ng-click="goDetail(values)"><div class="width-table-cell with-center"><img  ng-src="build/img/competitor/{{values.type}}@3x.png"></div></div>
        <div  class="with-table  history-type" ng-click="goDetail(values)"><div class="width-table-cell">{{values.typeName}}</div></div>
        <div class="history-item-right">
          <div  class="with-table history-name" ng-click="goDetail(values)">{{values.fullname}}</div>
          <div  class="history-item-img2 with-table" ng-click="deleteItem(values,$index)"> <div class="width-table-cell with-right" ><img src="build/img/application/icon_wrong@3x.png"></div></div>
          <div class="clear"></div>
        </div>
        <div   class="clear"></div>
      </div>
      <div class="clear-button" align="center">
          <img src="build/img/application/icon_delete_blue@3x.png">
        <div class="button button-clear" ng-if="historys.length !== 0" ng-click="deleteHistory()">{{'GLOBEL_SEARCH.CLEAR_DATA'|T}}</div>
      </div>
    </div>
    <div id="dataS" ng-repeat="item in searchData|filter:searchParam.keyWord" ng-if="searchParam.keyWord!=''">
        <div class="type-list"  ng-click="showMore(item)" ng-if="item.data.length!=0">
          <div class="type-logo"><img ng-src="build/img/competitor/{{item.type}}@3x.png"></div>
          <div class="type-type">{{item.typeName}}</div>
          <div class="type-show" ng-if="item.data.length>2">
            {{item.flag ? "隐藏" : "显示更多" }}
          </div>
          <div class="type-icon"  ng-if="item.data.length>2">
            <img src="build/img/application/right_arrow_blue@3x.png">
          </div>
          <div class="clear"></div>
        </div>


      <div class="repeat-arrow" >
        <div class=" repeat-item"  ng-repeat="x in item.data" ng-click="goDetail(x)" ng-if="item.flag" >
          <div class="content-style" ng-bind-html="x.fullName " ></div>
        </div>
        <div class=" repeat-item" ng-repeat="x in item.data| limitTo:3" ng-click="goDetail(x)" ng-if="!item.flag">
          <div class="content-style" ng-bind-html="x.fullName " ></div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>

