<ion-view view-title="商机" class="crm hrms-pancel-corlor clues">
  <crm-loading ng-if="showLoading"></crm-loading>
  <ion-header-bar align-title="center" class="bar-stable">
    <img src="build/img/application/customer/detail/top_left_arrow@3x.png" ng-click="goBack()"/>
    <div class="header-select-button">
      <div ng-class="{false:'selected'}[myClueFlag]" ng-click="changeModel(false)">所有线索</div>
      <div ng-class="{true:'selected'}[myClueFlag]" ng-click="changeModel(true)">我的线索</div>
    </div>
    <img class="sub-icon" src="build/img/application/opportunity/icon_top_search_strong@3x.png" ng-click="goSearch()"/>
    <img src="build/img/application/opportunity/icon_add_black@3x.png" ng-click="showAddClue()"/>
  </ion-header-bar>
  <ion-content on-drag="onDrag($event)" delegate-handle="clueScroll">

    <ion-refresher
      pulling-text="正在刷新数据"
      pulling-icon="ion-ios-loop" on-refresh="doRefresh()">
    </ion-refresher>

    <div class="clue-item" ng-repeat="clue in clues" ng-click="goDetail(clue.opportunityId)">
      <div class="item-header">
        {{ 'OPPORTUNITIES.CREATION_DATE' | T }}:{{clue.creationDate.split(' ')[0]}}
        <span>
              <img src="build/img/application/opportunity/icon_hot@3x.png" ng-show="clue.opportunityStatus == 'HCRM_HOT_CHANCE'"/>
              {{clue.opportunityStatusName}}
        </span>
      </div>
      <div class="clue-info">
        <div>
          <div class="clue-name">{{clue.opportunityName}}</div>
          <div class="clue-belong">
            {{clue.customerName}}
          </div>
          <div class="clue-belong">
            <img src="build/img/application/opportunity/icon_leader_orange@3x.png"/>{{clue.saleEmployeeName}}
            <img src="build/img/application/customer/icon_flat_blue@3x.png"/>{{clue.saleAreaName}}&nbsp;
            <img src="build/img/application/opportunity/icon_team@3x.png"/>{{clue.saleTeamName}}
          </div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="loadMoreClue()"
      distance="1%"
      ng-if="moreClueCanBeLoaded">
    </ion-infinite-scroll>
  </ion-content>

  <div class="bottom-button" ng-class="{true:'showUp'}[showBottonButton]">
    <div ng-click="showSiftingDiv()"><img src="build/img/application/opportunity/icon_select_blue@3x.png"/>{{ 'FILTER' | T }}</div>
    <div ng-click="showSortDiv()"><img src="build/img/application/opportunity/icon_select_list@3x.png"/>{{ 'SORT' | T }}</div>
  </div>

  <div class="common-fix-div sifting-fix-div" ng-class="{true:'showUp'}[showSifting]">

    <div class="sifting-header">
      <img ng-click="showSiftingDiv()" src="build/img/application/customer/detail/top_left_arrow@3x.png"/>
      线索筛选
    </div>

    <div class="sifting-item">
      <img src="build/img/application/customer/icon_up@3x.png"/>
      <span>数据状态</span>
      <span class="item-content select-radio">
          <div class="yes" ng-click="selectStatus(1)">
            <img class="select" ng-src="{{'build/img/application/plans/' + (siftingShowData.status == 1 ? 'icon_selected@3x.png' : 'icon_normal@3x.png')}}"/>
            启用
          </div>
          <div class="no" ng-click="selectStatus(-1)">
            <img class="select" ng-src="{{'build/img/application/plans/' + (siftingShowData.status == -1 ? 'icon_selected@3x.png' : 'icon_normal@3x.png')}}"/>
            禁用
          </div>
          <div class="no" ng-click="selectStatus(0)">
            <img class="select" ng-src="{{'build/img/application/plans/' + (siftingShowData.status == 0 ? 'icon_selected@3x.png' : 'icon_normal@3x.png')}}"/>
            不限
          </div>
        </span>
    </div>
    <div class="sifting-item" ng-click="showSelectDiv('opportunity_status')">
      <img src="build/img/application/opportunity/icon_share@3x.png"/>
      <span>线索状态</span>
      <span class="item-content">{{siftingShowData.opportunityStatus}}</span>
      <img src="build/img/application/opportunity/right_arrow@3x.png" class="right-img">
    </div>
    <div class="sifting-item"  ng-click="showSelectDiv('sale_area')">
      <img src="build/img/application/opportunity/icon_team@3x.png"/>
      <span>所属大区</span>
      <span class="item-content">{{siftingShowData.saleArea}}</span>
      <img src="build/img/application/opportunity/right_arrow@3x.png" class="right-img">
    </div>
    <div class="sifting-item"  ng-click="showSelectDiv('sale_team')">
      <img src="build/img/application/opportunity/icon_team@3x.png"/>
      <span>所属团队</span>
      <span class="item-content">{{siftingShowData.saleTeam}}</span>
      <img src="build/img/application/opportunity/right_arrow@3x.png" class="right-img">
    </div>
    <div class="sifting-item" ng-click="showSelectDiv('customer_employee')">
      <img src="build/img/application/opportunity/icon_bottom4_selected@3x.png"/>
      <span>负责人</span>
      <span class="item-content">{{siftingShowData.employee}}</span>
      <img src="build/img/application/opportunity/right_arrow@3x.png" class="right-img">
    </div>
    <div class="sifting-item" ng-click="showSelectDiv('business_from')">
      <img src="build/img/application/opportunity/icon_change@3x.png"/>
      <span>线索来源</span>
      <span class="item-content">{{siftingShowData.businessFrom}}</span>
      <img src="build/img/application/opportunity/right_arrow@3x.png" class="right-img">
    </div>
    <div class="sifting-item multi-item">
      <img src="build/img/application/opportunity/icon_play@3x.png"/>
      <span>{{ 'OPPORTUNITIES.SIFTING.START_DATE' |  T }}</span>
      <div class="time-area">
        <div ng-click="selectDate('prjBeginDateFrom')">{{siftingKey.prjBeginDateFrom == '' ? 'From' : siftingKey.prjBeginDateFrom}}</div>
        <span class="line">~</span>
        <div ng-click="selectDate('prjBeginDateTo')">{{siftingKey.prjBeginDateTo == '' ? 'To' : siftingKey.prjBeginDateTo}}</div>
      </div>
    </div>
    <div class="sifting-item multi-item">
      <img src="build/img/application/opportunity/icon_day.png"/>
      <span>{{ 'OPPORTUNITIES.SIFTING.SIGN_DATE' | T }}</span>
      <div class="time-area">
        <div ng-click="selectDate('preSignDateFrom')">{{siftingKey.preSignDateFrom == '' ? 'From' : siftingKey.preSignDateFrom}}</div>
        <span class="line">~</span>
        <div ng-click="selectDate('preSignDateTo')">{{siftingKey.preSignDateTo == '' ? 'To' : siftingKey.preSignDateTo}}</div>
      </div>
    </div>
    <div class="sifting-item multi-item">
      <img src="build/img/application/opportunity/icon_day.png"/>
      <span>{{ 'OPPORTUNITIES.SIFTING.CREATE_DATE' | T }}</span>
      <div class="time-area">
        <div ng-click="selectDate('creationDateFrom')">{{siftingKey.creationDateFrom == '' ? 'From' : siftingKey.creationDateFrom}}</div>
        <span class="line">~</span>
        <div ng-click="selectDate('creationDateTo')">{{siftingKey.creationDateTo == '' ? 'To' : siftingKey.creationDateTo}}</div>
      </div>
    </div>

    <ion-footer-bar class="common-footer" ng-if="showSifting">
      <div class="footer-wrap">
        <div class="footer-button "  ng-click="showSiftingDiv()">
          <div class="left-div">{{'CANCEL'|T}}</div>
        </div>
        <div class="footer-button" ng-click="clearSifting()">
          <div class="two-div">{{'CLEAR'|T}}</div>
        </div>
        <div class="button-confirm" ng-click="sifting()">
          <div>
            <img src="build/img/application/information/icon_confirm@3x.png">
            {{'CONFIRM'|T}}
          </div>
        </div>
      </div>
    </ion-footer-bar>
  </div>

  <div class="common-fix-div sifting-fix-div sort-div" ng-class="{true:'showUp'}[showSort]" ng-click="showSortDiv()" on-drag="dragHideSort($event)">
    <div class="sifting-header">
      线索排序
    </div>
    <ion-scroll scrollbar-y="false" has-bouncing="false">
      <div class="sifting-item" ng-repeat="item in sortList track by $index" ng-click="selectSort($index)">
        <img ng-src="{{'build/img/application/opportunity/' + item.icon + '.png'}}"/>
        <span>{{item.text}}</span>
        <img src="build/img/application/icon_right@3x.png" class="right-img" ng-show="lastSelectSortIndex == $index">
      </div>
    </ion-scroll>
  </div>

</ion-view>
