<ion-view view-title="机票预定" class="flyback-main-view">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title">机票预定 </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="checkNewEdition()">
        <span class="barRightButton">新版</span>
      </button>
    </div>
  </ion-header-bar>

  <ion-content overflow-scroll="true" delegate-handle="timeSheetHandle">
    <div class="fbnav-img" >
      <img src="build/img/application/flyback/fbnav.png">
    </div>
    <div class="fbnav-button-block">
      <div ng-click="createFlightBook()" class="ion-plus-round fbnav-button">
        &nbsp; &nbsp;新建机票申请
      </div>
      <div ng-click="queryFlightBook()" class="ion-ios-search-strong fbnav-button">
        &nbsp; &nbsp;机票申请查询
      </div>
    </div>
  </ion-content>
</ion-view>
