  <ion-popover-view   class="popover-filter">
    <ion-header-bar align-title="center" class="bar-stable carpooling-header-search">
      <button class="button button-icon" ng-click="closePopover()">
        <span class="back-text">取消</span>
      </button>
      <h1 class="title">拼车</h1>
      <button class="button button-icon" ng-click="">
          <span class="back-text" ng-click="filter()">确定</span>
        </button>
      </button>
    </ion-header-bar>
    <ion-content class="filter-content">
      <div class="row set-end">
        <div class="col col-50 col-time-start">
          <ion-item class="time-start" ng-click="popoverChooseTime(1)" >
            <div class="time-start-font">
            <span style="font-size: 13px; color: #9b9b9b;">
              出发时间(起)
            </span>
            </div>
            <div class="row-time-start">
                {{startTimeText}}
            </div>
          </ion-item>
        </div>
        <div class="col col-1">
          <div class="time-start-divider"></div>
        </div>
        <div class="col col-49">
          <ion-item class="time-start" ng-click="popoverChooseTime(2)">
            <div class="time-start-font">
            <span style="font-size: 13px; color: #9b9b9b;">
              出发时间(止)
            </span>
            </div>
            <div class="row-time-start">
              {{endTimeText}}
            </div>
          </ion-item>
        </div>
      </div>
      <div class="row filter-location-choose">
        <div class="icon-start-end">
          <div class="circle-up"></div>
          <div class="line-center"></div>
          <div class="circle-down"></div>
        </div>

        <div class="col col-83"  style="padding: 12px;">
          <div class="start-text-up" style="width:100%;height: 16px;padding-left: 5px">
            <input type="text"  id="departure"   class="input-text-up" placeholder="请输入出发点" >
          </div>
          <div class="input-center-line"></div>
          <div class="start-text-down" style="width:100%;height: 16px;padding-left: 5px">
            <input type="text"  id="destination"  class="input-text-up" placeholder="请输入目的地" >
          </div>
        </div>

        <div class="col col-17 icon-exchange" ng-click="exchange()">
          <img src="build/img/application/carpooling/exchange-G@3x.png" style="width: 23px;height: 23px;"/>
        </div>
      </div>
      <div class="row filter-seat-choose" style="padding-left: 10%;">
          <input type="tel" id="seats" placeholder="请输入剩余座位数" class="input-seat-number">
      </div>
    </ion-content>
  </ion-popover-view>


