.myAddress{
  .row+.row {
     margin-top: 0!important;
     padding-top: 5px!important;
  }
  background:#f4f5f7;
  .address-list{
    background: #ffffff;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin-top:15px;
  }
  .address-list:first-child{
    background: #ffffff;
    border-top: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.59);
    margin-top:0;
  }
  .address-info{
    padding: 5px 10px 5px 0px;
  }
  .address-item{
    margin: 0 0 0 20px;
    padding: 10px 0 10px 0;
    border-bottom:1px solid rgba(209, 209, 209, 0.59);
  }
  .edit-item{
    //border-top: 1px solid #d1d1d1;
  }
  .padding-5{
    padding: 5px 10px 5px 0px;
  }
  .bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height:40px;
    background:#fff;
  }
  .submit-button{
    height: 40px;
    line-height: 30px;
    width: 100%;
    background: #fff;
    color: #1e8beb;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

}
