<ion-view view-title="Timesheet审批">
  <custom-head-bar action-name="{{actionName}}" custom-title="Timesheet审批" go-back-page="$ionicGoBack()"
                   do-action="doSelectAction()">
    <div class="custom-second-head">
      <div class="row bg-input" >
        <button class="button button-clear calendar-icon" ng-click="openCalendar()">
        </button>
        <span class="calendar-end-date">
          <span class="ts-approve-calendar-text" ng-click="openCalender()">日历</span>
          <span ng-click="selectEndDate($event)" ng-cloak>截止日期: {{endApproveDate}}</span>
        </span>
      </div>
      <!--<div id="connect-block" class="connect-block" ng-show="showConnectBlock&&listInfoArray.listArray.length != 0">-->
      <!--</div>-->
    </div>
  </custom-head-bar>
  <ion-content class="ts-list-bg" has-bouncing="true" on-scroll="watchScroll()" on-drag="onDrag()"
               on-drag-up="onDragUp()"
               scrollbar-y="false"
               delegate-handle="approveListHandle"
    >
    <hms-loading ng-if="listInfoArray.loading" style="padding-top: 110px"></hms-loading>

    <ion-refresher on-refresh="tsListRefresh('pull_down')" ng-if="pullDownFlag" pulling-text="正在刷新数据..."
                   pulling-icon="ion-ios-loop">
    </ion-refresher>
    <!--<hms-no-data ng-if="listInfoArray.listArray.length == 0"></hms-no-data>-->
    <div>
      <div id="tsApproveList" class="ts-approve-list-item" ng-repeat="i in listInfoArray.listArray"
           ng-click="goApproveDetail($index,i.employee_number,i.project_id,i.start_date,i.end_date)">
        <div class="row first-content">
          <div class="name" ng-bind="i.employee_name">{{$index}}</div>
          <div class="job-number" ng-bind="i.employee_number"></div>
          <div class="city" ng-bind="i.base_address"></div>
          <div class="fly-back">flyback:</div>
          <div class="fly-icon"></div>
          <div class="fly-number" ng-cloak>x {{i.fly_back}}</div>
        </div>
        <div class="row second-content">
          <div class="name">补助:</div>
          <div class="number" ng-cloak ng-repeat="j in listInfoArray.listArray[$index].subsidy_list">
            {{j.subsidy_money}}*{{j.subsidy_days}}
          </div>
          <div class="number-icon" ng-click="getAttentionInfo($event,i.warn_list)" ng-if="i.warn_list.length >=1"></div>
        </div>
        <div ng-class={"select-list-ts":selectArray[$index],"un-select-list-ts":!selectArray[$index]}
             ng-if="!showDetailArrow"></div>
        <div class="arrow-item" ng-if="showDetailArrow"></div>
        <div class="row second-content">
          <div class="name">项目:</div>
          <div class="number" ng-bind="i.project_name"></div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll ng-if="listInfoArray.busy" on-infinite="listInfoArray.nextPage()"
                         distance="1%">
    </ion-infinite-scroll>

  </ion-content>
  <div id="rocket" class="rocket-icon" ng-if="showRocket" ng-click="goTsLsTop()"></div>
  <ion-footer-bar class="foot-bar" style="bottom: 0px;" ng-if="showDetailArrow">
    <div class="buttons">
      <button class="button button-clear filter-icon" ng-click="filterTsInfo()">
      </button>
      <div class="filter-text" ng-click="filterTsInfo()">筛选</div>
      <!--<button class="button button-clear time-icon">-->
      <!--</button>-->
      <!--<div class="time-text">时间</div>-->
    </div>
  </ion-footer-bar>
  <footer-select
    style="bottom: 0px;"
    ng-if="!showDetailArrow"
    select-all-item="selectAllList()"
    pass-through="passThroughListItem()"
    refuse="refuseListItem()"
  </footer-select>
</ion-view>
<script id="endDate.html" type="text/ng-template">
  <ion-popover-view class="light-bg end-date-pop-container transform-popover">
    <div id="popover-date{{$index}}" class="padding row end-date-container" ng-repeat="i in endDateList">
      <span class="col col-center end-date-info"
            ng-click="selectEndDateItem(i.dateCode,i.dateValue,$index)"
            ng-class="{'ts-end-date-item':selectEndItem[$index]}"
            ng-bind="i.dateValue"></span>
    </div>
  </ion-popover-view>
</script>

