<ion-view view-title="Timesheet审批">
  <!--<div class="custom-head">-->
  <!--<div class="row custom-first-head">-->
  <!--<button class="button button-clear back-button"-->
  <!--ng-click="$ionicGoBack()">-->
  <!--<i class="ion-ios-arrow-back"></i>-->
  <!--<span class="back-text">返回</span>-->
  <!--</button>-->
  <!--<button class="button button-clear action-button" ng-click="doSelectAction()" ng-cloak>-->
  <!--{{actionName}}-->
  <!--</button>-->
  <!--</div>-->
  <!--<div class="ts-list-title">Timesheet审批</div>-->
  <!--<div class="custom-second-head">-->
  <!--<div class="row bg-input">-->
  <!--<button class="button button-clear calendar-icon">-->
  <!--<span class="calendar-text">日历</span>-->
  <!--</button>-->
  <!--<span class="calendar-end-date">截止日期: 5月21日</span>-->
  <!--</div>-->
  <!--<div id="connect-block" class="connect-block" ng-show="showConnectBlock">-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <custom-head-bar action-name="操作" custom-title="Timesheet审批" go-back-page="$ionicGoBack()" do-action="doSelectAction()">
    <div class="custom-second-head">
      <div class="row bg-input">
        <button class="button button-clear calendar-icon">
          <span class="calendar-text">日历</span>
        </button>
        <span class="calendar-end-date">截止日期: 5月21日</span>
      </div>
      <div id="connect-block" class="connect-block" ng-show="showConnectBlock">
      </div>
    </div>
  </custom-head-bar>

  <ion-content class="ts-list-bg" has-bouncing="true" on-scroll="watchScroll()" on-drag="onDrag()"
               on-drag-up="onDragUp()"
               scrollbar-y="false">
    <ion-refresher on-refresh="tsListrefresh()" pulling-text="正在刷新数据..." pulling-icon="ion-ios-loop">
    </ion-refresher>
    <div id="tsApproveList" class="ts-approve-list-item" ng-repeat="i in listInfoArray"
         ng-click="goApproveDetail($index)">
      <div class="row first-content">
        <span class="name">成志维</span>
        <span class="job-number">4040</span>
        <span class="city">上海</span>
        <span class="fly-back">flyback:</span>
        <span class="fly-icon"></span>
        <span class="fly-number">x 1</span>
      </div>
      <div class="row second-content">
        <span class="name">补助:</span>
        <span class="number">0*2</span>
        <span class="number-icon" ng-click="getAttentionInfo($event)"></span>
      </div>
      <div ng-class={"select-list-ts":selectArray[$index],"un-select-list-ts":!selectArray[$index]}
           ng-if="!showDetailArrow"></div>
      <div class="arrow-item" ng-if="showDetailArrow"></div>
      <div class="row sec-content">
        <span class="name">项目:</span>
        <span class="number">汉得内部项目-无项目</span>
      </div>
    </div>
  </ion-content>
  <div id="rocket" class="rocket-icon" ng-if="showRocket" ng-click="goTsLsTop()"></div>
  <ion-footer-bar class="foot-bar" ng-if="showDetailArrow">
    <div class="buttons">
      <button class="button button-clear filter-icon" ng-click="filterTsInfo()">
      </button>
      <div class="filter-text" ng-click="filterTsInfo()">筛选</div>
      <button class="button button-clear time-icon">
      </button>
      <div class="time-text">时间</div>
    </div>
  </ion-footer-bar>
  <footer-select
    ng-if="!showDetailArrow"
    select-all-item="selectAllList()"
    pass-through="passThroughListItem()"
    refuse="refuseListItem()">
  </footer-select>
</ion-view>
