 <ion-modal-view class="departmentModal" style="top: 0;">
    <ion-header-bar style="background-color: #f8f8f8">
      <button class="button button-clear" ng-click="closeDepartmentModal()" style="color: #333">返回</button>
      <h1 class="title">部门选择</h1>
      <button class="button button-clear" ng-click="clearDepartmentChoose()" style="color: #333">清选</button>
    </ion-header-bar>

    <ion-content>
      <div class="row header-search">
        <div class="input-left" style="width: 10%;"><i class="ion-ios-search"></i></div>
        <div style="width: 90%;">
          <input class="input-search" placeholder="输入部门名称" ng-model='param.filter'/>
        </div>
      </div>
      <ion-list>
        <ion-item style="padding: 0.25rem 0.5rem" ng-repeat="item in departmentItems| filter:param.filter">
          <div class="row" ng-click="departmentChoose(item)">
            <!--<span style="font-size: 0.875rem">{{item.value}}</span>-->
            <span style="font-size: 0.875rem">{{item.name}}</span>

          </div>
        </ion-item>
      </ion-list>
      <!--<ion-infinite-scroll on-infinite="" ng-if="" immediate-check="false"></ion-infinite-scroll>-->
    </ion-content>
  </ion-modal-view>

</script>
