<ion-modal-view class="employeeModal">
    <ion-header-bar style="background-color: #f8f8f8">
      <button class="button button-clear" ng-click="closeEmployeeModal()" style="color: #333">返回</button>
      <h1 class="title">员工选择</h1>
      <button class="button button-clear" ng-click="clearEmployeeChoose()" style="color: #333">清选</button>
    </ion-header-bar>
    <ion-content>
      <!--<ion-refresher pulling-text="下拉刷新" on-refresh=""></ion-refresher>-->
      <div class="row header-search">
        <div class="input-left" style="width: 10%;"><i class="ion-ios-search"></i></div>
        <div style="width: 70%;">
          <input class="input-search" placeholder="输入工号或姓名" ng-model='test.enterEmployeeName'/>
        </div>
        <div class="input-right" style="width: 20%;" ng-click="employeeSearch()">
          <span class="font-search">查询</span>
        </div>
      </div>
      <ion-list>
        <ion-item style="padding: 0.25rem 0.5rem" ng-repeat="item in employeeItems">
          <div class="row" ng-click="employeeChoose(item)">
            <span style="font-size: 0.875rem;white-space:normal;">{{item.name}}</span>
          </div>
        </ion-item>
      </ion-list>
      <!--<ion-infinite-scroll on-infinite="" ng-if="" immediate-check="false"></ion-infinite-scroll>-->
    </ion-content>
  </ion-modal-view>
