.flyback-query-view{
  .fb-query-block {
    background-color: #FFFFFF;
    height: 200px;
    box-shadow: 0 1px #b9b9b9;
  }

  .fb-item-icon {
    width: 10%;
    max-width: 100px;
    margin-left: 7px;
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
  }

  .fb-item-title1 {
    width: 15%;
    max-width: 100px;
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .fb-item-content1 {
    width: 75%;
    float: right;
    height: 35px;
    line-height: 35px;
    background-color: #FFFFFF;
  }

  .fb-item-title2 {
    width: 25%;
    max-width: 100px;
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .fb-item-content2 {
    width: 65%;
    float: right;
    height: 35px;
    line-height: 35px;
    background-color: #FFFFFF;
    text-align: right;
  }

  .fb-line {
    background-color: #ececec;
    height: 1px;
    width: 87%;
    margin-left: 13%;
  }

  .fb-query-button {
    border: none;
    background-color: #FFBE00;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
    color: #FFFFFF;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
  }

  .fb-vertical-line {
    height: 100%;
    background-color: #ececec;
    width: 1px;
    float: right;
    position: fixed;
    margin-top: -15px;
    margin-left: 10px;
  }

  .fb-circle-green {
    width: 8px;
    height: 8px;
    background: #00E371;
    border-radius: 4px;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 10px;
    float: right;
    position: fixed;
  }

  .fb-circle-blue {
    width: 8px;
    height: 8px;
    background: #6DACE7;
    border-radius: 4px;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 7px;
    float: right;
    position: fixed;
  }

  .fb-line2 {
    background-color: #ececec;
    height: 1px;
    width: 99%;
    margin-top: -15px;
    margin-left: -8px;
    margin-right: 0;
    position: fixed;
  }

  .fb-reqdate {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: -13px;
    margin-left: 15px;
  }

  .fb-status-green {
    float: right;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #00E371;
    text-align: right;
    margin-top: -13px;
    position: fixed;
    margin-left:55%;
  }

  .fb-status-blue {
    float: right;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #6DACE7;
    text-align: right;
    margin-top: -13px;
    position: fixed;
    float:left;
    margin-left:55%;
  }

  .fb-project {
    font-size:14px;
    width: 95%;
    margin-left: 15px;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    margin-top: -15px;
    max-height: 40px;
    z-index:-1;
  }

  .fb-manager {
    font-size: 14px;
    width: 95%;
    margin-left: 15px;
    position:absolute;
    background-color:#FFFFFF;
    z-index:200;
  }
}

.flyback-query-select-model{
  .fb-modal-list {
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    padding-left: 8px;
    border-bottom: #e5e5e5 1px solid;
  }
}


#departmentModal .header-search {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0.5rem 0.75rem;
}

#departmentModal .input-search {
  width: 100%;
  height: 2rem;
  padding: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#departmentModal .input-left {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #555;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 0.375rem 0 0 0.375rem;
  float: left;
}

#departmentModal .font-search {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #999;
  float: left;
}

#departmentModal .input-right {
  height: 2rem;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 0 0.375rem 0.375rem 0;
  padding: 0.25rem;
  float: left;
}

#departmentModal .input-right.active,
#departmentModal .input-right.activated {
  background-color: #eee;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

#departmentModal{
  top: 0;
  .xbr-header-bar{
    button{
      color: #333
    }
  }
  .bar-subheader{
    background-color:#f8f8f8;
    .input-left{
      width: 10%;
    }
    .xbr-center{
      width: 90%;
      float:left;
    }
  }

}

.flyback-query-view ion-content{
  overflow: hidden;
  .fb-query-block{
    .row:nth-child(1){
      height: 40px;
      div:nth-child(1){
        color:#687F87;
      }
      input{
         width:95%;
         color:#888888;
         background-color: #FFFFFF;
         margin-top: 1px;
         text-overflow:ellipsis;
      }
    }
    .row:nth-child(2){
      height: 40px;
      div:nth-child(1){
        color:#687F87;
      }
      input{
        background: none;
        color:#888888;
        font-size: 13px;
        width:100%;
        text-align: right;
      }
    }
    .row:nth-child(3){
      height: 40px;
      div:nth-child(1){
        color:#687F87;
        input{
          background: none;
          color:#888888;
          font-size: 13px; 
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  .xbr-div-2{
    width:100%;
    height:20px;
    background-color: #ececec;
    text-align:center;
    font-size:12px;
    color:#FFBE00;
  }
  .xbr-ion-list{
    margin-top:20px;
    padding: 0;
    border:none;
    .xbr-ion-item{
      background-color: #FFFFFF;
      height: 115px;
      padding: 0;
      margin: 0;border:none;
      .xbr-item-inner{
        width: 100%;
        margin: 0;padding: 0;
        div:nth-child(1){
          width:7%;
          height:115px;
          float:left;
        }
        div:nth-child(2){
          width:93%;
          height:115px;
          float:left;
        }
        .xbr-flag-a{
          width:100%;
          margin-top:16px;
          height:30px;
        }
      }
    }
  }
}




