<ion-view view-title="机票预定" class="flyback-query-view">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
        <span class="back-text">返回</span>
      </button>
    </div>
    <h1 class="title">订票信息</h1>
    <div class="buttons">
      <button class="button button-clear">
        <span class="barRightButton">{{currentYear}}</span>
      </button>
    </div>
  </ion-header-bar>

  <ion-content style="background-color: #ececec;">
    <div class="fb-query-block">
      <!--项目-->
      <div class="row">
        <div class="ion-ios-paper fb-item-icon"></div>
        <div class="fb-item-title1">项目：</div>
        <div class="fb-item-content1" ng-click="openModal('project')">
            <input type="text" ng-readonly="true" required
               ng-model="param.projectName"
               placeholder="--请选择项目--"/></div>
      </div>
      <div class="fb-line"></div>
      <!--申请日期从-->
      <div class="row">
        <div class="ion-ios-calendar-outline fb-item-icon"></div>
        <div class="fb-item-title2">申请日期：</div>
        <div class="fb-item-content2"><input type="date" class="text-input--underbar width-full" ng-readonly="false" required ng-model="param.reqDateFrom" style="padding-top: 2px;background-color: transparent">
        </div>
      </div>
      <div class="fb-line"></div>
      <!--申请日期到-->
      <div class="row">
        <div class="ion-ios-calendar-outline fb-item-icon"></div>
        <div class="fb-item-title2">申请日期到</div>
        <div class="fb-item-content2"><input type="date" class="text-input--underbar width-full" ng-readonly="false"
                                             required
                                             ng-model="param.reqDateTo" style="padding-top: 2px;background-color: transparent">
        </div>
      </div>
      <div class="fb-line"></div>
      <!--查询-->
      <button class="fb-query-button" ng-click="query()">
        查询
      </button>
    </div>
    <div class="xbr-div-2" ng-show="flybackList.length>0">--往左滑动可删除“编辑”状态的数据--
    </div>
    <!--query-result-->
    <ion-list style="margin-top:20px;padding: 0;border:none;" ng-show="flybackList.length>0">
      <ion-item style="background-color: #FFFFFF;height: 115px;padding: 0;margin: 0;border:none;"
                ng-repeat="data in flybackList"
                ng-click="goDetail(data)">
        <div style="width: 100%;margin: 0;padding: 0">
          <div style="width:7%;height:115px;float:left;">
            <div class="fb-vertical-line"></div>
            <div class="fb-circle-blue" ng-show="data.isSubmitted=='0'"></div>
            <div class="fb-circle-green" ng-show="data.isSubmitted=='1'"></div>
          </div>
          <div style="width:93%;height:115px;float:left; ">
            <div class="fb-line2" ng-show="($index>0)"></div>
            <div style="width:100%;margin-top:16px;height:30px;">
              <div class="fb-reqdate">{{data.applyDate}}</div>
              <div class="fb-status-blue" ng-show="data.isSubmitted=='0'">{{data.status}}</div>
              <div class="fb-status-green" ng-show="data.isSubmitted=='1'">{{data.status}}</div>
            </div>
            <div class="fb-project">{{data.projectName}}</div>
            <div class="fb-manager">项目经理：{{data.managerName}}</div>
          </div>

        </div>
        <ion-option-button class="button-assertive" ng-click="deleteFB(data.applyId,$index)"
                           ng-show="data.isSubmitted=='0'">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
